.DashboardAllViewportsConfComponent
    template(v-for='viewport in all_viewports')
        .viewport_conf_wrapper(@click='select_viewport(viewport)' :class='{ "selected": viewport.id == get_selected_viewport?.id }')
            .viewport_conf
                .is_viewport_activated(@click='switch_viewport_activation(viewport)' :class='{ "activated": activated_viewports_by_id[viewport.id], "disabled": viewport.is_default }')
                    i.fa-duotone.fa-check-circle.fa-fw(aria-hidden="true" v-if='activated_viewports_by_id[viewport.id]')
                .name.display_inline_block
                    Inlinetranslatabletext(:code_text="viewport.name" :is_editable="can_edit")
                .edit.display_inline_block.ml-3(v-if='can_edit')
                    i.fa-duotone.fa-pencil.btn-primary(aria-hidden="true" @click.stop='edit_viewport(viewport)')
                .delete.display_inline_block.ml-3(v-if='can_delete')
                    i.fa-duotone.fa-trash.btn-danger(aria-hidden="true" @click.stop='delete_viewport(viewport)')
    .viewport_conf_wrapper(@click='create_new_viewport' v-if='can_create')
        .viewport_conf
            .viewport_conf_empty
                i.fa-duotone.fa-plus-circle.fa-fw(aria-hidden="true")
                | {{ label('dashboard_builder.viewports_conf.add_viewport') }}