.col-sm-12.fixed(v-if="columndata")
    div(v-if="column && column.is_decimal")
        .row(v-if="columndata.value != null")
            span(:class="columndata.classLabelData") {{ const_filters.toFixed.read(columndata.value, 1) }}
        .row(v-if="columndata.moyenne != null")
            span.italic(:class="columndata.classLabelData") {{ const_filters.toFixed.read(columndata.moyenne, 1) }}

    div(v-else-if="column && column.trend")
        trend_widget(:positive_min="0.1", :medium_min="0", :column_data="columndata")
        
    div(v-else)
        .row(v-if="columndata.value != null")
            span(:class="columndata.classLabelData") {{ const_filters.toFixed.read(columndata.value) }}
        .row(v-if="columndata.moyenne != null")
            span.italic(:class="columndata.classLabelData") {{ const_filters.toFixed.read(columndata.moyenne) }}