template(v-if='inline_input_mode && (!is_disabled) && ((!inline_input_mode_input_only) || auto_validate_inline_input)')
    template(v-if="show_pencil_btn")
        i.fa-duotone.fa.fa-pencil.valign-middle.hidden-print
    template(v-if='inline_input_is_editing || auto_validate_inline_input')
        template(v-if="auto_validate_inline_input_delay_sec > 0")
            i.inline_input_is_editing.fa.fa-duotone.fa-floppy.btn-success(@click='validate_inline_input' :class="{busy: inline_input_is_busy, auto_validate: auto_validate_inline_input, is_auto_validating: auto_validate_inline_input && (inline_input_is_busy || !!auto_validate_start)}")
    template(v-else-if='!auto_validate_inline_input')
        i.inline_input_is_not_editing.fa.fa-duotone.fa-pencil.btn-primary(@click='prepare_inline_input' :class="{busy: inline_input_is_busy}")