include ../../../../../views/mixins/loading.pug

.field(
    v-if="display_field"
    :field="field.datatable_field_uid", :field_type="field_type" v-tooltip.left='label(field.tooltip)'
    :class="{'special_placeholder_field': special_placeholder, 'has_value': (field_value && (field_value.length > 0 || (field_value.toString().length > 0)))}")
    template(v-show='!isLoadingOptions')
        template(v-show="!field.hidden")

            template(v-if="for_export")
                label {{ label_replacement ? label(label_replacement) : t(field.translatable_title) }} :
                .field_value
                    template(v-if="(field.type == 'Simple') || (field.type == 'INPUT')")
                        template(v-if="field_type == 'enum'")
                            span {{ field.enumIdToHumanReadable(field_value) }}

                        template(v-else-if="field_type == 'boolean'")
                            template(v-if="field_value == true")
                                span {{ label('crud.field.boolean.true') }}
                            template(v-else-if='field_value == false')
                                span {{ label('crud.field.boolean.false') }}
                            template(v-else)
                                span {{ label('crud.field.boolean.n_a') }}

                        template(v-else)
                            span {{ filtered_value }}
                    template(v-else)
                        span {{ field.voIdToHumanReadable(field_value) }}

            template(v-else)
                template(v-if="field.type == 'Simple' || field.type == 'INPUT'")
                    include ./simple_input_types.pug

                template(v-else-if="field.type == 'RefRanges'")
                    include ./refranges_input.pug

                template(v-else-if="field.type == 'ManyToOne'")
                    include ./manytoone_input.pug

                template(v-else-if="(field.type == 'OneToMany') || (field.type == 'ManyToMany')")
                    include ./onetomany_input.pug

                template(v-if="field_description")
                    .description.italic.mb-2 {{ field_description }}

                template(v-if="show_inline_form_in_crud")
                    fieldset
                        legend
                            span {{ label('crud.insert_or_update_target') }}

                        template(v-if="show_inline_form_in_crud_is_create")
                            Crudcreateformcomponent(
                                ref="Crudcreateformcomponent"
                                :close_on_submit="true"
                                :show_insert_or_update_target="show_insert_or_update_target"
                                :api_type_id="field.targetModuleTable.vo_type"
                                :vo_init="vo_of_field_value"
                                :show_placeholder="show_placeholder"
                                :inline_form_in_crud="true"
                                @close='close_inline_form_in_crud'
                                @cancel='close_inline_form_in_crud'
                                @vo_create="create_inline_form_in_crud"
                            )

                        template(v-else)
                            Crudupdateformcomponent(
                                ref="Crudupdateformcomponent"
                                :close_on_submit="true"
                                :selected_vo="vo_of_field_value"
                                :show_insert_or_update_target="show_insert_or_update_target"
                                :show_placeholder="show_placeholder"
                                :inline_form_in_crud="true"
                                @close='close_inline_form_in_crud'
                                @cancel='close_inline_form_in_crud'
                                @vo_update="update_inline_form_in_crud"
                            )
