include ../../../../../views/mixins/loading.pug

.field(v-if="((field.type == 'INPUT') || (field.datatable_field_uid == field.module_table_field_id)) && (field.isVisibleUpdateOrCreate(vo))", :field="field.datatable_field_uid", :field_type="field_type")
    template(v-show='!isLoadingOptions')
        template(v-show="!field.hidden")
        
            template(v-if="field.type == 'Simple' || field.type == 'INPUT'")
                include ./simple_input_types.pug

            template(v-else-if="field.type == 'RefRanges'")
                include ./refranges_input.pug

            template(v-else-if="field.type == 'ManyToOne'")
                include ./manytoone_input.pug

            template(v-else-if="(field.type == 'OneToMany') || (field.type == 'ManyToMany')")
                include ./onetomany_input.pug
            
            template(v-if="description")
                .description.italic.mb-2 {{ description }}