include ../../../../../views/mixins/loading.pug

.field(
    v-if="((field.type == 'INPUT') || (field.datatable_field_uid == field.module_table_field_id) || (field.semaphore_auto_update_datatable_field_uid_with_vo_type && (field.datatable_field_uid == (field.moduleTable.vo_type + '___' + field.module_table_field_id)))) && (field.isVisibleUpdateOrCreate(vo))"
    :field="field.datatable_field_uid", :field_type="field_type" v-tooltip.left='label(field.tooltip)'
    :class="{'special_placeholder_field': special_placeholder, 'has_value': (field_value && (field_value.length > 0 || (field_value.toString().length > 0)))}")
    template(v-show='!isLoadingOptions')
        template(v-show="!field.hidden")

            template(v-if="for_export")
                label {{ label_replacement ? label(label_replacement) : t(field.translatable_title) }} :
                .field_value
                    template(v-if="(field.type == 'Simple') || (field.type == 'INPUT')")
                        template(v-if="field_type == 'enum'")
                            span {{ field.enumIdToHumanReadable(field_value) }}

                        template(v-else-if="field_type == 'boolean'")
                            template(v-if="field_value == true")
                                span {{ label('crud.field.boolean.true') }}
                            template(v-else-if='field_value == false')
                                span {{ label('crud.field.boolean.false') }}
                            template(v-else)
                                span {{ label('crud.field.boolean.n_a') }}

                        template(v-else)
                            span {{ field_value }}
                    template(v-else)
                        span {{ field.voIdToHumanReadable(field_value) }}

            template(v-else)
                template(v-if="field.type == 'Simple' || field.type == 'INPUT'")
                    include ./simple_input_types.pug

                template(v-else-if="field.type == 'RefRanges'")
                    include ./refranges_input.pug

                template(v-else-if="field.type == 'ManyToOne'")
                    include ./manytoone_input.pug

                template(v-else-if="(field.type == 'OneToMany') || (field.type == 'ManyToMany')")
                    include ./onetomany_input.pug

                template(v-if="description")
                    .description.italic.mb-2 {{ description }}