.form-group(:class="{[field_type]:true, inline_input_mode:inline_input_mode, auto_validate_inline_input:auto_validate_inline_input, has_alert:(get_alerts && get_alerts[alert_path] && (get_alerts[alert_path].length > 0))}" @click='try_prepare_inline_input')

    template(v-if='inline_input_mode && (!is_disabled) && (!inline_input_mode_input_only) && (!auto_validate_inline_input)')
        template(v-if='!inline_input_is_editing')
            template(v-if='inline_input_show_clear && !field.is_required')
                i.inline_input_show_clear.fa.fa-trash.btn-danger(@click='inline_clear_value' :class="{busy: inline_input_is_busy}")
            template(v-else)
                i.inline_input_hide_clear.fa.fa-arrow-circle-o-right.btn-info(:class="{busy: inline_input_is_busy}")
        template(v-else)
            i.inline_input_cancel_input.fa.fa-undo.btn-warning(@click='cancel_input' :class="{busy: inline_input_is_busy}")

    Alertcomponent.datatable_field_alert.manytoone_datatable_field_alert(:path='alert_path')

    template(v-if='(!inline_input_mode) || (!inline_input_hide_label)')
        label(v-if="show_title") {{ label_replacement ? label(label_replacement) : t(field.translatable_title) }}
            template(v-if="field.is_required")
                i.fa.fa-asterisk.mandatory

    //- template(v-if='is_readonly')
    //- template(v-else)
    .btn-group.link_ref.hidden-print(v-show='can_insert_or_update_target && show_insert_or_update_target')
        template(v-if="field_value")
            a.btn.btn-sm.btn-primary(:href="get_crud_link(field.targetModuleTable.vo_type, field_value)" :target="!is_dashboard_builder ? '_blank' : ''")
                i.fa.fa-pencil
        template
        a.btn.btn-sm.btn-success(:href="get_crud_link(field.targetModuleTable.vo_type, null)" :target="!is_dashboard_builder ? '_blank' : ''")
            i.fa.fa-plus-circle

    multiselect(
        v-model="field_value",
        :custom-label="field.voIdToHumanReadable",
        :options="select_options",
        autocomplete="off"
        :placeholder="t(placeholder_string)",
        :loading="isLoadingOptions",
        :id="field.datatable_field_uid",
        :searchable="searchable",
        :internal-search="false",
        :allow-empty="!field.is_required",
        :preselect-first="field.is_required",
        :disabled="is_readonly || (inline_input_mode && ((!inline_input_is_editing) || inline_input_is_busy))",
        @search-change="asyncLoadOptions",
        @input="onChangeField"

        :select-label='label("multiselect.selectLabel")'
        :select-group-label='label("multiselect.selectGroupLabel")'
        :selected-label='label("multiselect.selectedLabel")'
        :deselect-label='label("multiselect.deselectLabel")'
        :deselect-group-label='label("multiselect.deselectGroupLabel")'
    )

    template(v-if='inline_input_mode && (!is_disabled) && ((!inline_input_mode_input_only) || auto_validate_inline_input)')
        template(v-if='inline_input_is_editing || auto_validate_inline_input')
            i.inline_input_is_editing.fa.fa-floppy-o.btn-success(@click='validate_inline_input' :class="{busy: inline_input_is_busy, auto_validate: auto_validate_inline_input, is_auto_validating: auto_validate_inline_input && (inline_input_is_busy || !!auto_validate_start)}")
        template(v-else-if='!auto_validate_inline_input')
            i.inline_input_is_not_editing.fa.fa-pencil.btn-primary(@click='prepare_inline_input' :class="{busy: inline_input_is_busy}")

