.form-group(:class="{[field_type]:true, inline_input_mode:inline_input_mode, has_alert:(get_alerts && get_alerts[alert_path] && (get_alerts[alert_path].length > 0))}" @click='try_prepare_inline_input')
    Alertcomponent.datatable_field_alert.refranges_datatable_field_alert(:path='alert_path')
    label {{ label_replacement ? label(label_replacement) : t(field.translatable_title) }}
        template(v-if="field.is_required")
            i.fa.fa-asterisk.mandatory

    .btn-group.link_ref.hidden-print(v-show='can_insert_or_update_target && show_insert_or_update_target')
        template(v-if="field_value")
            a.btn.btn-sm.btn-primary(:href="'/admin#' + getCRUDUpdateLink(field.targetModuleTable.vo_type, field_value)" target='_blank')
                i.fa.fa-pencil
        template
        a.btn.btn-sm.btn-success(:href="'/admin#' + getCRUDCreateLink(field.targetModuleTable.vo_type)" target='_blank')
            i.fa.fa-plus-circle

    multiselect(
        :preselect-first="false",
        :multiple="true",
        :close-on-select="false"
        v-model="field_value_refranges_selected_ids",
        :custom-label="field.voIdToHumanReadable",
        :options="select_options",
        :placeholder="t(field.translatable_place_holder)",
        :loading="isLoadingOptions",
        autocomplete="off"
        :id="field.datatable_field_uid",
        :searchable="searchable",
        :internal-search="false",
        :allow-empty="!field.is_required",
        :disabled="is_readonly",
        @search-change="asyncLoadOptions",
        @input="onChangeField"

        :select-label='label("multiselect.selectLabel")'
        :select-group-label='label("multiselect.selectGroupLabel")'
        :selected-label='label("multiselect.selectedLabel")'
        :deselect-label='label("multiselect.deselectLabel")'
        :deselect-group-label='label("multiselect.deselectGroupLabel")'
    )
    template(v-if="!is_readonly")
        .text_cliquable(@click='select_all') {{ label('select_all') }}
        .inter_text -
        .text_cliquable(@click='select_none') {{ label('select_none') }}