@import 'skin-variables.scss';

.var_mixed_charts_widget_options_component {
    background-color: $input_editable_bg_color;
    border: $table_border;
    border-radius: 8px;
    padding: 1rem;

    .container {
        display: inline-flex;

        .input_label {
            margin-left: 1rem;
        }
    }

    // ======================================================
    // Les blocs section
    // ======================================================
    .section {
        border: $table_border;
        border-radius: 6px;
        margin-bottom: 1.5rem;
        background-color: $input_editable_bg_color;

        .section-header {
            cursor: pointer;
            padding: 0.75rem 1rem;
            background-color: $button_primary_bg_color; // Couleur brand
            color: $button_text_color; // Texte en blanc ou autre
            border-radius: 6px 6px 0 0;
            display: flex;
            align-items: center;

            h4 {
                flex-grow: 1;
                margin: 0;
                font-size: 1rem;
                line-height: normal;
            }

            i.icon {
                margin-left: 0.5rem;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .section-content {
            padding: 1rem;
            background-color: $input_editable_bg_color;
            border-radius: 0 0 6px 6px;

            .bg_color_picker {
                border-color: #002454;
                border-width: thin;
                border: solid;
            }
        }
    }

    // ======================================================
    // Titles, labels, inputs
    // ======================================================
    .options_separator_lvl1 {
        font-size: 1rem;
        margin-top: 1em;
        background-color: $input_editable_bg_color;
        text-align: center;
        border-radius: 1em;
        padding: 0.5em;
        font-weight: bold;
        margin-bottom: 0.3em;
        color: $header_text_color; // ou $light_warning, selon ce que tu veux
    }

    .options_separator_lvl2 {
        margin-top: 1em;
        text-align: center;
        text-decoration: underline;
        color: $header_text_color;
        font-weight: 600;
    }

    >div {
        margin-bottom: 0.5em;

        .input_label {
            font-size: 0.9rem;
            margin-bottom: 0.3rem;
            display: inline-block;
        }

        input[type="text"],
        input[type="number"],
        .multiselect__input {
            width: 100%;
            padding: 0.5em;
            border: $table_border;
            border-radius: 4px;
            font-size: 0.9rem;
            transition: border-color 0.2s ease;

            &:focus {
                outline: none;
                border-color: $light_warning; // Pour un focus coloré
            }
        }
    }
}