@import "skin-variables.scss";

.document_handler_need_info {
    position: fixed;
    bottom: 10px;
    right: 190px;
    background: $main_menu_active_bg_color;
    color: white;
    padding: 4px 8px 5px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;

    i {
        font-size: 24px;
        vertical-align: middle;
        line-height: 0.8em;
    }

    span {
        vertical-align: middle;
        margin-left: 5px;
        line-height: 1em;
    }

    &:hover {
        background: $header_text_color;
    }
}