.diagram-container(ref="diagramContainer"
  @wheel.prevent="onWheel"
  @mousedown="onMouseDown"
  @mousemove="onMouseMove"
  @mouseup="onMouseUp")
  .diagram-wrapper(:style="wrapperStyle")

    // blocks
    DiagramBlock(
      v-for="(pos, itemId) in blockPositions"
      :key="itemId"
      :block-pos="pos"
      :item="items[itemId]"
      :getStateIcon="getStateIcon"
      :isSelected="itemId === selectedItem"
      @clickBlock="onBlockClicked"
    )

    AddMenu(
      v-if="menuPlus.visible"
      :style="{ position: 'absolute', left: (menuPlus.x + 'px'), top: (menuPlus.y + 'px') }"
      :agentId="menuPlus.agentId"
      :options="menuPlus.options"
      @close="closePlusMenu"
      @selectOption="onAddChild"
    )
    // liens
    DiagramLink(
      v-for="(lk, idx) in drawnLinks"
      :key="lk.sourceItemId + '_' + lk.targetItemId + '_' + idx"
      :link="lk"
    )

  // tooltip
  .diagram-tooltip(v-if="hoveredItemId" :style="{position: 'absolute',left: hoveredX + 10 + 'px',top: hoveredY + 10 + 'px',background: 'rgba(0,0,0,0.7)',color: '#fff',padding: '4px 6px',borderRadius: '4px',pointerEvents: 'none'}")
    | {{ hoveredItemId }}
