.single_vo_field_ref_holder {

    .vo_ref_field_receiver_placeholder {
        width: 100%;
        height: 5em;
        padding: 2em;
        text-align: center;
        background: darkgray;
        color: #EEE;
        text-transform: uppercase;
    }
}