.table_widget_column {

    .new_column_select_type {
        padding: 1em;
        background: white;
        margin: 0.5em 0em;

        .new_column_select_type_label {
            margin-bottom: 1em;
            color: dodgerblue;
        }

        .new_column_select_type_vo_field_ref {
            .vo_ref_field_receiver_placeholder {
                width: 100%;
                height: 5em;
                padding: 2em;
                text-align: center;
                background: darkgray;
                color: #EEE;
                text-transform: uppercase;
            }
        }

        .new_column_select_type_var_ref {
            margin-top: 0.5em;
        }
    }

    .table_widget_column_conf {

        padding: .2em 0em;

        .hide_options,
        .show_options,
        .remove_column {
            display: inline-block;
            padding: 0.2em 0.4em;
            background: indianred;
            color: #EEE;
            border-radius: 2px;
            cursor: pointer;
            margin-top: 1px;
            margin-left: 6px;

            i {
                width: 0.8em;
            }
        }

        .remove_column {
            background: indianred;
        }

        .hide_options,
        .show_options {
            background: grey;
        }

        .editable_column, .exportable_column, 
        .hide_from_table_column {
            display: inline-block;
        
            >label {
                margin: 3px;
            }
        }

        .column_width {
            display: inline-block;
            
            >input[type="number"] {
                width: 4rem;
                margin: 3px;
                border: solid 1px #BBB;
                border-radius: 2px;
            }
        }

        .column_label {
            display: inline-block;
        }

        .enum_bg_color,
        .enum_fg_color,
        .enum_preview {
            display: inline-block;

            .color-block {
                width: 20px;
                height: 20px;
                box-shadow: 1px 1px 5px #888;
                margin: 3px;
            }
        }

        .enum_preview {
            padding: 2px 4px;
            vertical-align: bottom;
            border-radius: 4px;
            text-align: center;
        }
    }
}