include ../../../views/mixins/loading.pug

.rootElt.checklist
    +loading()
        .row
            .col-md-2
                button.btn.btn-primary(type='button', @click="createNew") {{ label('checklist.createNew') }}

        .row
            .col-md-12

        .row.form-group
            .col-md-4
                input.form-control(type='text' :placeholder='label("checklist.filter_text")' v-model="filter_text")
            .col-md-8.legend(v-if="checklist && checklist.show_legend")
                .div {{ label('checklist.legend.checkpoint.state.legend') }}
                .div
                    i.text-muted.fa.fa-fw.fa-circle
                    span {{ label('checklist.legend.checkpoint.state.disabled') }}
                .div
                    i.text-default.fa.fa-fw.fa-circle
                    span {{ label('checklist.legend.checkpoint.state.todo') }}
                .div
                    i.text-success.fa.fa-fw.fa-circle
                    span {{ label('checklist.legend.checkpoint.state.ok') }}
                .div
                    i.text-warning.fa.fa-fw.fa-circle
                    span {{ label('checklist.legend.checkpoint.state.warn') }}
                .div
                    i.text-danger.fa.fa-fw.fa-circle
                    span {{ label('checklist.legend.checkpoint.state.error') }}

        .row(v-if='has_checklistitems && ordered_checklistitems && ((ordered_checklistitems.length <= 15) || show_anyway)')
            .col-md-12
                table.table-striped.table-hover
                    thead
                        tr
                            th
                            th(v-for='label in infos_cols_labels') {{ t(label) }}
                            th(v-for='checkpoint in ordered_checkpoints') {{ label(checkpoint.name) }}
                            th.archive_item_title  {{ label('checklist.archive') }}
                    tbody
                        tr(v-for='checklist_item in ordered_checklistitems' is='Checklistitemcomponent' :key="checklist_item.id"
                            :checklist_item='checklist_item'
                            :checklist_controller='checklist_controller'
                            :ordered_checkpoints='ordered_checkpoints'
                            :global_route_path='global_route_path'
                            :hide_item_description='checklist.hide_item_description'
                            @onchangevo='onchangevo')

        .row(v-else-if='has_checklistitems && ordered_checklistitems && (ordered_checklistitems.length > 15)')
            .col-md-12
                .is_limited_by_number {{ label('checklist.is_limited_by_number', {limit: 15}) }}
                    button.action-button(@click="()=>{show_anyway=true}")
                        i.fa.fa-filter(aria-hidden="true")
                        span {{ label('checklist.toggle_limit_by_number') }}

        .row(v-else)
            .col-md-12
                .no_elts {{ label('checklist.no_elts') }}

    #checklist_item_modal.modal.fade.in(ref="checklist_item_modal", tabindex='-1', role='dialog')
        .modal-dialog.modal-lg(role='document')
            .modal-content(v-if="selected_checklist_item")
                .modal-header
                    a.btn.close(data-dismiss="modal" @click='close_modal') &times;
                    h4.modal-title {{ selected_checklist_item.name }}
                .modal-body
                    Checklistmodalcomponent(
                        @onchangevo='onchangevo'
                        :checklist_item='selected_checklist_item'
                        :checkpoint='selected_checkpoint'
                        :checklist_controller='checklist_controller'
                        :ordered_checkpoints='ordered_checkpoints'
                        :key='selected_checklist_item.id')

                .modal-footer
                    a.btn.btn-danger(data-dismiss="modal" @click='deleteSelectedItem(selected_checklist_item)') {{ label('checklist.checklist_item_modal.delete') }}
                    a.btn.btn-default(data-dismiss="modal" @click='close_modal') {{ label('checklist.checklist_item_modal.close') }}