.show_favorites_filters_widget_options_component {
    > div {
        margin-bottom: 0.5em;

        .input_label {
            font-size: small;
            color: #555;
        }

        input[type="text"] {
            padding: 0.3em;
            border: solid 1px #bbb;
            border-radius: 2px;

            &.multiselect__input {
                border: none;
            }
        }
    }
}
