.validation_filters_widget_icon
    template(v-if='!widget')
    template(v-else)
        .fa-stack.fa-lg.fa-fw(aria-hidden='true')
            i.fa.fa-filter.fa-stack-2x
            i.fa.fa-check.fa-stack-1x