.validation_filters_widget_icon {

    i.fa-solid.fa-check.fa-stack-1x {
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: auto;
        height: auto;
        color: dodgerblue;
        background: transparent;
        padding: 1px 3px;
        margin: 0;
        line-height: 1.1em;
    }

}
