.ModuleTablesComponent {
    width: 100%;
    height: 60vh;
    position: relative;

    canvas {
        width: 100%;
        height: 100%;
        display: block;
        border: 1px solid #ccc;
        cursor: grab;

        &:active {
            cursor: grabbing;
        }
    }

    // Exemple de style pour un bloc
    // On pourrait ajouter des variables SCSS, etc.
}