.ModuleTablesComponent
    // Conteneur principal pour le diagramme JointJS
    .uml-table-viewer
        // Élément HTML qui accueillera le "paper" JointJS
        div#joint-container(ref="jointContainer")
