.ModuleTablesComponent
    // Canvas
    canvas#diagramCanvas(
        ref="diagramCanvas"
        @mousedown="onMouseDown"
        @mousemove="onMouseMove"
        @mouseup="onMouseUp"
        @wheel.prevent="onWheel"
    )
