.ModuleTablesComponent {
    .uml-table-viewer {
        width: 100%;
        height: 80vh; // exemple: occupe 80% de la hauteur du viewport

        #joint-container {
            width: 100%;
            height: 100%;
            border: 1px solid #ccc;
            position: relative;
        }
    }

    // Stylisez au besoin les éléments communs de JointJS (ports, liens, etc.)
    // Ex. pour un plus gros label sur les liens :
    // .link .connection {
    //     stroke: #999;
    //     stroke-width: 1.5px;
    // }
}