.fileinput
    .row
        .col-sm-12        
            vue-dropzone(v-if="!readonly" :ref="'filedropzone' + uid" :id="'filedropzone' + uid" :options="dropzoneOptions")
                .dz-message
                    i.fa-solid.fa-upload.fa-3x(aria-hidden="true")
            template(v-if="(!!imagevo) && imagevo[field.module_table_field_id]")
                a.btn.btn-sm.btn-primary(:href="'/' + imagevo[field.module_table_field_id]" target='_blank')
                    i.fa-download.fa.fa-lg.btn_icon(aria-hidden="true")
                    | {{ label('file.download') }}