include ../../../../views/mixins/loading.pug

.rootElt
    +loading()
        .panel.panel-default(v-for="programs_category in programs_categories_ordered_by_weight" v-if='programs_category.nb_targets > 0')
            .panel-heading {{ programs_category.name }}
            .panel-body
                p {{ programs_category.description }}

            table.table.table-striped.table-hover.table-condensed
                thead
                    tr
                        th Nom
                        th Durée (Jours)
                        th Périmètre
                        th Total
                        th Début
                        th Fin
                        th.success Clos
                        th.success %
                        th.warning En cours
                        th.warning %
                        th.active Non initiés
                        th.active %
                        th.danger Hors délais
                        th.danger %
                tbody
                    tr.table_total_row
                        td Total
                        td
                        td {{ programs_category.nb_targets }}
                        td {{ programs_category.total_days }}
                        td {{ formatDate_FullyearMonthDay(programs_category.start_date) }}
                        td {{ formatDate_FullyearMonthDay(programs_category.end_date) }}
                        td {{ programs_category.nb_closed_targets }}
                        td {{ const_filters.percent.read(programs_category.nb_closed_targets / programs_category.nb_targets, 1) }}
                        td {{ programs_category.nb_ongoing_targets }}
                        td {{ const_filters.percent.read(programs_category.nb_ongoing_targets / programs_category.nb_targets, 1) }}
                        td {{ programs_category.nb_created_targets }}
                        td {{ const_filters.percent.read(programs_category.nb_created_targets / programs_category.nb_targets, 1) }}
                        td {{ programs_category.nb_late_targets }}
                        td {{ const_filters.percent.read(programs_category.nb_late_targets / programs_category.nb_targets, 1) }}

                    tr.clickable(v-for="program in programs_by_category[programs_category.id]" v-if='program.nb_targets > 0' @click="open_program(program)")
                        td {{ program.name }}
                        td {{ program.days_by_target }}
                        td {{ program.nb_targets }}
                        td {{ program.nb_targets * program.days_by_target }}
                        td {{ formatDate_FullyearMonthDay(program.start_date) }}
                        td {{ formatDate_FullyearMonthDay(program.end_date) }}
                        td {{ program.nb_closed_targets }}
                        td {{ const_filters.percent.read(program.nb_closed_targets / program.nb_targets, 1) }}
                        td {{ program.nb_ongoing_targets }}
                        td {{ const_filters.percent.read(program.nb_ongoing_targets / program.nb_targets, 1) }}
                        td {{ program.nb_created_targets }}
                        td {{ const_filters.percent.read(program.nb_created_targets / program.nb_targets, 1) }}
                        td {{ program.nb_late_targets }}
                        td {{ const_filters.percent.read(program.nb_late_targets / program.nb_targets, 1) }}
