button.btn.btn-primary(type='button', @click="custom_update_prep") {{ label('programplan.rdv_modal.update_prep.form_submit') }}
button.btn.btn-default(type='button', @click="custom_cancel_edition") {{ label('programplan.rdv_modal.create_prep.cancel') }}