@import 'skin-variables.scss';

#rdv_modal_prep {

    .rdv_confirmed input{
        margin-right: 5px;
        width: 1.5em;
        height: 1.5em;
        vertical-align: bottom;
        line-height: 1.5em;
    }

    .prep_title {
        color: #b3003c;
    }

    .prepsandnew {
        margin-top: 10px;

        label input {
            margin-left: 1em;
        }
    }

    .newprep, .updateprep {

        max-height: auto;
        overflow: hidden;

        textarea {
            width: 100%;
        }

        >h3 {
            color: $main_menu_bg_color;
            text-transform: uppercase;
        }

        >i {
            padding: 6px 8px;
            padding-bottom: 5px;
            background: $main_menu_bg_color;
            color: $main_menu_text_color;
        }

        >h3,
        >i {
            display: inline-block;
        }

        >i {
            margin-right: 10px;
        }

        .newprep_seemorl {
            font-size: 2em;
            display: inline-block;
            cursor: pointer;
        }
    }

    .newprep.newprep_seeless {
        max-height: 55px;
    } 

    .prep, .custom_prep_create_component, .custom_prep_update_component {
        padding: 10px;
        background: $main_sidebar_bg_color;
        color: initial;
        margin-bottom: 12px;
        text-align: left;

        pre {
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
        }

        b {
            display: block;
            font-size: 1.1em;
        }
        
        span {
            font-size: 1em;
        }

        >div {
            margin-bottom: 10px;
        }

        i.fa-trash {
            color: $danger_color;
            cursor: pointer;
            float: right;
            font-size: 1.5em;
        }

        i.fa-pencil {
            cursor: pointer;
            float: right;
            margin-right: 1em;
            font-size: 1.5em;
        }

        .quill-editor {
            background: white;        
        }
    }

    .infosContener {
        max-height: auto;
        overflow: hidden;
    }

    .seeless {
        max-height: 80px;
    }

    .seemorl {
        font-size: 2em;
        position: absolute;
        right: 12px;
        top: 12px;
        cursor: pointer;
    }
}