.svg-link {
    position: absolute;
    pointer-events: none;
    z-index: 10;

    svg {
        overflow: visible;
    }

    path {
        stroke: #333;
        fill: none;
        stroke-width: 2;
    }
}
