.month_filter_widget_component
    template
        Monthfilterinputcomponent(
            :months='months' 
            :selected_months='selected_months' 
            :can_select_all='can_select_all' 
            :is_month_cumulated_selected='is_month_cumulated_selected' 
            :is_all_months_selected='is_all_months_selected' 
            :is_vo_field_ref='is_vo_field_ref' 
            :custom_filter_name='custom_filter_name' 
            :input_label='vo_field_ref_label' 
            :can_ytd='can_ytd'
            :ytd_option_m_minus_x='ytd_option_m_minus_x'
            @onchange_selected_month='handle_selected_month_change' 
            @onchange_all_months_selected='handle_all_months_selected_change'
        )