mixin box(title, icon, iconx, icony, nomaxwidth)
  .box.box-info(class=nomaxwidth?'no-max-width':'')
    .box-header.with-border
      - if (typeof icon != "undefined" && icon != "") {
      -   icony = icony ? icony : "0px";
      -   iconx = iconx ? iconx : "0px";
      .box-icon.hidden-print(style="top:" + icony + ";left:" + iconx, class=icon)
      - }
      h3.box-title= title
      .box-tools.pull-right.hidden-print
        button.btn.btn-box-tool(type='button', data-widget='collapse')
          i.fa.fa-minus
    .box-body
      block