mixin loading()
    .row.loading-mixin(v-if="isLoading")
        .col-sm-12
            .progress
                .progress-bar.progress-bar-striped.progress-bar-animated(role="progressbar" :aria-valuenow="loadingProgression" aria-valuemin="0" aria-valuemax="100" :style="'width: ' + loadingProgression + '%'")
    .row(v-else)
        .col-sm-12
            div&attributes(attributes)
                block