.current_user_filter_widget_icon
    template(v-if='!widget')
    template(v-else)
        .fa-stack.fa-lg.fa-fw(aria-hidden='true')
            i.fa-solid.fa-user.fa-stack-2x
            i.fa-solid.fa-bullseye.fa-stack-1x