.supervision_dashboard_widget(:class='state_classname' @click='switch_visibility')
    .row
        .col-md-4
            i.fa.fa-fw(aria-hidden="true" :class='fa_class_name')
        .col-md-8 {{ nb_elts }}