.supervision_dashboard_widget {

    border-radius: 10px;
    font-size: xx-large;
    text-align: center;
    color: white;
    margin: 0.2em;
    opacity: 1;
    cursor: pointer;

    &.not_selected{
        opacity: 0.5;
    }

    &.STATE_ERROR{
        background-color: red;
    }

    &.STATE_ERROR_READ{
        background-color: orangered;
    }

    &.STATE_WARN{
        background-color: orange;
    }

    &.STATE_WARN_READ{
        background-color: yellow;
    }

    &.STATE_OK{
        background-color: green;
    }

    &.STATE_PAUSED{
        background-color: blue;
    }

    &.STATE_UNKOWN{
        background-color: grey;
    }

}