.hour_range_input
    .row
        .col-md-6
            input(:class="{'form-control': !inline_input_mode}" type='time' v-model="hourrange_start" :placeholder="label('hour_range_input.heure_debut')" :required="required", :disabled="disabled", @input="emitInput")
        .col-md-6
            input(:class="{'form-control': !inline_input_mode}" type='time' v-model="hourrange_end" :placeholder="label('hour_range_input.heure_fin')" :required="required", :disabled="disabled", @input="emitInput")