.fileinput
    .row
        .col-md-12        
            vue-dropzone(v-if="!readonly" :ref="'filedropzone' + uid" :id="'filedropzone' + uid" :options="dropzoneOptions")
                .dz-message
                    i.fa.fa-upload.fa-3x
            a.btn.btn-sm.btn-primary(v-if="(!!filevo) && filevo.id" :href="'/' + filevo.path" target='_blank')
                i.fa-download.fa(aria-hidden="true")
                span {{ label('file.download') }}