.fileinput
    .row
        .col-md-12        
            vue-dropzone(:ref="'filedropzone' + uid" :id="'filedropzone' + uid" :options="dropzoneOptions")
                .dz-message
                    i.fa.fa-upload.fa-3x
            span(v-if="(!!filevo) && filevo.id") {{ filevo.path }}