@import '../../../scss/base/skin.scss';

.dashboard_builder {

    margin-bottom: 500px;

    .is_loading,
    .loading_failed {
        width: auto;
        text-align: center;
        font-size: x-large;
        padding: 10%;
    }

    >.row>.col-sm-12>.header {

        margin-bottom: 1em;

        .title {
            font-size: 2em;
        }

        .name {
            input {
                border: none;
                padding: 0.5em;
                width: 100%;
                background: #F5F5F5;
                font-size: 1.5em;
            }
        }

        .delete_dashboard {

            text-align: center;
            vertical-align: middle;
            height: 2em;
            width: 2em;
            padding: 0.3em;
            margin-left: 0.5em;
            cursor: pointer;
            border-radius: 2px;
            display: inline-block;
            font-size: 1.4em;
        }

        .create_dashboard,
        .create_dashboard_from {

            text-align: center;
            vertical-align: middle;
            height: 2em;
            width: 2em;
            padding: 0.3em;
            margin-left: 0.5em;
            cursor: pointer;
            border-radius: 2px;
            display: inline-block;
            font-size: 1.4em;
        }

        .copy_dashboard,
        .replace_dashboard {

            text-align: center;
            vertical-align: middle;
            height: 2em;
            width: 2em;
            background: green;
            padding: 0.3em;
            margin-left: 0.5em;
            color: white;
            cursor: pointer;
            border-radius: 2px;
            display: inline-block;
            font-size: 1.4em;
        }
    }

    .pages {
        border-radius: 2px;
        margin-bottom: 1em;
        margin-left: -5px;

        .create_dashboard_page {
            text-align: center;
            vertical-align: middle;
            height: 2em;
            width: 2em;
            padding: 0.3em;
            margin-right: 0.5em;
            cursor: pointer;
            border-radius: 2px;
            display: inline-block;
            font-size: 1.2em;

            transition: all ease-in-out 0.4s;
        }

        .page {

            display: inline-block;
            background: #F5F5F5;
            padding: 1em;
            margin: 5px;
            box-shadow: 1px 1px 20px #e0e0e0;
            border-radius: 4px;

            &:hover {
                box-shadow: 1px 1px 20px #888;
            }

            .select,
            .selected,
            .hide_navigation,
            .back,
            .move_page {

                text-align: center;
                vertical-align: middle;
                height: 2em;
                width: 2em;
                padding: 0.3em;
                margin-right: 0.5em;
                cursor: pointer;
                border-radius: 2px;
                display: inline-block;
                font-size: 1.2em;
            }

            .back,
            .select,
            .hide_navigation.not_disabled,
            .delete {
                transition: all ease-in-out 0.4s;
            }

            .group_filters_name,
            .group_filters {
                display: inline-block;
                vertical-align: top;
            }

            .back {
                background: #333;
            }

            .hide_navigation.disabled {
                background: #555;
                cursor: not-allowed;
                color: #AAA;
            }

            .selected {
                background: green;
            }

            .name {
                display: inline-block;

                input {
                    border: none;
                    padding: 0.5em;
                    margin-right: 0.5em;
                }

                .is_updating {
                    float: right;
                    padding: 0.5em;
                }

                .update_trad {
                    text-align: center;
                    vertical-align: middle;
                    height: 2em;
                    width: 2em;
                    padding: 0.3em;
                    margin-right: 0.5em;
                    color: white;
                    cursor: pointer;
                    border-radius: 2px;
                    display: inline-block;
                    font-size: 1.2em;
                }
            }

            .delete {

                text-align: center;
                vertical-align: middle;
                height: 2em;
                width: 2em;
                padding: 0.3em;
                margin-left: 0.5em;
                cursor: pointer;
                border-radius: 2px;
                display: inline-block;
                font-size: 1.2em;
            }
        }
    }

    .widget_options {
        .label {
            color: #333;
        }
    }

    .icon_error {
        color: $danger_color;
    }

    .icon_success {
        color: $success_color;
    }

    .fields_wrapper {
        z-index: 2;
        position: fixed;
        right: 0;
        width: 600px;
        top: 124px;
        max-height: 80%;
        overflow-y: auto;
        padding: 0;
        box-shadow: 1px 1px 10px;
        background: white;
        overflow-x: hidden;
        transition: width 0.5s ease-out;

        &.collapsed {
            width: 0px;
        }

        .collapsible_component_wrapper {
            width: 600px;
        }
    }

    .collapse_fields_wrapper {
        padding: 0.2em;
        margin: 0em;
        position: fixed;
        right: 0;
        background: #F5F5F5;
        font-size: 2em;
        cursor: pointer;
        color: #555;
        box-shadow: 1px 1px 5px grey;
        top: 66px;
    }

    .steps {

        margin: 1em 0em;

        .step {
            background: #F5F5F5;
            border-radius: 2px;
            padding: 0.5em;
            text-align: center;
            font-size: 1.2em;
            text-transform: uppercase;
            cursor: pointer;
            margin-right: 0.5em;

            &.selected {
                background: dodgerblue;
                color: white;
            }
        }
    }

    .grid_item_wrapper.hide {
        opacity: 0.4 !important;
    }
}

body.sidenav-toggled .navbar-sidenav {
    overflow: hidden !important;

    .sidenav-second-level a {
        padding-left: 1.6em !important;
    }
}