.dashboard_builder
    template(v-if="!dashboard")
        template(v-if="loading")
            .is_loading
                i.fa.fa-refresh.fa-spin.fa-fw(aria-hidden="true")
        template(v-else)
            .loading_failed 
                i.fa.fa-exclamation-triangle.fa-fw.icon_error(aria-hidden="true")
                | {{ label('dashboard_builder.loading_failed') }}
    template(v-else)
        .row 
            .col-md-12
                .header 
                    .row 
                        .col-md-2
                            .title {{ label('dashboard_builder.title') }}

                        .col-md-4
                            .name
                                Inlinetranslatabletext(:code_text="dashboard_name_code_text" :is_editable="true")

                        .col-md-4
                            .selector
                                multiselect(
                                    :preselect-first="false"
                                    :multiple="false"
                                    v-model="dashboard"
                                    :placeholder="label('dashboard_builder.select_dashboard')"
                                    :options="dashboards_options"
                                    :custom-label="dashboard_label"
                                    :allow-empty="false",

                                    autocomplete="off"

                                    :searchable="true"
                                    :internal-search="true"

                                    track-by="id"

                                    :id="'dashboard_selector'"

                                    :select-label='label("multiselect.selectLabel")'
                                    :select-group-label='label("multiselect.selectGroupLabel")'
                                    :selected-label='label("multiselect.selectedLabel")'
                                    :deselect-label='label("multiselect.deselectLabel")'
                                    :deselect-group-label='label("multiselect.deselectGroupLabel")'
                                    )

                        .col-md-2
                            .delete_dashboard
                                i.fa.fa-trash.fa-fw.btn_icon(aria-hidden="true" @click="confirm_delete_dashboard")
                            .create_dashboard
                                i.fa.fa-plus.fa-fw.btn_icon(aria-hidden="true" @click="create_new_dashboard")

        
        .row 
            .col-md-12
                template(v-if='!pages')
                    template(v-if="loading")
                        .is_loading
                            i.fa.fa-refresh.fa-spin.fa-fw(aria-hidden="true")
                    template(v-else)
                        .loading_failed 
                            i.fa.fa-exclamation-triangle.fa-fw.icon_error(aria-hidden="true")
                            | {{ label('dashboard_builder.loading_failed') }}

                template(v-else)
                    .row.steps
                        .col-md-3.step.select_vos(@click='select_vos' :class="{'selected' : show_select_vos}") {{ label('dashboard_builder.select_vos') }}
                        .col-md-3.step.build_page(v-if='can_build_page' @click='build_page' :class="{'selected' : show_build_page}") {{ label('dashboard_builder.build_page') }}
                        .col-md-3.step.build_page(v-if='can_build_page' @click='menu_conf' :class="{'selected' : show_menu_conf}") {{ label('dashboard_builder.menu_conf') }}

                    .pages
                        template(v-if='has_navigation_history')
                            .page
                                .back
                                    i.fa.fa-arrow-circle-left.fa-fw.btn_icon(aria-hidden="true" @click="select_previous_page" v-tooltip.top='label("dashboard_builder.pages.tooltip_select_previous_page")')
                        template(v-for='(page_, pagei) in pages')
                            .page
                                .select(v-if='page_.id != page.id')
                                    i.fa.fa-hand-o-down.fa-fw.btn_icon(aria-hidden="true" @click="select_page_clear_navigation(page_)" v-tooltip.top='label("dashboard_builder.pages.tooltip_select_page")')
                                .selected(v-else)
                                    i.fa.fa-check-circle.fa-fw(aria-hidden="true" v-tooltip.top='label("dashboard_builder.pages.tooltip_selected_page")')
                                .name
                                    Inlinetranslatabletext(:code_text="pages_name_code_text[pagei]" :is_editable="true")
                                .hide_navigation(:class='{"disabled" : !parseInt(pagei.toString()), "not_disabled": !!parseInt(pagei.toString())}')
                                    template(v-if='parseInt(pagei.toString()) != 0')
                                        template(v-if='page_.hide_navigation')
                                            i.fa.fa-eye-slash.fa-fw.btn_icon(aria-hidden="true" @click="switch_hide_navigation(page_)" v-tooltip.top='label("dashboard_builder.pages.tooltip_click_to_show_navigation")')
                                        template(v-else)
                                            i.fa.fa-eye.fa-fw.btn_icon(aria-hidden="true" @click="switch_hide_navigation(page_)" v-tooltip.top='label("dashboard_builder.pages.tooltip_click_to_hide_navigation")')
                                    template(v-else)
                                        i.fa.fa-eye.fa-fw.btn_icon.disabled(aria-hidden="true" v-tooltip.top='label("dashboard_builder.pages.tooltip_cannot_hide_navigation")')
                                .delete 
                                    i.fa.fa-trash.fa-fw.btn_icon(aria-hidden="true" @click="confirm_delete_page(page_)" v-tooltip.top='label("dashboard_builder.pages.tooltip_delete_page")')

                        .create_dashboard_page
                            i.fa.fa-plus.fa-fw.btn_icon(aria-hidden="true" @click="create_dashboard_page" v-tooltip.top='label("dashboard_builder.pages.tooltip_create_dashboard_page")')

        template(v-if='!page')
            .row
                .col-md-12
                    template(v-if="loading")
                        .is_loading
                            i.fa.fa-refresh.fa-spin.fa-fw(aria-hidden="true")
                    template(v-else)
                        .loading_failed 
                            i.fa.fa-exclamation-triangle.fa-fw.icon_error(aria-hidden="true")
                            | {{ label('dashboard_builder.loading_failed') }}

        template(v-else)
            .row(v-if='show_select_vos')
                .col-md-12.tables_graph_wrapper 
                    Tablesgraphcomponent(:dashboard='dashboard' @add_api_type_id='add_api_type_id' @del_api_type_id='del_api_type_id')

            .row(v-if='show_build_page')
                .col-md-9.builder_wrapper
                    Dashboardbuilderboardcomponent(
                        :dashboard_page='page' 
                        :dashboard_pages='pages'
                        :dashboard='dashboard' 
                        :selected_widget='selected_widget' 
                        @select_widget='select_widget'
                        @select_page='select_page'
                    )

                .col-md-3.fields_wrapper
                    .collapse_fields_wrapper(@click='reverse_collapse_fields_wrapper' :class='{"collapsed":collapsed_fields_wrapper}')
                        i.fa.fa-caret-square-o-up.fa-fw(aria-hidden="true" v-if='!collapsed_fields_wrapper')
                        i.fa.fa-caret-square-o-down.fa-fw(aria-hidden="true" v-if='collapsed_fields_wrapper')
                    Dashboardbuilderwidgetscomponent(
                        :dashboard='dashboard' :selected_widget='selected_widget' v-show='!collapsed_fields_wrapper'
                        :dashboard_page='page'
                        :dashboard_pages='pages'
                    )
                    Droppablevofieldscomponent(:dashboard='dashboard' v-show='!collapsed_fields_wrapper')
            
            .row(v-if='show_menu_conf')
                .col-md-12.menu_conf_wrapper 
                    Dashboardmenuconfcomponent(:dashboard='dashboard')
