.menucomponent
    ul#mainmenu.navbar-nav.navbar-sidenav
        template(v-for="menuElement in getMenuElements")
            li.nav-item(data-placement='right', :title='t(menuElement.translatable_title)')
                //Composants récursif ???? : menu_element(:menuElement="menuElement", :lvl="1")
                template(v-if='menuElement.type == "Leaf"')
                    template(v-if='menuElement.target.type == "href"')
                        a.nav-link(:href='menuElement.target.href')
                            i.fa.fa-fw(:class="menuElement.fa_class")
                            span.nav-link-text {{t(menuElement.translatable_title)}}
                    template(v-else-if='menuElement.target.type == "route"')
                        router-link.nav-link(:to="{ name: menuElement.target.route_name }")
                            i.fa.fa-fw(:class="menuElement.fa_class")
                            span.nav-link-text {{t(menuElement.translatable_title)}}
                template(v-else)
                    a.nav-link.nav-link-collapse.collapsed(data-toggle='collapse', :href="'#'+menuElement.UID", data-parent='#mainmenu', :id="'mainmenu_'+menuElement.UID")
                        i.fa.fa-fw(:class="menuElement.fa_class")
                        span.nav-link-text
                            | {{t(menuElement.translatable_title)}}
                    ul.sidenav-second-level.collapse(v-if='menuElement.menuElements && menuElement.menuElements.length', :id="menuElement.UID")
                        li(v-for='child in menuElement.menuElements')
                            template(v-if='child.type == "Leaf"')
                                template(v-if='child.target.type == "href"')
                                    a(:href='child.target.href')
                                        i.fa.fa-fw(:class="child.fa_class")
                                        span.nav-link-text {{t(child.translatable_title)}}
                                template(v-else-if='child.target.type == "route"')
                                    router-link(:to="{ name: child.target.route_name }")
                                        i.fa.fa-fw(:class="child.fa_class")
                                        span.nav-link-text {{t(child.translatable_title)}}
                            template(v-else)
                                a.nav-link-collapse.collapsed(data-toggle='collapse', :href="'#'+child.UID", :data-parent="'#mainmenu_'+menuElement.UID", :id="'mainmenu_2_'+child.UID")
                                    i.fa.fa-fw(:class="child.fa_class")
                                    span.nav-link-text
                                        | {{t(child.translatable_title)}}
                                ul.sidenav-third-level.collapse(v-if='child.menuElements && child.menuElements.length', :id="child.UID")
                                    li(v-for='child2 in child.menuElements')
                                        template(v-if='child2.type == "Leaf"')
                                            template(v-if='child2.target.type == "href"')
                                                a(:href='child2.target.href')
                                                    i.fa.fa-fw(:class="child2.fa_class")
                                                    span.nav-link-text {{t(child2.translatable_title)}}
                                            template(v-else-if='child2.target.type == "route"')
                                                router-link(:to="{ name: child2.target.route_name }")
                                                    i.fa.fa-fw(:class="child2.fa_class")
                                                    span.nav-link-text {{t(child2.translatable_title)}}
                                        template(v-else)
                                            a.nav-link-collapse.collapsed(data-toggle='collapse', :href="'#'+child2.UID")
                                                i.fa.fa-fw(:class="child2.fa_class")
                                                span.nav-link-text
                                                    | {{t(child2.translatable_title)}}
    //- ul.navbar-nav.sidenav-toggler
    //-     li.nav-item
    //-         a#sidenavToggler.nav-link.text-center
    //-             i.fa.fa-fw.fa-angle-left
