//- .bulk_actions_component
//-     template(v-if='is_busy')
//-         .is_busy
//-             i.fa-duotone.fa-refresh.fa-spin(aria-hidden="true")
//-     template(v-else)    
//-         template(v-for='action in all_bulk_actions')
//-             .btn.btn-primary.display_inline_block.mr-2(@click="") {{ label('') }}