.var_data_ref {
    border-radius: 4px;
    opacity: 1;

    &.is_being_updated{
        opacity: .5;
    }

    &.can_inline_edit.is_not_inline_editing {
        cursor: pointer;

        &:hover {
            box-shadow: 0px 0px 30px #0d6efd inset;
            color: white;
        }
    }

    &.can_inline_edit.is_inline_editing {
        box-shadow: 0px 0px 2px #0d6efd inset;
        border-radius: 4px;
    }

    &.is_inline_editing .import_marker_var {
        display: none;
    }

    &.is_not_inline_editing .import_marker_var {
        opacity: .2;
        font-size: 0.8em;
        vertical-align: top;
        float: right;
        text-align: right;
        padding: 0;
        margin: 0;
        position: absolute;
        margin-left: 2px;

        &.fa-pencil {
            padding-left: .1em;
        }

        &.fa-cloud-download {
            vertical-align: bottom;
            margin-top: 1.1em;
        }
    }

    .form-group.inline_input_mode {
        margin-bottom: 0;
    }

    .inline_input_mode input[type=number] {
        margin: 0;
        padding: 0;
        border: none;
        display: inline-block;
        background: transparent;
        text-align: center;
        max-width: inherit;
        min-width: inherit;
        width: 100%;
        line-height: 1.4em;
    }

    .inline_input_mode input[type=number]:focus{ 
        outline:none
    }

    .inline_input_mode input[type=number]::-webkit-inner-spin-button, 
    .inline_input_mode input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0; 
    }
}

.var_data_ref.is_computing,
.var_data_ref.selectable_var.is_computing,
.var_data_ref.selectable_var.selected_var.is_computing,
.var_data_ref.selected_var.is_computing,
.var_data_ref.selected_var_dependency.is_computing,
.var_data_ref.selected_var_dependent.is_computing
{
    background: none;
    -webkit-animation: color-change-3x-blue 2s linear infinite alternate both;
	        animation: color-change-3x-blue 2s linear infinite alternate both;
}

.var_data_ref.selectable_var{
    cursor: pointer;
    background: rgba(0,0,0,0.1);
    min-height: 1em;
}

.var_data_ref.selectable_var.dependencies_heatmap_lvl_0{
    background: rgba(0,0,0,0.1);
}

.var_data_ref.selectable_var.dependencies_heatmap_lvl_1{
    background: rgba(255,250,0,1);
    color: black;
}

.var_data_ref.selectable_var.dependencies_heatmap_lvl_2{
    background: rgba(255,200,0,1);
    color: black;
}

.var_data_ref.selectable_var.dependencies_heatmap_lvl_3{
    background: rgba(255,150,0,1);
    color: white;
}

.var_data_ref.selectable_var.dependencies_heatmap_lvl_4{
    background: rgba(255,75,0,1);
    color: white;
}

.var_data_ref.selectable_var.dependencies_heatmap_lvl_5{
    background: rgba(255,0,0,1);
    color: white;
}

.var_data_ref.selected_var{
    background: royalblue !important;
    color: white;
    font-weight: bolder;
}

.var_data_ref.selected_var_dependency{
    background: orangered !important;
    color: white;
    font-weight: bolder;
}

.var_data_ref.selected_var_dependent{
    background: green !important;
    color: white;
    font-weight: bolder;
}

.var_data_transition-enter-active {
    	-webkit-animation: color-change-3x-green 0.5s linear 1 alternate both;
	        animation: color-change-3x-green 0.5s linear 1 alternate both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-11-24 17:46:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 background-color: #3c8dbc !important;
    color: white !important;
 */
@-webkit-keyframes color-change-3x-blue {
  0% {
    background: transparent;
  }
  50% {
    background: royalblue;
  }
  100% {
    background: transparent;
  }
}
@keyframes color-change-3x-blue {
  0% {
    background: transparent;
    color:inherit;
  }
  50% {
    background: royalblue;
    color:white;
  }
  100% {
    background: transparent;
    color:inherit;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-11-24 19:5:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation color-change-3x
 * ----------------------------------------
 */
@-webkit-keyframes color-change-3x-green {
  0% {
    background: transparent;
    color:inherit;
  }
  50% {
    background: #5cb85c;
    color:white;
  }
  100% {
    background: transparent;
    color:inherit;
  }
}
@keyframes color-change-3x-green {
  0% {
    background: transparent;
    color:inherit;
  }
  50% {
    background: #5cb85c;
    color:white;
  }
  100% {
    background: transparent;
    color:inherit;
  }
}
