.dashboard_menu_conf
    .menus_switches(v-if='dashboard && dashboard.id && !is_loading')
        .row.header
            .col-md-3
                h3.title.dashboard-pages {{ label("dashboard_builder.shared_filters.dashboard_pages") }} 

            .col-md-3
                h3.title.page-sharable-filters {{ label("dashboard_builder.shared_filters.page_sharable_filters") }} 
                
            .col-md-3
                h3.title.share-with-pages {{ label("dashboard_builder.shared_filters.share_with_pages") }} 

            .col-md-3
                h3.title.custom-api-type-ids {{ label("dashboard_builder.shared_filters.custom_api_type_ids") }}

        .row.body.columns
            //- Dashboard page as row
            .col-md-12(v-for="dashboard_page in dashboard_pages")
                .row 
                    .col-md-3.dashboard-pages-row
                        .dashboard-page
                            .dashboard-page-name {{ get_translation_by_vo_field_ref_name_code_text(dashboard_page.translatable_name_code_text) }}
                    
                    .col-md-3
                        //- Load page sharable filters (all filters that are in the page and are sharable)
                        .page-sharable-filters-row(v-for="(option, translatable_label_code) in sharable_field_filters_by_page_ids[dashboard_page.id]?.readable_field_filters")
                            //- Get Human readable name of the filter
                            .page-sharable-filter-name {{ get_translation_by_vo_field_ref_name_code_text(translatable_label_code) }}

                    .col-md-3
                        //- Load pages shared_filters
                        .shared-filters-row(v-for="(shared_filters, key) in shared_filters_by_page_ids[dashboard_page.id]")
                            .shared-filters {{ shared_filters.name }}
                                button.update(v-on:click="handle_update_shared_filters(shared_filters)")
                                button.delete(v-on:click="handle_delete_shared_filters(shared_filters)") 

                        .create-shared-filters

                    .col-md-3
                        .custom-api-type-ids-row
