.dashboard-shared-filters-component
    Sharedfiltersmodalcomponent(ref='Sharedfiltersmodalcomponent')
    .menus-switches(v-if='dashboard && dashboard.id && !is_loading')
        .row.header
            .col-md-3
                h4.title.dashboard-pages {{ label("dashboard_builder.shared_filters.dashboard_pages") }} 

            .col-md-3
                h4.title.page-sharable-filters {{ label("dashboard_builder.shared_filters.page_sharable_filters") }} 
                
            .col-md-3
                h4.title.share-with-pages {{ label("dashboard_builder.shared_filters.shared_filters_from_this_dashboard_table_head") }} 
                
            .col-md-3
                h4.title.share-with-pages {{ label("dashboard_builder.shared_filters.shared_filters_with_this_dashboard_table_head") }} 

        .row.body.columns
            //- Dashboard page as row
            .col-md-12
                .row
                    .col-md-6
                        .dashboard-page-wrapper(v-for="dashboard_page in dashboard_pages")
                            .row
                                .col-md-6
                                    .dashboard-page
                                        .dashboard-page-name {{ get_translation_by_vo_field_ref_name_code_text(dashboard_page.translatable_name_code_text) }}
                                
                                .col-md-6
                                    .page-sharable-filters-row(v-for="(option, translatable_label_code) in selectionnable_field_filters_by_page_ids[dashboard_page.id]?.readable_field_filters")
                                        .page-sharable-filter-name {{ get_translation_by_vo_field_ref_name_code_text(translatable_label_code) }} &nbsp;
                                            span(v-if="option?.is_filter_hidden") ({{ label('dashboard_builder.shared_filters.filter_hidden') }})

                    .col-md-6
                        template(v-if="is_shared_filters_loading")
                            .is_loading
                                i.fa-duotone.fa-refresh.fa-spin.fa-fw(aria-hidden="true")
                                
                        template(v-else)
                            .row
                                .col-md-6
                                    //- Load all dashboard shared_filters_from_dashboard
                                    .shared-filters-wrapper.shared-filters-from
                                        template(v-if="!(shared_filters_from_dashboard.length > 0)")
                                            .shared-filters-name
                                                span {{ label('dashboard_builder.shared_filters.empty_list') }}
                                        template(v-for="(_shared_filters, key) in shared_filters_from_dashboard")
                                            .shared-filters-name
                                                span {{ _shared_filters.name }}
                                                a.btn.btn-sm.btn-success.pull-right.option__edit(@click='handle_update_shared_filters(_shared_filters)')
                                                    i.fa-duotone.fa-pencil-alt
                                                a.btn.btn-sm.btn-danger.pull-right.option__delete(@click='handle_delete_shared_filters(_shared_filters)') 
                                                    i.fa-duotone.fa-trash-alt

                                    .create-shared-filters
                                        a.btn.btn-success.option__create(@click="handle_create_shared_filters(dashboard.id)") 
                                            span {{ label("dashboard_builder.shared_filters.create_shared_filters") }}

                                .col-md-6
                                    //- Load all dashboard shared_filters_from_dashboard
                                    .shared-filters-wrapper.shared-filters-with
                                        template(v-if="!(shared_filters_with_dashboard.length > 0)")
                                            .shared-filters-name
                                                span {{ label('dashboard_builder.shared_filters.empty_list') }}
                                        template(v-for="(_shared_filters, key) in shared_filters_with_dashboard")
                                            .shared-filters-name
                                                span {{ _shared_filters.name }}
                                                a.btn.btn-sm.btn-success.pull-right.option__edit(@click='handle_update_shared_filters(_shared_filters)')
                                                    i.fa-duotone.fa-pencil-alt
                                                a.btn.btn-sm.btn-danger.pull-right.option__delete(@click='handle_delete_shared_filters(_shared_filters)') 
                                                    i.fa-duotone.fa-trash-alt
