.dashboard_menu_conf
    .menus_switches(v-if='dashboard && dashboard.id && !is_loading')
        .row.header
            .col-md-3
                h3.title.dashboard-pages {{ label("dashboard_builder.shared_filters.dashboard_pages") }} 

            .col-md-3
                h3.title.page-sharable-filters {{ label("dashboard_builder.shared_filters.page_sharable_filters") }} 
                
            .col-md-3
                h3.title.share-with-pages {{ label("dashboard_builder.shared_filters.share_with_pages") }} 

            .col-md-3
                h3.title.custom-api-type-ids {{ label("dashboard_builder.shared_filters.custom_api_type_ids") }}

        .row.body
            //- Load dashboard pages columns
            .columns.dashboard-pages(v-for="dashboard_page in dashboard_pages")
                .col-md-3
                    .dashboard-page
                        .dashboard-page-name {{ get_translation_by_vo_field_ref_name_code_text(dashboard_page.translatable_name_code_text) }}
                
                .col-md-3
                    //- Load page sharable filters (all filters that are in the page and are sharable)
                    .page-sharable-filters(v-for="page_sharable_filter in page_sharable_filters[dashboard_page.id]")
                        .page-sharable-filter
                            .page-sharable-filter-name {{ get_translation_by_vo_field_ref_name_code_text(page_sharable_filter.translatable_name_code_text) }}