div.var_mixed_charts_widget_component(:style='widget_options ? {background: widget_options.bg_color ? widget_options.bg_color : "inherit"} : {}')

    template(v-if='current_charts_var_params && current_charts_var_dataset_descriptor && current_options')
        .chart_wrapper
            .chart_frame
                template(v-if='!!chart_result_txt')
                    i.icon.fa-solid.fa-info-circle(:style='{color: "grey"}' v-tooltip="chart_result_txt" )
                  
                var-mixed-charts(
                    :charts_var_dataset_descriptor="current_charts_var_dataset_descriptor"
                    :charts_var_params="current_charts_var_params"
                    :charts_scales_options="current_charts_scales_options"
                    :options="current_options"
                    :getlabel="getlabel"
                    :filter='var_filter'
                    :filter_additional_params='var_filter_additional_params'
                    :key="'var_mixed_charts_widget_' + page_widget.id"
                    v-tooltip="chart_result_nb"
                    :var_mixed_chart_widget_options="widget_options"
                    :page_widget="page_widget"
                ) 