
nav.navbar.fixed-bottom.navbar-expand-sm(:class='get_bottomnavbar + " " + get_bottomnav_bg')
    .container-fluid
        slot(name='navbarbottom-brand')
        slot(name='navbarbottom-copyright')

        //- button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarbottomCollapse" aria-controls="navbarbottomCollapse" aria-expanded="false" aria-label="Toggle navigation")
        //-     span.navbar-toggler-icon

        //- .collapse.navbar-collapse(id="navbarbottomCollapse")
        //-     ul.navbar-nav
        //-         li.nav-item
