.var_widget_component(
        :style='widget_style'
    )
    template(v-if="widget_options ? (widget_options.style ? (widget_options.style === 'weather' ? true : false) : false) : false")
        .var_widget_weather_header
            .var_widget_weather_header_icon
                i.fa-duotone(:class='widget_options.icon_text ? (widget_options.icon_size ? widget_options.icon_text+" fa-"+ widget_options.icon_size + "x" : "") : "" ' :style='widget_options ? {color: widget_options.fg_color_text ? widget_options.fg_color_text : "inherit"} : {}' )
            .var_widget_weather_header_label 
                Inlinetranslatabletext(:code_text="title_name_code_text" :style='widget_options ? {color: widget_options.fg_color_text ? widget_options.fg_color_text : "inherit"} : {}')
            
        template(v-for="(obj,i) in var_objects" :key="i")
            .x {{i}}
                .var_data
                    var-data( 
                        :var_param="obj.param"
                        :filter='obj.filter_type'
                        :filter_additional_params='obj.filter_additional_params'
                        :show_import='true'
                        :show_tooltip='true'
                        :show_tooltip_import='true'
                        :show_tooltip_maj='false'
                        :show_tooltip_prefix='false'
                    )
                .var_label 
                    Inlinetranslatabletext(:code_text="multi_var_name_code_text[i]" :style='widget_options ? {color: widget_options.fg_color_text ? widget_options.fg_color_text : "inherit"} : {}')