.vo_field_widget_ref
    template(v-if='!!vo_field_ref')
        .field_label {{ vo_ref_tooltip }}

        .remove_field_ref(@click="remove_field_ref" v-tooltip='vo_ref_tooltip')
            i.fa-solid.fa-trash.fa-fw(aria-hidden="true")