.vo_field_widget_ref
    template(v-if='!!vo_field_ref')
        .field_label
            Inlinetranslatabletext(
                v-if='translatable_name_code_text'
                :code_text="translatable_name_code_text" 
                :is_editable="true"
                :default_translation="default_field_label")
        .remove_field_ref(@click="remove_field_ref")
            i.fa.fa-trash.fa-fw(aria-hidden="true")
    