@import '../../../../scss/base/skin.scss';

.dashboard_viewer {

    margin-bottom: 5em;

    .is_loading,
    .loading_failed {
        width: auto;
        text-align: center;
        font-size: x-large;
        padding: 10%;
    }

    >.row>.col-sm-12>.header {

        margin-bottom: 1em;

        .name {
            font-size: 2em;

            input {
                border: none;
                padding: 0.5em;
                width: 100%;
                background: #F5F5F5;
                font-size: 1.5em;
            }
        }

        .edit {
            margin-left: 1em;
            vertical-align: super;
        }
    }

    .pages {
        border-radius: 2px;
        margin-bottom: 1em;
        margin-left: -5px;

        .page {

            display: inline-block;
            background: #F5F5F5;
            padding: 1em;
            cursor: pointer;
            margin: 5px;
            box-shadow: 1px 1px 20px #e0e0e0;
            border-radius: 4px;

            &:hover {
                box-shadow: 1px 1px 20px #888;
            }

            .back,
            .select,
            .selected {

                text-align: center;
                vertical-align: middle;
                height: 2em;
                width: 2em;
                padding: 0.3em;
                margin-right: 0.5em;
                border-radius: 2px;
                display: inline-block;
                font-size: 1.2em;

                transition: all ease-in-out 0.4s;
            }

            .back {
                color: white;

                &:hover {
                    background-color: goldenrod;
                }
            }

            .back {
                background: #333;
            }

            .name {
                display: inline-block;

                input {
                    border: none;
                    padding: 0.5em;
                    width: 100%;
                }
            }
        }
    }

    .icon_error {
        color: $danger_color;
    }

    .icon_success {
        color: $success_color;
    }

    .grid_item_wrapper.hide {
        display: none !important;
    }
}