include ../../../../views/mixins/loading.pug

.data-import.col-sm-12
    +loading()
        include ../base/DataImportHeader.pug

        template(v-if="hasValidOptions")
            .row.justify-content-between.import_overviews
                .col-sm.border-top.rounded-top.data_import_overview(:class='{"border-success": import_state == state_ok, "border-danger": import_state == state_ko, "border-secondary": import_state == state_none, "border-warning": import_state == state_warn, "border-primary": import_state == state_info}')

                    i.fa.fa-info-circle.fa-5x(aria-hidden="true" @click='openModal()')

                    .row
                        .col-sm
                            i.fa.fa-refresh(aria-hidden="true" @click='planif_reimport(segment)' class="valid_selection")

                    fileinput(:muted="true" :options="modal_dropzone_options" @uploaded="uploadedFile(null, ...arguments)")

        #import_modal.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        router-link.btn.close(:to="route_path") &times;
                    .modal-body(v-if="!import_historics")
                        span {{ label('import.modal.no_hisotoric') }}
                    .modal-body(v-if="import_historics")
                        include ../base/DataImportModal.pug