@import '../base/DataImport.scss';

.data-import {

    .data_import_overview{
        text-align: CENTER;
        border-width: 10px !important;
        /* margin: 10px; */
        border-bottom: 1px solid #DDD !important;
        padding-bottom: 10px;
        border-left: 1px solid #DDD !important;
        border-right: 1px solid #DDD !important;

        i.fa.fa-info-circle.fa-5x {
            cursor: pointer;
            opacity: 0.5;
        }

        i.fa.fa-info-circle.fa-5x:hover {
            opacity: 0.8;
        }

        .segment_date_index {
            font-size: 1.4em;
            font-weight: 700;
            text-align: center;
            line-height: 2em;
            margin-top: 10px;
            opacity: 0.8;
        }
    }

    .import_overviews {

        margin: 20px;
    } 

    .valid_selection{
        cursor:pointer;
        opacity: 0.7;
    }
}