.var_desc_explain_dep_param
    .param_wrapper
        .var_data_label {{ label('var_desc.var_data_label') }}
            var-data(:var_param='param' :show_tooltip='true')
            i.update_var_data.fa.fa-refresh(aria-hidden="true" @click='update_var_data')
        Vardescparamfieldscomponent(:var_param='param')


