li.notification-list.NavBarUserComponent.dropdown
    
        button.btn.dropdown-toggle.me-0.w-md-auto.w-100(
            data-bs-toggle="dropdown" data-bs-target="NavBarUserComponent_dropdown" id="topbar-userdrop" 
            href="#" role="button" aria-haspopup="true" aria-expanded="false"
            :class='get_nav_btn')

            span.account-user-avatar(v-if='avatar_img_path')
                img(:src="avatar_img_path" alt="user-image" class="rounded-circle")
            span
                span.account-user-name {{ user_name }}
                //- Faire des slots, partout span.account-position XXX
                
        .dropdown-menu.dropdown-menu-end.mt-2(aria-labelledby="topbar-userdrop" id="NavBarUserComponent_dropdown")
            //- .dropdown-header.noti-title
            //-     h6.text-overflow.m-0 XXX

            router-link.dropdown-item.notify-item(:to='{ name: "MyAccount" }')
                font-awesome-icon(:icon="get_fa_navbarbtn_style + ' fa-user'").fa-fw.me-1
                span {{ label('client.my_account') }}
           
            a.dropdown-item.notify-item(href="javascript:void(0);" @click='open_support')
                font-awesome-icon(:icon="get_fa_navbarbtn_style + ' fa-comments-question'").fa-fw.me-1
                span {{ label('client.support') }}

            a.dropdown-item.notify-item(href='/logout')
                font-awesome-icon(:icon="get_fa_navbarbtn_style + ' fa-arrow-right-from-bracket'").fa-fw.me-1
                span {{ label('client.logout') }}
