.validation_filters_widget_options_component
    .load_widgets_prevalidation
        .input_label {{ label('table_widget_options_component.load_widgets_prevalidation') }}
        toggle-button(
            @change="switch_load_widgets_prevalidation" 
            :value="load_widgets_prevalidation" 
            :sync="true"
            :width="100"
            :labels="{checked: label('table_widget_options_component.load_widgets_prevalidation.visible'), unchecked: label('table_widget_options_component.load_widgets_prevalidation.hidden')}")

    .color_options 
        .color_option
            .bg_color
                .explication {{ label("var_widget_options_component.bg_color") }}
                color-picker(v-model="bg_color" @change='update_colors')
            .fg_color_text
                .explication {{ label("var_widget_options_component.fg_color_text") }}
                color-picker(v-model="fg_color_text" @change='update_colors')

            .preview(:style='{background: bg_color, color: fg_color_text}') {{ (page_widget && page_widget.titre) ? t(page_widget.titre) : 'Exemple' }}
