.ModalsAndBasicPageComponentsHolderComponent

    Documenthandlermodalcomponent
    Favoritesfiltersmodalcomponent(ref='Favoritesfiltersmodalcomponent')
    Crudupdatemodalcomponent(ref='Crudupdatemodalcomponent')
    Crudcreatemodalcomponent(ref='Crudcreatemodalcomponent')
    Checklistitemmodalcomponent(ref='Checklistitemmodalcomponent')
    Supervisionitemmodal(ref='Supervisionitemmodal')
    Sharedfiltersmodalcomponent(ref='Sharedfiltersmodalcomponent')

    Varsmanagercomponent
    vue-snotify
    Popupcomponent

    .footer_fixed
        Onpagetranslation(v-if="has_access_to_onpage_translation").hidden-print
        Documenthandlerneedinfocomponent.hidden-print
        Feedbackhandlercomponent.hidden-print
        Surveycomponent.hidden-print
        Oseliachathandlercomponent.hidden-print