.var_desc_registrations
    button.btn.btn-sm.btn-secondary.pull-right(@click="createGraph")
        i.fa.fa-refresh.fa-lg.btn_icon(aria-hidden="true")
        | {{ label('var_desc.create_graph') }}
    svg(width=960 height=800)
        g