.field_value_filter_widget_component {

    >div {
        margin-bottom: 0.5em;

        .input_label {
            font-size: small;
            color: #555;
        }

        input[type="text"] {
            width: 100%;
            padding: 0.3em;
            border: solid 1px #BBB;
            border-radius: 2px;

            &.multiselect__input {
                border: none;
            }
        }
    }

    .enum_bg_color,
    .enum_fg_color,
    .enum_preview {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
}