.table_view_widget_component {
    overflow-y: auto;
    height: -webkit-fill-available;
    overflow-x: hidden;

    table.has_sticky_cols {
        border-collapse: separate !important;
        border-spacing: 0 !important;
    }

    .table_header {
        font-size: 1.2em;
        margin-bottom: 0.4em;
        line-height: 1em;
    }

    > .row {
        height: -webkit-fill-available;

        > .col-sm-12 {
            height: -webkit-fill-available;

            > div {
                display: flex;
                flex-direction: column;
                height: -webkit-fill-available;
            }
        }
    }

    .is_busy {
        display: block;
        position: absolute;
        top: -1em;
        left: 0;
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        background: rgba(0, 0, 0, 0.2);
        text-align: center;
        z-index: 1000;
        padding-top: 9em;
        cursor: wait;

        i {
            font-size: xx-large;
        }
    }

    .upper_pagination {
        display: flex;

        .table_pagination {
            flex: 1;
        }
    }

    .crud_actions.btn-group.d-print-none {
        text-align: right;
        float: right;
        margin-top: 6px;
        margin-bottom: 0.2em;
        transition: opacity 300ms ease-in-out;

        .btn {
            font-size: 14px;
        }

        &:hover {
            opacity: 1;
        }
    }

    .table_wrapper {
        max-width: -webkit-fill-available;
        overflow-x: auto;
        flex-grow: 100;

        table {
            position: relative;
            width: -webkit-fill-available;
            clear: both;

            thead {
                th {
                    border: solid 1px #eee;
                    padding: 0.2em;
                    background: white;
                    font-size: 1em;
                    font-weight: 700;
                    color: #555;
                    cursor: pointer;

                    position: sticky;
                    top: 0;
                    z-index: 2;
                    border-top: none;

                    .order_by {
                        float: left;
                    }
                }

                th.position-sticky {
                    z-index: 10;
                }
            }

            tfoot {
                border: solid 1px #eee;
                padding: 0.2em;
                position: sticky;
                background-color: white;
                bottom: 0;
                z-index: 2;
                font-size: 1em;
                font-weight: 700;
                color: #555;
                text-decoration: underline;
            }

            tr {
                &.filtered_value {
                    opacity: 0.2;

                    &:hover {
                        opacity: 0.9;
                    }
                }

                td {
                    border: solid 1px #eee;
                    padding: 0.2em;

                    &.type_0 {
                        width: 0;
                    }

                    &.can_filter {
                        &.is_filtering_by {
                            background: #f2f2f2 !important;

                            &:hover {
                                cursor: zoom-out;
                            }
                        }

                        &:hover {
                            background: #f2f2f2 !important;
                            cursor: zoom-in;
                        }
                    }

                    .btn-group.d-print-none {
                        opacity: 0.5;
                        transition: opacity 300ms ease-in-out;

                        &:hover {
                            opacity: 1;
                        }
                    }

                    .is_enum {
                        padding: 2px 4px;
                        border-radius: 4px;
                        text-align: center;
                    }
                }

                td.position-sticky {
                    background: rgb(245, 245, 245);
                    z-index: 5;
                }
            }

            tr:nth-of-type(odd) {
                td.position-sticky {
                    background: rgb(232, 232, 232);
                }
            }
        }
    }

    .span_dismiss_export_alert {
        display: inline-flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .btn_dismiss_export_alert {
            background-color: transparent;
            border-color: transparent;

            i::after {
                opacity: 1 !important;
            }
        }
    }

    @media (max-width: 767px) {
        .upper_pagination {
            flex-direction: column;
        }
    }
}
