@import "skin-variables.scss";

.field {

    .many_to_one img,
    .one_to_many img,
    .many_to_many img {
        float: left;
        box-sizing: content-box;
        height: 1.3em;
        margin-right: 0.4em;
        background: white;
        border-radius: 3px;
        opacity: 0.5;
        margin-bottom: 0.15em;
    }

    &.field_type_boolean {
        text-align: center;
        vertical-align: middle;
        font-size: 2em;
    }

    .many_to_one {
        background-color: #28a745;
        border-color: #28a745;
        white-space: initial;
        word-break: break-all;
    }

    .one_to_many {
        background-color: #dc3545;
        border-color: #dc3545;
        white-space: initial;
        word-break: break-all;
    }

    .many_to_many {
        background-color: #007bff;
        border-color: #007bff;
        white-space: initial;
        word-break: break-all;
    }
}