.field(:field_name="field.datatable_field_uid" :class='(field.type == "Simple") ? "field_type_" + field.field_type : ""' :data-label="t(field.translatable_title)")
    template(v-if="is_load")
        template(v-if='!field.hidden')
            template(v-if="show_label")
                span {{ t(field.translatable_title) }} :
            template(v-if="field.type == 'Simple'")
                template(v-if="field.field_type == 'boolean'")
                    template(v-if="field_value == 'true' || field_value === true")
                        i.boolean_value.is_true.fa-duotone(:class="{[field.moduleTableField.boolean_icon_true]: true, 'text-success': !field.moduleTableField.boolean_invert_colors, 'text-danger': field.moduleTableField.boolean_invert_colors}")
                    template(v-if="field_value == 'false' || field_value === false")
                        i.boolean_value.is_false.fa-duotone(:class="{[field.moduleTableField.boolean_icon_false]: true, 'text-success': field.moduleTableField.boolean_invert_colors, 'text-danger': !field.moduleTableField.boolean_invert_colors}")
                template(v-else-if="field.field_type == 'password'")
                    i.fa-duotone.fa-lock
                template(v-else-if="field.field_type == 'number[]'")
                    ul.multi-input(v-if="field_value")
                        li(v-for="value in field_value") {{ get_filtered_value(value) }}
                template(v-else-if="field.field_type == 'float[]'")
                    ul.multi-input(v-if="field_value")
                        li(v-for="value in field_value") {{ get_filtered_value(value) }}

                template(v-else-if="field.field_type == 'file'")
                    Filedatatablefieldcomponent(:vo_id="parseInt(vo.__crud_actions)" :field="field" :file_path="field_value", :show_tooltip="show_tooltip")

                template(v-else-if="field.field_type == 'text[]'")
                    ul.multi-input(v-if="field_value")
                        li(v-for="value in field_value") {{ value }}
                template(v-else-if="field.field_type == 'html[]'")
                    ul.multi-input(v-if="field_value")
                        li(v-for="value in field_value")
                            template(v-if="explicit_html")
                                span(v-html="value")
                            template(v-else)
                                code {{ value }}
                template(v-else-if="field.field_type == 'html'")
                    template(v-if="explicit_html")
                        span(v-html="field_value")
                    template(v-else)
                        code {{ field_value }}
                template(v-else-if="field.field_type == 'enum'")
                    span(:class="transliterate_enum_value_to_class_name") {{ field_value }}
                template(v-else-if="is_custom_field_type && custom_field_types.read_component")
                    .custom_read_field_component(:is="custom_field_types.read_component" :row='vo' :value='field_value')
                template(v-else-if="field.field_type == 'textarea'")
                    pre {{ field_value }}
                template(v-else-if="field.field_type == 'translatable_text'")
                    span {{ field_value }}
                template(v-else)
                    span {{ get_filtered_value(field_value) }}
            template(v-else-if="field.type == 'ManyToOne'")
                template(v-if="field_value")
                    template(v-if="has_access_DAO_ACCESS_TYPE_INSERT_OR_UPDATE && !disabled_many_to_one_link && !!routeExists(get_crud_link(field.targetModuleTable.vo_type, vo[field.datatable_field_uid + '___id___']))")
                        router-link.btn.btn-sm.btn-info.many_to_one(:to="get_crud_link(field.targetModuleTable.vo_type, vo[field.datatable_field_uid + '___id___'])" :target="!is_dashboard_builder ? '_blank' : ''")
                            img(src='/public/vuejsclient/img/many_to_one.svg')
                            | {{ field_value }}
                    template(v-else)
                        span {{ field_value }}

            template(v-else-if="(field.type == 'ManyToMany') || (field.type == 'OneToMany') || (field.type == 'RefRanges')")
                template(v-if="field_value")
                    template(v-for="e in field_value")
                        template(v-if="!disabled_many_to_one_link && routeExists(get_crud_link(field.targetModuleTable.vo_type, e.id)) && has_access_DAO_ACCESS_TYPE_INSERT_OR_UPDATE")
                            router-link.many-router-links.btn.btn-sm.btn-info(:class='["many_to_many", "one_to_many"][field.type == "ManyToMany" ? 0 : 1]' :to="get_crud_link(field.targetModuleTable.vo_type, e.id)" :target="!is_dashboard_builder ? '_blank' : ''")
                                img(:src='["/public/vuejsclient/img/many_to_many.svg", "/public/vuejsclient/img/one_to_many.svg"][field.type == "ManyToMany" ? 0 : 1]')
                                | {{ e.label }}
                        template(v-else)
                            span {{ e.label }}

            template(v-else-if="field.type == 'COMPONENT'")
                div(
                    :is="field.component_name" 
                    :vo="vo" 
                    :columns="columns" 
                    :param="vo[field.parameter_datatable_field_uid]" 
                    :param_ref_id="vo[field.parameter_datatable_field_uid + '___id___']"
                    :dashboard_page="dashboard_page"
                    @refresh="refresh"
                )

            template(v-else-if="field.type == 'FILE'")
                Filedatatablefieldcomponent(:vo_id="parseInt(vo.__crud_actions)" :field="field" :file_id="vo[field.parameter_datatable_field_uid]")

            template(v-else-if="field.type == 'VAR'")
                Dbvardatatablefieldcomponent(
                    :filter_custom_field_filters="filter_custom_field_filters"
                    :do_not_user_filter_active_ids="do_not_user_filter_active_ids"
                    :var_id="field.var_id"
                    :filter_type="field.filter_type"
                    :filter_additional_params="field.filter_additional_params"
                    :dashboard_id="field.dashboard_id"
                    :row_value="vo"
                    :columns="columns"
                    :all_page_widget="all_page_widget"
                    :page_widget="page_widget"
                    :table_is_busy="table_is_busy"
                    :editable="editable"
                )

            template(v-else)
                span {{ field_value }}