.tables_graph_edit_form {

    padding: 1em;
    box-shadow: 1px 1px 1px grey;
    background: #F5F5F5;
    // max-height: 720px;

    .tables_graph_edit_form_title {
        font-size: 1.3em;
        margin-bottom: 0.5em;
    }

    .tables_graph_edit_form_cell {

        margin-top: 1em;
        padding-top: 1em;
        border-top: solid 1px lightgrey;

        .arrow {
            vertical-align: middle;
            float: left;
            margin-right: 0.2em;

            .icons {
                vertical-align: middle;
                float: left;
                margin-right: 0.2em;
            }

            .title {
                float: right;
                margin-right: 2px;

            }

        }

        .toggle {
            vertical-align: middle;
            float: right;
            margin-left: 0.2em;
        }

        .delete {
            padding: 0.5em;
            background: indianred;
            color: white;
            border-radius: 2px;
            margin-top: 1em;
            cursor: pointer;
        }


    }

    .tables_graph_arrows_table {
        border-top: solid 1px lightgrey;
        margin-top: 8%;

        .title_arrows_table {
            font-size: 1.3em;
            margin-bottom: 0.5em;
        }

        .filters {
            padding-bottom: 0.4em;
            border-bottom: solid 1px lightgrey;

            input {

                border: none;
                padding: 0.5em;
                width: 100%;
            }
        }

        .cell {
            position: relative;
            padding: 3px;
            margin-bottom: 3px;

            .cell_header {
                font-size: 18px;

                .icons {
                    vertical-align: middle;
                    float: left;
                    margin-right: 0.2em;
                }
            }


            .edges {

                // position: relative;
                .edge {
                    padding: 15px;

                    .arrow {
                        vertical-align: middle;
                        float: left;
                        margin-right: 0.2em;

                        .icons {
                            vertical-align: middle;
                            float: left;
                            margin-right: 0.2em;
                        }

                        .title {
                            float: right;
                        }

                    }


                    .toggle {
                        vertical-align: middle;
                        float: right;
                        margin-left: 0.2em;
                    }
                }

            }
        }

    }
}