.row#rdv_modal_historic
    .col-md-12
        template(v-if='(!!rdv_historics) && rdv_historics.length')
            .historic_rdv(v-for='rdv_historic in rdv_historics')
                .row
                    .col-md-6
                        VueFieldComponent(isreadonly="true", :name="label('programplan.rdv_modal.rdv_date')", :value="formatDate_FullyearMonthDay(rdv_historic.start_time)")
                    .col-md-6
                        VueFieldComponent(isreadonly="true", :name="label('programplan.rdv_modal.facilitator_name')", :value="facilitatorName", v-show="!managerName")
                        VueFieldComponent(isreadonly="true", :name="label('programplan.rdv_modal.manager_name')", :value="facilitatorAndManagerName", v-show="managerName")
                .row
                    .col-md-12
                        ProgramPlanComponentModalPrep(:selected_rdv="rdv_historic" :can_edit="false")
                .row
                    .col-md-12
                        ProgramPlanComponentModalCR(:selected_rdv="rdv_historic" :can_edit="false")
        template(v-else)
            .row
                .col-md-12 {{ label('programplan.rdv_modal.no_historic') }}
