.row#rdv_modal_historic
    .col-sm-12
        template(v-if='(!!selected_rdv_historics) && selected_rdv_historics.length')
            .historic_rdv(v-for='rdv_historic in selected_rdv_historics')
                .row(v-if='can_archive_rdv')
                    .col-sm-12
                        i.fa-solid.fa-trash(aria-hidden="true", @click="confirm_archive(rdv_historic)" v-if='can_archive_rdv')
                .row
                    .col-sm-6
                        Vuefieldcomponent(isreadonly="true", :name="label('programplan.rdv_modal.rdv_date')", :value="formatDate_FullyearMonthDay(rdv_historic.start_time)")
                    .col-sm-6
                        Vuefieldcomponent(isreadonly="true", :name="label('programplan.rdv_modal.facilitator_name')", :value="facilitatorName(rdv_historic)", v-show="!managerName(rdv_historic)")
                        Vuefieldcomponent(isreadonly="true", :name="label('programplan.rdv_modal.manager_name')", :value="facilitatorAndManagerName(rdv_historic)", v-show="managerName(rdv_historic)")
                .row(v-if='has_prep')
                    .col-sm-12
                        Programplancomponentmodalprep(
                            :program_plan_shared_module='program_plan_shared_module'
                            :program_plan_controller='program_plan_controller' 
                            :selected_rdv="rdv_historic" :block_edition="true")
                .row
                    .col-sm-12
                        Programplancomponentmodalcr(
                            :program_plan_shared_module='program_plan_shared_module'
                            :program_plan_controller='program_plan_controller' 
                            :selected_rdv="rdv_historic" :block_edition="true")
        template(v-else)
            .row
                .col-sm-12 {{ label('programplan.rdv_modal.no_historic') }}
