.AccessPolicyMySubComponent
    label 
        toggle-button.switch_sub(
            @change="switch_sub" 
            :value="current_value" 
            :sync="true"
            :width="100"
            :labels="{checked: label('AccessPolicyMySubComponent.subbed'), unchecked: label('AccessPolicyMySubComponent.unsubbed')}")
        | {{ label(mail_category.name) }}