@import 'skin-variables.scss';

.var_charts_options_component {

    .container {
        display: inline-flex;

        .input_label {
            margin-left: 1rem;
        }
    }

    .section {
        border: $table_border;
        border-radius: 6px;
        margin-bottom: 1rem;
        background-color: $input_editable_bg_color;

        .section-header {
            cursor: pointer;
            padding: 0.75rem 1rem;
            background-color: $button_primary_bg_color;
            color: $button_text_color;
            border-radius: 6px 6px 0 0;
            display: flex;
            align-items: center;
            position: relative;

            h4 {
                flex-grow: 1;
                margin: 0;
            }

            i.icon-open {
                margin-left: 2rem;

                &:hover {
                    transform: scale(1.1);
                }
            }

            .scale-title {
                flex-grow: 1;
                font-size: 1rem;
            }

            .edit-icon,
            .delete-icon {
                margin-left: 0.75rem;
                font-size: 1.1rem;
                cursor: pointer;

                &:hover {
                    transform: scale(1.1);
                }
            }

            .delete-icon {
                color: $danger_color;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .section-content {
            padding: 1rem;
            background-color: $input_editable_bg_color;
            border-radius: 0 0 6px 6px;
        }
    }

    .open-icon {
        position: relative;
        left: 50%;
        font-size: xx-large;
        color: $success_color;
        cursor: pointer;
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.1);
        }
    }

    .use_palette_toggle {
        margin-bottom: 1rem;
    }

    .options_list {
        margin-top: 1rem;
    }
}