.panier_ajout
    div(v-if="produitsParam && produitsParam.length > 0")
        table
            thead
                tr
                    th {{ label('client.panier.produit') }}
                    th {{ label('client.panier.prix') }}
            tbody
                template(v-for="produitParam in produitsParam")
                    panier_ajout_ligne(:produitparam="produitParam")

        button(v-on:click="ajouterAuPanier") {{ label('client.panier.ajouter') }}