.inline_translatable_text
    template(v-if='!get_initialized')
        .is_initializing
            i.fa-solid.fa-refresh.fa-spin.fa-fw(aria-hidden="true")
    template(v-else)

        template(v-if='!is_editable')
            .translated_text {{ parameterized_text }}
        template(v-else)
            form(v-on:submit.prevent="update_trad")
                template(v-if='textarea')
                    textarea.editable_text(v-model="text" :disabled="!semaphore" v-tooltip='parameterized_text')
                template(v-else)
                    input.editable_text(type="text" v-model="text" :disabled="!semaphore" v-tooltip='parameterized_text')
                template(v-if='!semaphore')
                    .is_updating
                        i.fa-solid.fa-refresh.fa-spin.fa-fw(aria-hidden="true")
                template(v-else)
                    template(v-if='has_modif')
                        .update_trad
                            i.fa-solid.fa-floppy-disks.fa-fw(aria-hidden="true" @click="update_trad")
