.inline_translatable_text
    template(v-if='!get_initialized')
        .is_initializing
            i.fa.fa-refresh.fa-spin.fa-fw(aria-hidden="true")
    template(v-else)

        template(v-if='!is_editable')
            .translated_text {{ text }}
        template(v-else)
            form(v-on:submit.prevent="update_trad")
                input.editable_text(type="text" v-model="text" :disabled="!semaphore")
                template(v-if='!semaphore')
                    .is_updating
                        i.fa.fa-refresh.fa-spin.fa-fw(aria-hidden="true")
                template(v-else)
                    template(v-if='has_modif')
                        .update_trad
                            i.fa.fa-floppy-o.fa-fw(aria-hidden="true" @click="update_trad")
