.feedback_handler.hide_from_screenshot(v-if="isActive")
    .feedback_handler_switcher(@click='switch_hidden')
        template(v-if='get_hidden')
            i.fa-solid.fa-comment.fa-fw(aria-hidden="true")
        template(v-else)
            i.fa-solid.fa-comment-dots.fa-fw(aria-hidden="true")
        span {{ label('feedback_handler.btn.title') }}

    .feedback_handler_modal(:class='{"hidden": !!get_hidden}')
        .feedback_handler_modal_header {{ label('feedback_handler.header') }}
        .feedback_handler_modal_content
            FeedbackHandlerFormComponent(
                :show_wish_be_called="show_wish_be_called"
                :dom_id_to_capture="dom_id_to_capture"
                :is_modal="true"
            )