.supervised_item {

    .supervised_item_url {

        button {
            margin-bottom: 0.2em;
        }
    }

    .supervised_item_description {
        padding: 1.5em;
        border: solid 1px #EEE;
        border-radius: 5px;
        margin-top: 0.2em;
        font-size: x-large;
    }

    .supervised_item_header {
        margin-bottom: 2em;
    }
}