#rdv_modal_target_infos
    template(v-if='!customTargetInfosComponent')
        .row
            .col-md-6.infos
                VueFieldComponent(isreadonly="true", :name="label('programplan.rdv_modal.target_name')", :value="target.name")
                VueFieldComponent(isreadonly="true", :name="label('programplan.rdv_modal.facilitator_name')", :value="facilitatorName", v-show="!managerName")
                VueFieldComponent(isreadonly="true", :name="label('programplan.rdv_modal.manager_name')", :value="facilitatorAndManagerName", v-show="managerName")
                .adresse(v-show="targetAddressHTML")
                    ProgramPlanComponentHTMLInfos(:title="label('programplan.rdv_modal.address')", :content="targetAddressHTML")
                .contact(v-show='targetContactInfosHTML')
                    ProgramPlanComponentHTMLInfos(:title="label('programplan.rdv_modal.infos_contact')", :content="targetContactInfosHTML")
            .col-md-6.map(v-show='targetAddressHTML')
                .mapouter(style="overflow:hidden;height:346px;width:346px;")
                    .gmap_canvas(style="background:none!important;height:346px;width:346px;")
                        iframe(width="346", height="346", id="gmap_canvas", :src="'https://maps.google.com/maps?q=' + GmapQ + '&t=&z=14&ie=UTF8&iwloc=&output=embed'", frameborder="0", scrolling="no", marginheight="0",   marginwidth="0")
                .horaires(v-show='target.infos_horaires')
                    ProgramPlanComponentHTMLInfos(:title="label('programplan.rdv_modal.infos_horaires')", :content="target.infos_horaires")
    template(v-else)
        .customTargetInfosComponent(:is="customTargetInfosComponent")