@import 'skin-variables.scss';

#rdv_modal_cr {

    .cr_title {
        color: #58F;
    }

    .crsandnew {
        margin-top: 10px;

        label input {
            margin-left: 1em;
        }
    }

    .newcr,
    .updatecr {

        max-height: auto;
        overflow: hidden;

        textarea {
            width: 100%;
        }

        >h3 {
            color: $main_menu_bg_color;
            text-transform: uppercase;
        }

        >i {
            padding: 6px 8px;
            padding-bottom: 5px;
            background: $main_menu_bg_color;
            color: $main_menu_text_color;
        }

        >h3,
        >i {
            display: inline-block;
        }

        >i {
            margin-right: 10px;
        }

        .newcr_seemorl {
            font-size: 2em;
            display: inline-block;
            cursor: pointer;
        }
    }

    .newcr.newcr_seeless {
        max-height: 55px;
    }

    .cr,
    .custom_cr_create_component,
    .custom_cr_update_component {
        padding: 10px;
        background: $main_sidebar_bg_color;
        color: initial;
        margin-bottom: 12px;
        text-align: left;

        pre {
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
        }

        b {
            display: block;
            font-size: 1.1em;
        }

        span {
            font-size: 1em;
        }

        >div {
            margin-bottom: 10px;
        }

        >.row>.col-sm-12>i.fa-trash {
            cursor: pointer;
            font-size: 1.5em;
            color: $danger_color;
            float: right;
        }

        >.row>.col-sm-12>i.fa-pencil {
            cursor: pointer;
            margin-right: 1em;
            font-size: 1.5em;
            float: right;
        }

        .quill-editor {
            background: white;
        }
    }

    .infosContener {
        max-height: auto;
        overflow: hidden;
    }

    .seeless {
        max-height: 80px;
    }

    .seemorl {
        font-size: 2em;
        position: absolute;
        right: 12px;
        top: 12px;
        cursor: pointer;
    }
}