//- .var_barline_chart_widget_component(:style='widget_options ? {background: widget_options.bg_color ? widget_options.bg_color : "inherit"} : {}')

//-     template(v-if='var_params && var_dataset_descriptors && options')
//-         .chart_wrapper
//-             .chart_frame
//-                 vars-bar-chart(
//-                     :var_dataset_descriptors="var_dataset_descriptors"
//-                     :labels="labels"
//-                     :options="options"
//-                 )
