@import 'skin-variables';

.tooltip.vue-tooltip-theme {
    z-index: 9999999;
}

.v-select {
  background: #fff;
}

.multiselect {
  min-width: 10em;
}

.btn_icon {
  margin-right: 0.2em;
}

i.fa.fa-spin:before {
  margin-right: 0 !important;
}

.toggle {
  .toggle-group {
    .toggle-handle.btn {
      border: solid 1px #AAA;
      background: white;
    }

    .btn.btn-default.toggle-off,
    .btn.btn-default.toggle-on {
      box-shadow: -2px 2px 20px 0px inset #AAAA;
    }
  }
}

/**
 * Pour les tooltips
 */
.tooltip {
  display: block !important;
  z-index: 10000;
  font-family: inherit;
  font-size: 15px;

  .tooltip-inner {
    background: $header_text_color;
    color: $main_menu_text_color;
    border-radius: 16px;
    padding: 5px 10px 4px;
    text-align: left;
    max-width: 350px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }

  &.popover {
    $color: #f9f9f9;
    max-width: 350px;

    .popover-inner {
      background: $color;
      color: black;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, .1);
    }

    .popover-arrow {
      border-color: $color;
    }
  }
}

.hide_annonce:before {
  display: none;
}

.clickable {
  cursor: pointer;
}

.primary_theme_bg {
  background-color: $button_primary_bg_color !important;
  color: $button_text_color !important;
}

.primary_theme_light_bg {
  background-color: $button_primary_active_bg_color !important;
  color: $button_text_color !important;
}

.table_total_row td {
  font-weight: bolder !important;
  @extend .primary_theme_light_bg;
}

.panel-default>.panel-heading {
  font-weight: bolder !important;
  @extend .primary_theme_bg;
}

.fc-view-container .fc-view {
  background: white;
}

.navbar-nav.ml-auto .nav-item .nav-link {
  padding: 8px 14px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  font-size: 16px;
  margin-left: 1em;
  box-shadow: 1px 1px 1px 0px #888;
  margin-right: 0 !important;
}

.skin-rocher .main-header .navbar-static-top .user_notif_wrapper {
  padding: 8px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  font-size: 16px;
  margin-left: 1em;
  box-shadow: 1px 1px 1px 0px #888;
  margin-top: 5px;
  color: #333;
}

.skin-rocher .main-header .navbar-static-top .navbar-notifications {
  float: right;
}

.vdp-datepicker {
  &.form-control {
    & input {
      border: 0;
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }
}

.v-select .selected-tag {
  width: max-content;
}

@media(max-width: 1030px) {

  .main-header .navbar-custom-menu {
    display: none;
  }

  .UserNotifsMarkerComponent .UserNotifsViewerComponent {
    top: 7em;
    right: 2%;
    max-width: 96%;
  }

  .UserNotifsViewerComponent .notifs_viewer_content {
    min-width: 0;
  }
}

.f-r {
  float: right;
}

.f-l {
  float: left;
}