.var_datas_refs_param_select
    .row
        .col-sm-12
            template(v-for='var_param in var_params')
                var-desc(:var_param='var_param' :show_deps='false' :show_last_update='false' :show_imports='false')