.var_data_sum.selectable_var{
    cursor: pointer;
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
    min-height: 1em;
}

.var_data_sum.selected_var{
    background: royalblue !important;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
}

.var_data_sum.selected_var_dependency{
    background: orangered !important;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
}

.var_data_sum.selected_var_dependent{
    background: green !important;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
}
