.var_data_sum.selected_var{
    background: royalblue;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
}

.var_data_sum.selectable_var{
    cursor: pointer;
}

.var_data_sum.selected_var_dependency{
    background: orangered;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
}

.var_data_sum.selected_var_dependent{
    background: green;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
}
