.checklist_modal
    .modal-header(v-if="checkpoint")
        h4.modal-title {{ label(checkpoint.name) }}
        p.modal_desc {{ label(checkpoint.explaination) }}

    .modal-body
        template(v-if='editable_fields && editable_fields.length')
            template(v-for='editable_field in editable_fields')
                Crudcomponentfield(
                    @onchangevo='onchangevo'
                    :field="editable_field"
                    :vo="checklist_item"
                    :auto_update_field_value='true'
                    :inline_input_mode='true'
                    :inline_input_hide_label='false'
                    :inline_input_read_value="checklist_item[editable_field.module_table_field_id]"
                    :key='checklist_item.id + "_" + editable_field.module_table_field_id'
                    :inline_input_show_clear='true'
                    :inline_input_mode_semaphore='true'
                    :show_insert_or_update_target='false'
                    :is_disabled='editable_field.is_readonly'
                )
        template(v-else)
            .no_fields {{ label('checklist_modal.no_fields') }}