.login-page
    .login-box
        .login-box-body
            .login-logo(v-if='logo_url')
            h1.text-center(v-if='!logo_url') {{ label('login.reset.title') }}
            h2.text-center {{ label('login.reset.sub_title') }}
            p.server-answer(v-if='message') {{ message }}
            div(v-if="!status")
                p.login-box-msg {{ label('login.reset.desc') }}
                form(v-on:submit.prevent="")
                    .form-group.has-feedback
                        input.form-control(type='email', v-model='email', :placeholder='label("login.email_placeholder")')
                        i.fa.fa-id-card.pull-right.fa-fw(aria-hidden="true")
                    .form-group.has-feedback
                        input.form-control(type='text', v-model='challenge', :placeholder='label("login.code_placeholder")')
                        i.fa.fa-paste.pull-right.fa-fw(aria-hidden="true")
                    .form-group.has-feedback
                        input.form-control(type='password', v-model='new_pwd1' :placeholder='label("login.password_placeholder")')
                        i.fa.fa-lock.pull-right.fa-fw(aria-hidden="true")

                    .center
                        button.btn.btn-primary.btn-block.btn-flat(@click="reset") {{ label('login.reset.submit') }}