.data-renderer
    +loading()
        .row
            .col-lg-12
                .page-header
                    h1 Import {{ data_file_import_name }} ({{ data_file_import_ext }})
        .row
            .col-lg-3
                input.form-control(type="file", size="10", v-model="datafile", id="file_import_input", placeholder="{{data_file_import_name}}.{{dataFileImportExt}}")
            .col-lg-3
                input.form-control(type="date", size="10", v-model="datatargetdate", placeholder="Date cible de l'import (début d'année, début de mois ou jour)")
            .col-lg-2
                include pugs/data_import_action_form.pug

        .row
            .col-md-6
                include pugs/data_import_historics_table.pug
            .col-md-6
                include pugs/data_import_logs_table.pug