@import "../../../../../../scss/base/skin.scss";

.field_value_filter_string_widget_component {
    height: -webkit-fill-available;

    .vo_field_ref_label {
        font-size: 1.2em;
        margin-bottom: 0.4em;
        line-height: 1em;
    }

    .multiselect__content {
        max-width: -webkit-fill-available;
    }

    .multiselect__element {
        max-width: -webkit-fill-available;
    }

    .multiselect__option,
    .option__tag,
    .option__title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: -webkit-fill-available;
    }

    .pill_wrapper {

        margin: 0.1em;

        .option__tag {
            max-width: 15em;
            display: inline-block;
            vertical-align: middle;
        }

        i.fa-times {
            background: white;
            border-radius: 100px;
            width: 15px;
            height: 14px;
            color: #5cb85c !important;
            opacity: 1;
            padding-left: 2px;
            font-size: 14px;
            cursor: pointer;
            font-weight: bold;
            display: inline-block;
            margin-left: 0.5em;
            transition: all 0.2s ease-in-out;
            vertical-align: middle;

            &:hover {
                background: #a9dca9 !important;
                color: white !important;
            }
        }
    }

    vertical-align: middle;

    .vo_field_ref_advanced {
        right: 1em;
        position: absolute;
        top: 0.8em;
    }

    .advanced_string_filter_content {
        display: inline-block;
        width: 40%;

        input {
            width: -webkit-fill-available;
            padding: 0.5em;
            border: none;
            margin-left: 1em;
        }

        &.hide_advanced_string_filter_type {
            width: 90%;

            input {
                margin-left: 0;
            }
        }

        margin-right: 0.3em;
    }

    .advanced_string_filter_add_filter {
        padding: 0.4em 0.1em 0.4em 0.1em;
        display: inline-block;
        cursor: pointer;
        color: dodgerblue;
    }

    .advanced_string_filter_validate_filter {
        padding: 0.4em 0.1em 0.4em 0.1em;
        display: inline-block;
        cursor: pointer;
        color: $success_color;
    }

    .advanced_string_filter_link_type {
        padding: 0.4em 0em 0.4em 0.4em;
        display: inline-block;
        cursor: pointer;
        color: dodgerblue;

        .link_type {
            position: absolute;
            margin-top: -1.68em;
            font-size: 0.7em;
            color: white;
            margin-left: 0.2em;
        }
    }

    .advanced_string_filter_delete_filter {
        padding: 0.4em 0.2em 0.4em 0.2em;
        display: inline-block;
        cursor: pointer;
        color: $danger_color;
    }

    .multiselect__content-wrapper {
        z-index: 0;
    }

    .advanced_string_filter_type {
        margin-right: 0.2em;
        width: 40%;
        display: inline-block;

        .multiselect,
        .multiselect__input,
        .multiselect__single,
        .multiselect__option {
            font-size: 0.8em;
        }
    }

    .vo_field_ref_filter {
        height: -webkit-fill-available;

        .multiselect .pill_wrapper {
            display: inline-block;
            padding: 2px 6px;
            border-radius: 6px;
            font-size: smaller;
            margin-right: 0.5rem;
            color: white;

            i.fa-solid.fa-times {
                cursor: pointer;
                margin-left: 8px;
            }
        }

        .container_filter_opt {
            height: 100%;
            overflow-x: auto;

            >.row {
                margin-right: 0;

                label {
                    max-width: calc(100% - 1.4rem);
                }
            }

            // On enlève la hauteur du nom du champ
            &.has_search_field {
                height: calc(100% - 38px - 0.5em);
            }

            &.has_vo_field_ref_label {
                height: calc(100% - 17px);

                // On enlève la hauteur du input de filtre
                &.has_search_field {
                    height: calc(100% - 17px - 38px - 0.5em);
                }
            }
        }
    }

    .text_cliquable {
        display: inline-block;
        // color: #555;
        text-decoration: underline;
        cursor: pointer;
        font-size: 0.8em;
    }

    .inter_text {
        display: inline-block;
        font-size: 0.8em;
        margin: 0em 0.2em;
    }
}