.main
    button.btn-success.btn-lg.btn-block.add_var_chart_scales_options_button(
                @click="send_message"
            ) {{ label('var_chart_scales_options_component.add_var_chart_scales_options_button') }}