
.module_quizz
    template(v-if="ordered_qrs && ordered_qrs.length > 0")
        .questions.text-center
            template(v-if="current_qr")
                .current_qr.d-ib {{ label('animation.question') }}
                b.d-ib {{ current_qr.weight }} / {{ ordered_qrs.length }}
            .switch_questions
                template(v-for="qr in ordered_qrs")
                    .question(@click="switchQR(qr)", :class="{active: (!show_recap && current_qr && current_qr.id == qr.id), 'fa fa-check': (current_qr && uqr_by_qr_ids[current_qr.id] && uqr_by_qr_ids[current_qr.id].id)}")

                i.fa.fa-trophy.question(@click="show_recap_toggle", :class="{active: show_recap, actif: recap_is_actif}")

        template(v-if="current_qr && !show_recap")
            Animationqr(:qr="current_qr", :uqr="uqr_by_qr_ids[current_qr.id]", :user_id="user_id", @reload="reloadUqrs", @next="nextQr")

        template(v-else-if="show_recap")
            .prct_reussite
                var-data(
                    v-var-directive="prct_reussite_module_directive",
                    :var_param="prct_reussite_module_param",
                    :filter='const_filters.percent.read',
                    :filter_additional_params='[]',
                )

