.UserNotifComponent.d-flex.flex-row(@click='redirect_notification()') 

    .type_icon_wrapper.me-3.fs-2
        template(v-if='is_error')
            font-awesome-icon(icon="fa-light fa-exclamation-triangle fa-fw").bg-danger.text-white.rounded-circle
        template(v-if='is_warn')
            font-awesome-icon(icon="fa-light fa-exclamation-triangle fa-fw").bg-warning.text-white.rounded-circle
        template(v-if='is_info')
            font-awesome-icon(icon="fa-light fa-exclamation-circle fa-fw").bg-info.text-white.rounded-circle
        template(v-if='is_success')
            font-awesome-icon(icon="fa-light fa-check-circle fa-fw").bg-success.text-white.rounded-circle

    //- strong(:class='text_class_name') {{ notification.simple_notif_json_params ? t(notification.simple_notif_label, JSON.parse(notification.simple_notif_json_params)) : t(notification.simple_notif_label) }}
    //- small.text-muted  {{ date_notification }}
    //- .mb-1.small {{ description }}

    div
        small.text-muted {{ date_notification_relativ }}
        p {{ notification.simple_notif_json_params ? t(notification.simple_notif_label, JSON.parse(notification.simple_notif_json_params)) : t(notification.simple_notif_label) }}