include ../../../../../views/mixins/box.pug

.col-sm-6.hidden-print(v-if="cards")
    +box("{{ t(card_title) }}", '', "8px", "0px")
        i.box-header-icon.fa.fa-database
        .row
            .col-sm-4(v-for="card in cards")
                card_widget(
                    :title='card.title',
                    :img_type="card.img_type",
                    :img_src="card.img_src",
                    :activable="card.activable",
                    :activated="selected_card == card",
                    @select="select_card(card)"
                )