.oselia_thread_widget_component(@dragover.prevent='handle_drag_over' @drop.prevent='handle_drop' @dragleave.prevent='handle_drag_leave')
    //- template(v-if='too_many_threads')
    //-     .too_many_threads.bg-primary
    //-         i.fa-duotone.fa-filters
    //-         | {{ label('oselia_thread_widget_component.too_many_threads') }}
    template(v-if='is_dragging')
        .dragging_overlay
            .dragging_overlay_text
                i.fa-duotone.fa-upload
                | {{ label('oselia_thread_widget_component.dragging_overlay_text') }}

    template(v-if="enable_link_image_menu")
        .link_image_menu
            .label_link_menu {{ label('oselia_thread_widget_component.link_image_menu.title') }}
                input(v-model='link_image_url' :placeholder="label('oselia_thread_widget_component.link_image_menu.url_placeholder')")
            .buttons
                button(v-on:click='upload_link_image') {{ label('oselia_thread_widget_component.image_upload_menu_item.upload') }}
                button(v-on:click='cancel_link_image') {{ label('oselia_thread_widget_component.image_upload_menu_item.cancel') }}
    template(v-if='has_access_to_thread')
        template(v-if='is_loading_thread')
            .is_loading_thread
                i.fa-duotone.fa-spinner-third.fa-spin

        template(v-else)
            .thread_container(ref='thread_container' :class="is_dragging ? 'blur' : '' ")  
                //- .update_button 
                //-     button.btn.btn-sm.btn-primary(v-on:click='force_reload')
                //-         i.fa-duotone.fa-sync
                
                template(v-if='(!thread_messages) || (!thread_messages.length)')
                    .no_messages
                        i.fa-duotone.fa-comments
                        | {{ label('oselia_thread_widget_component.no_messages') }}
                .thread_messages
                    template(v-for='thread_message in thread_messages')
                        Oseliathreadmessagecomponent(
                            :thread='thread'
                            :thread_message='thread_message'
                            @thread_message_updated='thread_message_updated'
                        )
                    template(v-if='thread.oselia_is_running')
                        .thread_message.thread_message_assistant
                            .thread_message_header
                                .thread_message_header_left
                                    .thread_message_header_left_avatar
                                        img(:src='role_assistant_avatar_url')
                                    .thread_message_header_left_username
                                        | {{ label('oselia_thread_widget_component.thread_message_header_left_username.oselia') }}

                            .thread_message_body
                                .thread_message_body_content
                                    .thread_message_body_text
                                        i.fa-duotone.fa-spinner-third.fa-spin

    
                .thread_message_input
                    template(v-if="thread_files.length > 0")
                        .thread_files
                            template(v-for="(item, index) in thread_files")
                                template(v-for="(value, key) in item")
                                    template(v-if="value.path")
                                        .thread_file
                                            button.fa-solid.fa-xmark(v-on:click='remove_file(index)')
                                            template(v-if="key == '.png' || key == '.jpg' || key == '.jpeg' || key == '.gif' || key == '.webp'")
                                                img(:src="'/' + value.path")
                                            template(v-else-if="key == '.pdf'")
                                                img(:src="'/vuejsclient/public/img/pdf.png'")
                                            template(v-else-if="key == '.csv'")
                                                img(:src="'/vuejsclient/public/img/csv.png'")
                                            template(v-else-if="key == '.xlsx'")
                                                img(:src="'/vuejsclient/public/img/xlsx.png'")
                                            template(v-else-if="key == '.txt'")
                                                img(:src="'/vuejsclient/public/img/txt.png'")
                    .thread_message_input_textarea
                        textarea(v-model='new_message_text' rows="1" @keydown="handle_new_message_text_keydown" ref='new_message_textarea_ref')
                    .thread_message_input_buttons
                        .thread_message_input_file_system
                            button.fa-solid.fa-files(v-on:click='open_file_system_upload')
                        .thread_message_input_file
                            button.fa-solid.fa-paperclip(v-on:click='open_file_upload')
                        .thread_message_input_image
                            button.fa-solid.fa-images(v-on:click='open_image_upload')
                            template(v-if="enable_image_upload_menu")
                                .image_upload_menu
                                    .image_upload_menu_item(v-on:click='upload_image')
                                        i.fa-duotone.fa-upload
                                        | {{ label('oselia_thread_widget_component.image_upload_menu_item.upload') }}
                                    .image_upload_menu_item(v-on:click='open_link_image')
                                        i.fa-duotone.fa-images
                                        | {{ label('oselia_thread_widget_component.image_upload_menu_item.link') }}
                        .thread_message_input_image
                            button.fa-solid.fa-vial(v-on:click='run_test')
                            
                    .thread_message_input_send
                        template(v-if='get_too_many_assistants')
                            .too_many_assistants.bg-warning
                                i.fa-duotone.fa-comments-question
                                | {{ label('oselia_thread_widget_component.too_many_assistants') }}
                        template(v-else-if='!get_can_run_assistant')
                            .no_assistant.bg-danger
                                i.fa-duotone.fa-comments-question
                                | {{ label('oselia_thread_widget_component.no_assistant') }}
                        template(v-else)
                            button.btn.btn-primary(v-on:click='send_message()' :disabled='assistant_is_busy || !new_message_text')
                                i.fa-duotone.fa-paper-plane
                                | {{ label('oselia_thread_widget_component.send_message') }}

    template(v-else)
        .no_access.bg-warning
            i.fa-duotone.fa-user-lock.fa-beat-fade(style='--fa-animation-iteration-count: 3')
            | {{ label('oselia_thread_widget_component.no_access') }}