.oselia_thread_widget_component {

    padding-right: 0 !important;

    .dragging_overlay {
        opacity: 0.3;
        background-color: grey;
        height: -webkit-fill-available;
        width: -webkit-fill-available;
        text-align: center;
        .dragging_overlay_text {
            color: white;
            font-size: 2em;
            margin-top: 40%;
        }
    }
    .update_button {
        text-align: right;
    }
    
    .link_image_menu {
        align-items: center;
        background-color: white;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        width: fit-content;

        .label_link_menu {
            color: rgb(0, 0, 0);
            border:rgb(0, 0, 0);
            border-radius: 4px;
            padding: 10px 20px;
            margin: 10px 0;
            cursor: pointer;
            transition: background-color 0.3s;
            font-size: 16px;
            flex-direction: column;
            display: flex;
            margin-left: auto;
            margin-right: auto;
        }

        input{
            font-size: 1em;
            font-weight: normal;
            padding: 0.4em 0.8em 0.4em 0.8em;
            border: none;
            border-radius: 1em;
            line-height: 1.5em;
        }

        button {
            background-color: #e3e3eb;
            font-size: 18px;
            border-radius: 8px;
            box-sizing: border-box;
            border: none;
            padding: 8px;
        }

        button:hover {
            background-color: #d3d3db;
        }
    }
    
    .blur {
        filter: blur(10px);
    }
    .no_access,
    .too_many_assistants {

        padding: 1em;
        border-radius: 1em;
        color: white;
        max-width: fit-content;
        margin: 1em auto;

        i {
            font-size: xx-large;
            vertical-align: middle;
            margin-right: 0.4em;
        }
    }

    .thread_container {

        padding: 1em 0em;
        padding-right: 1em !important;
        overflow-y: auto;
        height: -webkit-fill-available;

        .thread_message_input {

            margin: auto;
            margin-top: 2em;
            max-width: 768px;
            margin-left: 3em;
            
            .thread_files {
                position: relative;
                display: inline-flex;

                .thread_file {
                    width: 30%;
                    height: 30%;
                    place-self: center;
                    button {
                        position: absolute;
                        margin-left: 10%;
                        top:30%;
                        z-index: 15;
                        display: none; /* Cacher le bouton par défaut */
                        background-color: #e3e3eb;
                        color: black;
                        border: none;
                        padding: 10px 20px;
                        cursor: pointer;
                        border-radius: 5px;
                    }
                    
                    button:hover {
                        background-color: #d3d3db;
                    }

                    img {
                        display: block;
                        border: solid 2px #DDD;
                        width: 100%;
                        height: 100%;
                    }

                    img:hover {
                        opacity:0.5;
                    }
                }

                .thread_file:hover button {
                    display:block;
                }
            }

            .thread_message_input_buttons {

                display:flex;

                .thread_message_input_image {
                    margin-left: 7px;
                }

                button {
                    background-color: #e3e3eb;
                    font-size: 18px;
                    border-radius: 8px;
                    box-sizing: border-box;
                    border: none;
                    padding: 8px;
                }
                
                button:hover {
                    background-color: #d3d3db;
                }

                .image_upload_menu {
                        position: sticky;
                        background-color: white;
                        border-radius: 8px;
                        padding: 20px;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: fit-content;
                        bottom: 11%;

                    .image_upload_menu_item {
                        color: rgb(0, 0, 0);
                        border: none;
                        border-radius: 4px;
                        padding: 10px 20px;
                        margin: 10px 0;
                        cursor: pointer;
                        transition: background-color 0.3s;
                        font-size: 16px;

                       
                        .fa-duotone {
                            margin-right: 5px;
                        }
                    }

                    .image_upload_menu_item:hover {
                        background-color: #d3d3db;
                    }
                }

            }

            .thread_message_input_textarea {
                width: -webkit-fill-available;

                textarea {
                    width: -webkit-fill-available;
                    font-size: 1em;
                    font-weight: normal;
                    padding: 0.4em 0.8em 0.4em 0.8em;
                    border: none;
                    border-radius: 1em;
                    margin-top: 1em;
                    line-height: 1.5em;
                    margin-bottom: .4em;
                }
            }

            .thread_message_input_send {
                text-align: right;

                i {
                    margin-right: 0.4em;
                }
            }
        }

        .thread_messages {

            max-width: 768px;
            margin: auto;
        }
    }
}