@import "skin-variables.scss";

.openclose_on_page_translation_module_wrapper {
    position: fixed;
    bottom: 10px;
    right: 60px;
    z-index: 20000;

    .badge.badge-danger{
        background-color: #b3003c;
        color: white;
    }
}

.on_page_translation_module_wrapper {
    position: fixed;
    top: 60px;
    left: 240px;
    right: 50px;
    bottom: 90px;
    overflow: auto;
    background: #EEE;
    border-radius: 20px;
    padding: 20px;
    z-index: 10000;
    box-shadow: #888 0px 0px 30px;
}

.on_page_translation {
    .form-control{
        min-width: 600px;
    }

    input.form-control.bg-warning {
        background-color: #fcf8e3;
    }

    .row.editable_translation{
        padding: 5px;
        margin-bottom: 5px;
        border:solid 2px #DDD;
        border-radius: 10px;

        .vue-js-switch{
            margin-right: 5px;
        }

        .btn.btn-secondary {
            margin-right: 5px;
        }
    }

    .other_langs .lang-col {

        text-align: right;
        background: #888;
        color: white;
        text-transform: uppercase;
    }
}
