@import "skin-variables.scss";

.openclose_on_page_translation_module_wrapper {
    .btn {
        border-radius: 5px;
        box-shadow: 1px 1px 3px #333;
        padding: 5px 12px 4px;
    }

    .badge {
        margin-left: 5px;

        &.badge-danger {
            background-color: #b3003c;
            color: white;
        }
    }
}

.on_page_translation_module_wrapper {
    position: fixed;
    top: 60px;
    left: 240px;
    right: 50px;
    bottom: 90px;
    overflow: auto;
    background: #EEE;
    border-radius: 20px;
    padding: 20px;
    z-index: 10000;
    box-shadow: #888 0px 0px 30px;
}

.on_page_translation {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;

    .form-control {
        min-width: 600px;
    }

    input.form-control.bg-warning {
        background-color: #fcf8e3;
    }

    .row.editable_translation {
        padding: 5px;
        margin-bottom: 5px;
        border: solid 2px #DDD;
        border-radius: 10px;

        .vue-js-switch {
            margin-right: 5px;
        }

        .btn.btn-secondary {
            margin-right: 5px;
        }
    }

    .other_langs .lang-col {

        text-align: right;
        background: #888;
        color: white;
        text-transform: uppercase;
    }
}