.var_desc_param_fields {

    .var_param_field_title {
        color: #999;
        margin: 2px;
        font-size: smaller;
        margin-top: .3em;
        margin-bottom: -3px;
    }

    .var_code_card {
        font-size: x-small;
        padding: 3px;
        color: #DDD;
        cursor: pointer;
    }
}
