.var_desc_param_fields
    template(v-if='var_param')
        //- template(v-if='var_data_has_tsranges && var_data_ts_ranges')
        //-     .var_param_field_title {{ label('fields.labels.ref.'+param_table_name+'.'+var_data_ts_ranges_field_id) }}
        //-     Tsrangescomponent.var_data_ts_range(:ranges='var_data_ts_ranges')

        template(v-if='var_data_other_fields')
            template(v-for='field in var_data_other_fields')
                .var_param_field_title {{ label('fields.labels.ref.'+param_table_name+'.'+field.field_id) }}
                template(v-if='var_param[field.field_id] && var_param[field.field_id].length && (var_param[field.field_id][0].range_type == ts_range_type)')
                    Tsrangescomponent.var_data_ts_range(:ranges='var_param[field.field_id]')
                template(v-if='var_param[field.field_id] && var_param[field.field_id].length && (var_param[field.field_id][0].range_type == hour_range_type)')
                    Hourrangescomponent.var_data_ts_range(:ranges='var_param[field.field_id]')
                template(v-if='var_param[field.field_id] && var_param[field.field_id].length && (var_param[field.field_id][0].range_type == num_range_type)')
                    Numrangescomponent.var_data_ts_range(:ranges='var_param[field.field_id]' :vo_field='field')