.year_filter_input_component {
    .label,
    .custom_filter_name {
        font-size: 1.2em;
        margin-bottom: 0.4em;
        line-height: 1em;
    }

    .years {
        text-align: center;

        .year.not_selectionnable {
            color: #aaa;
            cursor: not-allowed;
        }

        .use_year_cumulable,
        .all_years,
        .year {
            padding: 0.5em;
            background: white;
            margin: 0.2em;
            display: inline-block;
            cursor: pointer;
            transition: all 0.5s ease-out;

            &:hover,
            &.selected {
                background: #555;
                color: white;
            }
        }
    }
}
