@import "../AccessPolicyLoginPage.scss";

.my_account_page {

    .my_account_name {
        font-size: 2em;
    }

    .my_account_content {

        >.col-md-6 {
            margin-bottom: 1em;
        }

        .my_account_infos{

            background: white;
            padding: 1em;

            i {
                float: left;
                vertical-align: middle;
                line-height: 1.5em;
                margin-right: 0.2em;
            }

            .my_account_infos_content {
                vertical-align: middle;
            }
        }

        .my_account_plugins>.row {
            margin-bottom: 1em;
        }
    }
}
