@import "../AccessPolicyLoginPage.scss";

.my_account_page {

    .my_account_name {
        font-size: 2em;
    }

    .my_account_content {

        >.col-sm-6 {
            margin-bottom: 1em;
        }

        .my_account_infos{

            background: white;
            padding: 2em;

            .my_account_content_header {
                margin-top: 0;
                margin-bottom: 1em;
            }

            i.fa-id-card, i.fa-envelope, i.fa-mobile {
                float: left;
                vertical-align: middle;
                line-height: 1.5em;
                margin-right: 0.2em;
            }

            .my_account_infos_content {
                vertical-align: middle;
            }

            .form-group.inline_input_mode {

                display: inline-block;
                text-align: left;

                input {
                    width: 30rem;
                    background: beige;
                }
            }
        }

        .my_account_plugins>.row {
            margin-bottom: 1em;
        }
    }
}
