.cms_print_param_widget_icon
    template(v-if='!widget')
    template(v-else)
        .fa-stack.fa-lg.fa-fw(aria-hidden='true')
            i.fa-solid.fa-file.fa-stack-2x
            i.fa-solid.fa-cogs.fa-stack-1x
        