include ../../../views/mixins/loading.pug

.access_policy
    +loading()
        .table_container
            table.table-striped.table-hover(is="vue-scrolling-table")
                template(slot="thead")
                    tr
                        th {{ label('access_policy.admin.table.headers.first_header') }}
                        th(v-for="role in roles") {{ label(role.translatable_name) }}
                template(slot="tbody")
                    template(v-for="policy_group in visible_policy_groups")
                        tr.policy_group
                            td {{ label(policy_group.translatable_name) }}
                            td(v-for="role in roles")
                        tr.policy(v-for="policy in visible_policies_by_group_id[policy_group.id]")
                            td {{ label(policy.translatable_name) }}
                            td(v-for="role in roles" :class="{'bg-success': access_matrix[policy.id][role.id], 'bg-secondary': !access_matrix[policy.id][role.id]}")
                                bootstrap-toggle(
                                    @change="set_policy(policy.id, role.id)" 
                                    v-if="!inherited_access_matrix[policy.id][role.id]" 
                                    v-model="access_matrix[policy.id][role.id]" 
                                    :options="{on: label('access_policy.admin.table.granted'), off: label('access_policy.admin.table.denied')}"
                                    :disabled="busy")
