.cms_image_widget_component {
    padding: 0 !important;
    margin-top: 0;

    span {
        display: inline-block;
        overflow: hidden;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }
}