include ../../../../../views/mixins/loading.pug

.cms_image_widget_component_container
    template(v-if="img_path")
        .cms_image_widget_component.text-center
            span(:style="widget_style")