.rootElt.Reporting
    .row
        include ./card/cards.pug
        include ./filter/filters.pug
        
    .row(v-if="selected_card")
        .col-md-12
            v-client-table.reporting_table(
                :columns="selected_card_columns",
                :data="data_selected_card",
                :options="vue_tables_options",
            )

                template(v-if="selected_card.columnsHeaderSupp", v-for='groupColumn in selected_card.columnsHeaderSupp')
                    tr(:class="'header_group ' + groupColumn.name", slot="prependBody")
                        template(v-for='column in groupColumn.columns')
                            td(:colspan='column.colspan', :class='getClassesColumn(column)') {{ t(column.label) }}
                
                tr.main_total_line(slot="prependBody")
                    td(v-for='columnData in selected_card.columnsTotal', :colspan='columnData.column.colspan', :class='getClassesColumnData(columnData)')
                        column_widget(:columnData="columnData")

                template(v-for="columnName in selected_card_columns_without_first", :slot="columnName", slot-scope="props")
                    column_widget(:columnData="getColumnByProps(props)")
                        
                tr.header_group2(v-if="selected_card.columnsFooter && selected_card.columnsFooter.length > 0", slot="prependBody")
                    template(v-for='column in selected_card.columnsFooter')
                        td(:colspan='column.colspan') {{ t(column.label) }}
                        
        .col-md-12(v-if="selected_card.message_footer")
            span {{ t(selected_card.message_footer) }}