.table_widget_component {

    .btn-group.d-print-none {
        text-align: right;
        float: right;
        margin-top: -3px;
        margin-bottom: .2em;

        opacity: 0.5;
        transition: opacity 300ms ease-in-out;

        &:hover {
            opacity: 1;
        }
    }

    table {
        width: -webkit-fill-available;
        clear: both;

        thead {
            th {
                border: solid 1px #EEE;
                padding: .2em;
                background: white;
                font-size: 1em;
                font-weight: 700;
                color: #555;
                cursor: pointer;

                .order_by {
                    float: left;
                }
            }
        }

        tr {
            td {
                border: solid 1px #EEE;
                padding: .2em;

                &.type_0 {
                    width: 0;
                }

                .btn-group.d-print-none {
                    opacity: 0.5;
                    transition: opacity 300ms ease-in-out;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}