include ../../../../../views/mixins/loading.pug

.table_widget_component_wrapper
    template(v-if='table_view == "kanban"')
        Tablewidgetkanbancomponent(
            :is_edit_mode='is_edit_mode'
            :page_widget='page_widget'
            :all_page_widget='all_page_widget'
            :dashboard='dashboard'
            :dashboard_page='dashboard_page'
        )
    template(v-else)
        Tablewidgettablecomponent(
            :is_edit_mode='is_edit_mode'
            :page_widget='page_widget'
            :all_page_widget='all_page_widget'
            :dashboard='dashboard'
            :dashboard_page='dashboard_page'
        )