include ../../../../../views/mixins/loading.pug

.table_widget_component
    +loading()
        template(v-if='columns')

            template(v-if='loaded_once && is_busy')
                .is_busy 
                    i.fa.fa-refresh.fa-spin(aria-hidden="true")

            .table_header {{ table_header_title }}

            .upper_pagination
                template(v-if='!!crud_activated_api_type')
                    .crud_actions.btn-group.d-print-none
                        button.btn.btn-sm.btn-danger(v-if='can_delete_all', @click='confirm_delete_all')
                            i.fa.fa-trash.fa-lg.btn_icon(aria-hidden="true")
                            | {{ label('crud.actions.delete_all') }}
                        button.btn.btn-sm.btn-secondary(v-if='can_refresh', @click='refresh')
                            i.fa.fa-refresh.fa-lg.btn_icon(aria-hidden="true")
                            | {{ label('crud.actions.refresh') }}
                        button.btn.btn-sm.btn-outline-dark(v-if='can_export' @click="choose_export_type")
                            i.fa.fa-download.fa-lg.btn_icon
                            | {{ label('crud.actions.export') }}
                        button.btn.btn-sm.btn-success(v-if='can_create' @click="open_create")
                            i.fa.fa-plus-circle.fa-lg.btn_icon
                            | {{ label('crud.actions.create') }}
                            
                Tablepaginationcomponent(
                    :pagination_offset='pagination_offset'
                    :pagination_pagesize='limit'
                    :pagination_count='pagination_count'
                    :show_limit_selectable='show_limit_selectable'
                    :show_pagination_resumee='show_pagination_resumee'
                    :show_pagination_slider='show_pagination_slider'
                    :show_pagination_form='show_pagination_form'
                    :show_pagination_list='show_pagination_list'
                    :limit_selectable='limit_selectable'
                    @change_offset='change_offset'
                    @change_limit='change_limit'
                )

            .table_wrapper
                table.table-striped.table-hover
                    thead 
                        th.table_header(
                            v-for='column in columns' 
                            :class="{ order_asc: order_asc_on_id == column.id, order_desc: order_desc_on_id == column.id }"
                            :style="get_style_column(column)"
                            @click="sort_by(column)"
                            )

                            template(v-if="column.type == 1")
                                .order_by
                                    template(v-if='(order_asc_on_id != column.id) && (order_desc_on_id != column.id)')
                                        i.fa.fa-sort.fa-fw(aria-hidden="true")
                                    template(v-if='order_asc_on_id == column.id')
                                        i.fa.fa-sort-asc.fa-fw(aria-hidden="true")
                                    template(v-if='order_desc_on_id == column.id')
                                        i.fa.fa-sort-desc.fa-fw(aria-hidden="true")

                            Inlinetranslatabletext(:code_text="column.get_translatable_name_code_text(page_widget.id)")
                    template(v-if="update_cpt_live <= 1")
                        tbody
                            tr.table_row(v-for='row in data_rows' :class='{"is_filtering": is_filtering_by, "filtered_value": is_filtering_by && !is_row_filter_ok(row)}')
                                td.table_col(
                                    v-for='column in columns' 
                                    :class='{["type_" + column.type]: true, "can_filter": can_filter_by(column) && (is_filtering_by_col(column) || !is_filtering_by), "is_filtering_by": is_filtering_by_col(column) }'
                                    @click="can_filter_by(column) ? (is_filtering_by_col(column) ? filter_by(column, column.datatable_field_uid, null) : (is_filtering_by ? null : filter_by(column, column.datatable_field_uid, row))) : null"
                                    v-tooltip='can_filter_by(column) ? ((!is_filtering_by_col(column)) ? (is_filtering_by ? null : (((!column.field_id) || (column.field_id == "id")) ? label("table_widget_component.filter_by.id") : label("table_widget_component.filter_by.column_value"))) : label("table_widget_component.filter_by.unfilter")) : null'
                                    )

                                    //- If it's a select box
                                    template(v-if="column.type == 3")
                                        input.d-print-none.form-control(type="checkbox" v-model="selected_rows[row.__crud_actions]" :style="{width: (column.column_width ? column.column_width + 'rem' : null)}")

                                    //- If it's the crud actions
                                    template(v-if="(column.type == 0) && !column.hide_from_table")
                                        .btn-group.d-print-none(v-tooltip='label("table_widget_component.id", {id : row.__crud_actions})' :style="{width: (column.column_width ? column.column_width + 'rem' : null)}")
                                            template(v-if='update_button')
                                                .btn.btn-sm.btn-primary(@click="open_update(column.api_type_id, row.__crud_actions)")
                                                    i.fa.fa-pencil
                                            template(v-if="can_open_vocus")
                                                .btn.btn-xs.btn-secondary(@click="open_vocus(column.api_type_id, row.__crud_actions)")
                                                    i.fa.fa-search
                                            template(v-if="delete_button")
                                                .btn.btn-sm.btn-danger(@click="confirm_delete(column.api_type_id, row.__crud_actions)")
                                                    i.fa.fa-trash
                                                        
                                    //- If it's a component
                                    //-  or any other type of fields
                                    template(v-else)
                                        template(v-if='column.readonly')
                                            template(v-if='column.is_enum')
                                                Datatablecomponentfield.is_enum(
                                                    :field="fields[column.id]"
                                                    :vo="row"
                                                    :columns="columns"
                                                    :style="{width: (column.column_width ? column.column_width + 'rem' : null), background: (column.enum_bg_colors ? column.enum_bg_colors[row[column.datatable_field_uid + '__raw']] : ''), color: (column.enum_fg_colors ? column.enum_fg_colors[row[column.datatable_field_uid + '__raw']] : '') }"
                                                )
                                            template(v-else)
                                                Datatablecomponentfield(
                                                    :field="fields[column.id]"
                                                    :vo="row"
                                                    :columns="columns"
                                                    :style="'width: ' + (column.column_width ? column.column_width + 'rem' : null)"
                                                    :is_dashboard_builder="true"
                                                    :show_tooltip="column.show_tooltip"
                                                )

                                        template(v-else)
                                            Crudcomponentfield(
                                                @onchangevo='onchange_column'
                                                :field="fields[column.id]"
                                                :vo="row"
                                                :style="'width: ' + (column.column_width ? column.column_width + 'rem' : null)"
                                                :ask_confirmation_to_delete='true'
                                                :inline_input_mode='true'
                                                :inline_input_read_value="row[column.datatable_field_uid]"
                                                :key='"crudcomponentfield_" + column.datatable_field_uid + "___" + row.__crud_actions'
                                                :is_dashboard_builder="true"
                                            )
                                            
                    template(v-if="has_table_total_footer")
                        tfoot
                            template(v-if="!!colspan_total")
                                td.text-center(:colspan='colspan_total') {{ label('table_widget_component.table_total_footer')}}

                            template(v-for='(column, index_column) in columns')
                                template(v-if="is_column_type_number(column)")
                                    td 
                                        template(v-if="column_total && column_total[column.api_type_id]")
                                            span {{ column_total[column.api_type_id][column.field_id] }}

                                template(v-else)
                                    template(v-if="!colspan_total || (parseInt(index_column) >= colspan_total)")
                                        td 

            .lower_pagination 
                Tablepaginationcomponent(
                    :pagination_offset='pagination_offset'
                    :pagination_pagesize='limit'
                    :pagination_count='pagination_count'
                    :show_limit_selectable='show_limit_selectable'
                    :show_pagination_resumee='show_pagination_resumee'
                    :show_pagination_slider='show_pagination_slider'
                    :show_pagination_form='show_pagination_form'
                    :show_pagination_list='show_pagination_list'
                    :limit_selectable='limit_selectable'
                    @change_offset='change_offset'
                    @change_limit='change_limit'
                )
