.table_widget_component
    template(v-if='vo_field_refs')
        table.table-striped.table-hover
            thead 
                th.table_header(v-for='vo_field_ref in vo_field_refs')
                    Inlinetranslatabletext(:code_text="vo_field_ref.translatable_name_code_text")
            tbody
                tr.table_row(v-for='row in data_rows')
                    td.table_col(v-for='vo_field_ref in vo_field_refs')
                        Datatablecomponentfield(
                            :field="fields[vo_field_ref.id]",
                            :vo="row",
                        )
