.table_widget_component
    template(v-if='columns')

        .upper_pagination(v-if="pagination_count > 10")
            Tablepaginationcomponent(
                :pagination_offset='pagination_offset'
                :pagination_pagesize='pagination_pagesize'
                :pagination_count='pagination_count'
                @change_offset='change_offset'
            )

        table.table-striped.table-hover
            thead 
                th.table_header(
                    v-for='column in columns' 
                    :class="{ order_asc: order_asc_on_id == column.id, order_desc: order_desc_on_id == column.id }"
                    @click="sort_by(column)"
                    )

                    template(v-if="column.type == 1")
                        .order_by
                            template(v-if='(order_asc_on_id != column.id) && (order_desc_on_id != column.id)')
                                i.fa.fa-sort.fa-fw(aria-hidden="true")
                            template(v-if='order_asc_on_id == column.id')
                                i.fa.fa-sort-asc.fa-fw(aria-hidden="true")
                            template(v-if='order_desc_on_id == column.id')
                                i.fa.fa-sort-desc.fa-fw(aria-hidden="true")

                    Inlinetranslatabletext(:code_text="column.translatable_name_code_text")
            tbody
                tr.table_row(v-for='row in data_rows')
                    td.table_col(v-for='column in columns' :class='"type_" + column.type')
                        template(v-if="column.type == 3")
                            input.d-print-none.form-control(type="checkbox" v-model="selected_rows[row.__crud_actions]")

                        template(v-if="column.type == 0")
                            .btn-group.d-print-none
                                router-link.btn.btn-sm.btn-primary(:to="getCRUDUpdateLink(column.api_type_id, row.__crud_actions)")
                                    i.fa.fa-pencil
                                template(v-if="vocus_button")
                                    .btn.btn-sm.btn-secondary(@click="open_vocus(column, row)")
                                        i.fa.fa-search
                                template(v-if="delete_button")
                                    .btn.btn-sm.btn-danger(@click="confirm_delete(column, row)")
                                        i.fa.fa-trash
                                        
                        template(v-else)
                            Datatablecomponentfield(
                                :field="fields[column.id]"
                                :vo="row"
                                :columns="columns"
                            )



        .lower_pagination 
            Tablepaginationcomponent(
                :pagination_offset='pagination_offset'
                :pagination_pagesize='pagination_pagesize'
                :pagination_count='pagination_count'
            )
