.save_favorites_filters_modal_component_wrapper {
    height: 100%;
    padding: 0.5em;

    .favorites_filters_name {
        .input_wrapper {
            input {
                width: 100%;
            }
        }
    }
}
