@import "skin-variables.scss";

.save_favorites_filters_modal_component_wrapper {
    height: 100%;
    padding: 0.5em;

    .favorites_filters_name {
        .input_wrapper {
            input {
                width: 100%;
            }
        }
    }

    .modal-body {
        ul.error-list {
            padding: 0;
            list-style-type: none;
        }
        .error {
            list-style: none;
        }
    }

    .favorites_filters_overwrite_active_field_filters {
        .input_wrapper {
            display: inline;
            margin-right: 10px;
        }
        .input_label {
            display: inline;
            position: relative;
            bottom: 4px;
        }
    }

    .select_favorites_filters_options {
        .option {
            .input_wrapper {
                display: inline;
                margin-right: 10px;
            }
            .input_label {
                display: inline;
                position: relative;
                bottom: 4px;
            }
        }
    }

    .favorites_filters_options {
        .plan_export {
            .input_wrapper {
                display: inline;
                margin-right: 10px;
            }
            .input_label {
                display: inline;
                position: relative;
                bottom: 4px;
            }
        }
    }

    .select_exportable_data_options {
        .option {
            .input_wrapper {
                display: inline;
                margin-right: 10px;
            }
            .input_label {
                display: inline;
                position: relative;
                bottom: 4px;
            }
        }
    }

    .favorites_filters_name {
        .input_wrapper {
            input {
                width: 100%;
                min-height: 40px;
                display: block;
                padding: 0px 40px 0 8px;
                border-radius: 5px;
                border: 1px solid #e8e8e8;
                background: #fff;
                font-size: 14px;
                padding-left: 10px;
                margin-bottom: 8px;
            }
        }
    }

    .export_frequency_every {
        .input_wrapper {
            input {
                width: 100%;
                min-height: 40px;
                display: block;
                padding: 0px 40px 0 8px;
                border-radius: 5px;
                border: 1px solid #e8e8e8;
                background: #fff;
                font-size: 14px;
                padding-left: 10px;
                margin-bottom: 8px;
            }
        }
    }

    .export_frequency_granularity {
        .export_frequency_granularity_select {
            // Case when there is no label
            position: relative;
            top: 20px;
        }
    }

    .export_frequency_day_in_month {
        .input_wrapper {
            input {
                width: 100%;
                min-height: 40px;
                display: block;
                padding: 0px 40px 0 8px;
                border-radius: 5px;
                border: 1px solid #e8e8e8;
                background: #fff;
                font-size: 14px;
                padding-left: 10px;
                margin-bottom: 8px;
            }
        }
    }

    .nav-pills {
        margin-bottom: 16px;

        > li > a {
            width: 100%;
            background: #f5f5f5;
            margin-bottom: 2px;
            border-radius: 2px;
            padding: 0.5em;
            text-align: center;
            cursor: pointer;
        }

        > li.active > a,
        > li.active > a:focus,
        > li.active > a:hover {
            color: #fff;
            background-color: $button_primary_bg_color;
            border-top-color: $button_primary_bg_color;
        }

        li + li {
            margin-left: 0;
        }
    }
}
