include ../../../../../views/mixins/loading.pug

.crud_create_form
    +loading()
        form(v-on:submit.prevent="createVO")
            .crud_create_form_header
                .title.d-ib {{ label('crud.create.modal.title') }}
                a.btn.close(@click="cancel") &times;

            .crud_create_form_body
                .alert.alert-warning(v-if="is_only_readable") {{ label('crud.create.modal.readonly') }}
                template(v-if="newVO")
                    template(v-if="has_createDatatable", v-for="field in crud.createDatatable.fields")
                        Crudcomponentfield(
                            v-show="!field.hidden",
                            :key="newVO._type + '_createDatatable_' + field.datatable_field_uid + '_' + crud_createDatatable_key",
                            :field="field",
                            :vo="newVO",
                            :datatable="crud.createDatatable",
                            :auto_update_field_value="true",
                            @uploadedfile="uploadedFile_",
                            @onchangevo="onChangeVO",
                            :show_insert_or_update_target='show_insert_or_update_target'
                        )

                template(v-else)
                    p {{ label('crud.create.modal.content.newvo_failure') }}

            .crud_create_form_footer
                a.btn.btn-default(v-if="!creating_vo", @click="cancel") {{ label('crud.create.modal.cancel') }}
                template(v-if="newVO && !creating_vo && !is_only_readable")
                    input.btn.btn-primary(type="submit" :value="label('crud.create.modal.add')")