include ../../../../../views/mixins/loading.pug

.string_searchbar_widget_component
    template(v-if='vo_field_ref')
        .vo_field_ref_label {{ vo_field_ref_label }}
        .vo_field_advanced_string_filters
            template(v-if='advanced_string_filter')
                .vo_field_advanced_string_filter
                    form(v-on:submit.prevent="validate_advanced_string_filter")
                        template(v-if="!hide_advanced_string_filter_type")
                            .advanced_string_filter_type
                                multiselect(
                                    :preselect-first="true"
                                    :multiple="false"
                                    :close-on-select="true"
                                    v-model="advanced_string_filter.filter_type"
                                    :options="filter_type_options"
                                    :custom-label="filter_type_label"
                                    autocomplete="off"
                                    :show-labels="false"
                                    :searchable="false"
                                    :internal-search="false"
                                    :hide-selected="false"

                                    :key="'advanced_string_filter_type' + vo_field_ref.api_type_id + '__' + vo_field_ref.field_id + '__' + i"

                                    :select-label='label("multiselect.selectLabel")'
                                    :select-group-label='label("multiselect.selectGroupLabel")'
                                    :selected-label='label("multiselect.selectedLabel")'
                                    :deselect-label='label("multiselect.deselectLabel")'
                                    :deselect-group-label='label("multiselect.deselectGroupLabel")'
                                    @input="onchange_advanced_string_filter_content"
                                )

                        .advanced_string_filter_content(v-if='has_content_filter_type[advanced_string_filter.filter_type]', :class="{hide_advanced_string_filter_type: hide_advanced_string_filter_type}")
                            input(
                                v-model='advanced_string_filter.filter_content'
                                :placeholder='advanced_mode_placeholder'
                                @change="onchange_advanced_string_filter_content"
                            )

                        template(v-if="!autovalidate_advanced_filter || active_field_on_autovalidate_advanced_filter")
                            .advanced_string_filter_validate_filter(v-tooltip.top='label("advanced_filters.validate")' @click='validate_advanced_string_filter' :class='{"disabled": !is_advanced_filter_valid}')
                                i.fa-duotone.fa-check-circle.fa-lg.btn_icon