.var_pie_chart_widget_component(:style='widget_options ? {background: widget_options.bg_color ? widget_options.bg_color : "inherit"} : {}')

    template(v-if='var_params && var_dataset_descriptor && options')
        .chart_wrapper
            .chart_frame
                var-pie-chart(
                    :var_params="var_params"
                    :getlabel="getlabel"
                    :var_dataset_descriptor="var_dataset_descriptor"
                    :options="options"
                    :filter='var_filter'
                    :filter_additional_params='var_filter_additional_params'
                )