.oselia_chat_handler(v-if="isActive")
    .openclose_oselia_chat_handler_module_wrapper
        .oselia_chat_btn_closed(@click='openClick()')
        
        template(v-if="oselia_url && is_open")
            iframe(:src="oselia_url" id="OseliaContainer")