.survey.hide_from_screenshot(v-if="isActive && active_survey")
    .survey_switcher(@click='switch_hidden')
        template(v-if='get_hidden')
            i.fa-solid.fa-face-smile.fa-fw
        template(v-else)
            i.fa-solid.fa-face-smile.fa-fw
        span {{ label('survey.btn.title') }}

    .survey_modal(:class='{"hidden": !!get_hidden}')
        .mx-0.mx-sm-auto
            form(v-on:submit.prevent="send_survey")
                .modal-body
                    .text-center
                        i.far.fa-file-alt.fa-4x.mb-3.text-primary
                        p
                            strong {{ label('survey.header') }}
                        p
                            span(v-html="need_a_survey ? need_a_survey.content : null")
                    hr
                    form.px-4(action='')
                        .text-center
                            label {{ label('survey.rating') }}
                                i.fa-solid.fa-asterisk.mandatory
                        .spacer

                        //- Définition des smiley , malheureusement difficile de faire une boucle car les smileys sont tous différents
                        .smiley
                            
                            .no_opinion
                                .selected(v-if='tmp_type == 0')
                                    .btn.btn-default.no_opinion.mr-2
                                        i.fa-solid.fa-comment-slash
                                .select(v-else)
                                    .btn.btn-default.no_opinion.mr-2(@click='give_opinion(0)')
                                        i.fa-solid.fa-comment-slash

                            .smiley_bad
                                .selected(v-if='tmp_type == 1')
                                    .btn.btn-default.bad.mr-2
                                        i.fa-solid.fa-face-frown
                                .select(v-else)
                                    .btn.btn-default.bad.mr-2(@click='give_opinion(1)')
                                        i.fa-solid.fa-face-frown

                            .smiley_meh    
                                .selected(v-if='tmp_type == 2')
                                    .btn.btn-default.mediocre.mr-2
                                        i.fa-solid.fa-face-meh
                                .select(v-else)
                                    .btn.btn-default.mediocre.mr-2(@click='give_opinion(2)')
                                        i.fa-solid.fa-face-meh
                            
                            .smiley_happy
                                .selected(v-if='tmp_type == 3')
                                    .btn.btn-default.good.mr-2
                                        i.fa-solid.fa-face-smile
                                .select(v-else)
                                    .btn.btn-default.good.mr-2(@click='give_opinion(3)')
                                        i.fa-solid.fa-face-smile
                            
                            
                            .smiley_very_happy
                                .selected(v-if='tmp_type == 4')
                                    .btn.btn-default.very_good.mr-2
                                        i.fa-solid.fa-face-grin-stars
                                .select(v-else)
                                    .btn.btn-default.very_good.mr-2(@click='give_opinion(4)')
                                        i.fa-solid.fa-face-grin-stars

                        
                        
                        .spacer
                        p.text-center
                            strong {{ label('survey.message.remarque.label') }}
                        // Message input
                        .row
                            .col-sm-12
                                label(for='survey_message') {{ label('survey.message.label') }}
                        .row
                            .col-sm-12
                                textarea.form-control(name="survey_message" cols="80" rows="1" v-model="tmp_message")

                
                    .btn.btn-secondary.btn-block.btn-flat(@click='switch_hidden') {{ label('survey.hide') }}
                    button.btn.btn-primary.btn-block.btn-flat(type="submit") {{ label('survey.submit') }}


