.survey.hide_from_screenshot(v-if="isActive")
    .survey_switcher(@click='switch_hidden')
        template(v-if='get_hidden')
            i.fa.fa-comment.fa-fw(aria-hidden="true")
        template(v-else)
            i.fa.fa-commenting.fa-fw(aria-hidden="true")
        span {{ label('survey.btn.title') }}

    .survey_modal(:class='{"hidden": !!get_hidden}')
        .mx-0.mx-sm-auto
            .card
                .card-header.bg-primary
                    h5#exampleModalLabel.card-title.text-white.mt-2 Feedback request
                .modal-body
                    .text-center
                        i.far.fa-file-alt.fa-4x.mb-3.text-primary
                        p
                            strong Your opinion matters
                        p
                            | Have some ideas how to improve our product?
                            strong Give us your feedback.
                    hr
                    form.px-4(action='')
                        p.text-center
                            strong Your rating:
                        .form-check.mb-2
                            input#radio3Example1.form-check-input(type='radio' name='exampleForm')
                            label.form-check-label(for='radio3Example1')
                                | Very good
                        .form-check.mb-2
                            input#radio3Example2.form-check-input(type='radio' name='exampleForm')
                            label.form-check-label(for='radio3Example2')
                                | Good
                        .form-check.mb-2
                            input#radio3Example3.form-check-input(type='radio' name='exampleForm')
                            label.form-check-label(for='radio3Example3')
                                | Medicore
                        .form-check.mb-2
                            input#radio3Example4.form-check-input(type='radio' name='exampleForm')
                            label.form-check-label(for='radio3Example4')
                                | Bad
                        .form-check.mb-2
                            input#radio3Example5.form-check-input(type='radio' name='exampleForm')
                            label.form-check-label(for='radio3Example5')
                                | Very bad
                        p.text-center
                            strong What could we improve?
                        // Message input
                        .row
                            .col-sm-12
                                label(for='feedback_message') {{ label('feedback_handler.message.label') }}
                        .row
                            .col-sm-12
                                textarea.form-control(name="feedback_message" cols="80" rows="10" v-model="tmp_message")

                .spacer
                

                .btn.btn-secondary.btn-block.btn-flat(@click='switch_hidden') {{ label('feedback_handler.hide') }}
                .btn.btn-default.btn-block.btn-flat(@click='reload') {{ label('feedback_handler.clear') }}
                button.btn.btn-primary.btn-block.btn-flat(type="submit") {{ label('feedback_handler.submit') }}

