.html_html_html_component
    .col-sm-4
        p(v-html='instantiated_page_component.left_html')
    .col-sm-4
        p(v-html='instantiated_page_component.center_html')
    .col-sm-4
        p(v-html='instantiated_page_component.right_html')