.oselia_left_panel
    .oselia_left_panel_header 
        .oselia_left_panel_header_icon_close
            i.fa.fa-chevron-left(@click="closeLeftPanel")
        Oseliaselectthreadcomponent()
    
    Oselialastthreadscomponent()
    //- template(v-if="current_thread_id")
        Oselialastthreadscomponent(
            :current_thread_id='current_thread_id'
        )