nav.navbar.navbar-expand-md(:class='nav_classes')
    .container
    
        a.navbar-brand(href="#")
            slot(name="navbar-brand")
        
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
            .navbar-toggler-icon

        .collapse.navbar-collapse(id="navbarCollapse")

            ul.navbar-nav
            
                li.nav-item
                    Menucomponent(
                        :app_name='app_name + "_nav_bar"'
                        :is_sidebar='false'
                    )
                    //- :is_navbar='true'

                li.nav-item
                    button.btn.btn-outline-light.top-menu-icons.print-page(href="javascript:void(0)", v-if="isPrintable && !is_mobile")
                        template(v-if="printComponent")
                            span
                                component(v-bind:is="printComponent")
                        template(v-else)
                            template(v-if="onprint")
                                font-awesome-icon(icon="fa-duotone fa-print" @click="onprint")
                            template(v-else)
                                font-awesome-icon(icon="fa-duotone fa-print" @onclick="window.print()")

                li.nav-item
                    button.btn.btn-outline-light.top-menu-icons.export-page(href="javascript:void(0)", @click="export_to_xlsx()", v-if="isExportableToXLSX")
                        font-awesome-icon(icon="fa-duotone fa-file-export")
                    
                li.nav-item
                    Documenthandlerbuttoncomponent.top-menu-icons

            ul.navbar-nav.m-0

                li.nav-item(v-if='show_lang_selector')
                    Langselectorcomponent()
                
                li.nav-item(is='Usernotifsmarkercomponent')
                
                li.nav-item(is='Navbarusercomponent')