include ../../../../../views/mixins/loading.pug

.cms_link_button_widget_component.text-center
    button(@click="go_to_link" :style="style")
        //- i.fa-solid.fa-spin.fa-spinner.mr-2(v-if="start_update")
        template(v-if="icone")
            i.fa-solid.fa-fw(v-if="!start_update" :class="icone")
        template(v-if="title")
            span {{ title }}