.rootElt.file_datatable_field
    template(v-if="!loaded")
        .is_loading
            i.fa.fa-refresh.fa-spin.fa-fw(aria-hidden="true")
    template(v-else)
        template(v-if='(!!file) && (!!file.path)')
            .text-center
                a.btn.btn-primary(:href="'/' + file.path" target='_blank' v-tooltip='show_tooltip ? "/" + file.path : null') {{ button_label ? button_label : label('file_datatable_field.download') }}
        template(v-else)
            .introuvable {{ label('file_datatable_field.introuvable', { file_id: file_id }) }}