.rootElt.file_datatable_field
    template(v-if="!loaded")
        .is_loading
            i.fa-solid.fa-refresh.fa-spin.fa-fw(aria-hidden="true")
    template(v-else)
        template(v-if='path')
            .text-left(v-if="show_file_name")
                p {{ file_name }}
            .text-center
                a.btn.btn-primary(:href="'/' + path" :download='file_name' target='_blank'  v-tooltip='show_tooltip ? "/" + path : null') {{ button_label ? button_label : label('file_datatable_field.download') }}
        template(v-else)
            .introuvable {{ label('file_datatable_field.introuvable', { file_id: file_id }) }}