.root(v-if="content")
    b
      template(v-if="prefix && previsite")
        span.cr_previsite {{ t('client.planning-store-visits.bamodal.cr_previsite_prefix') }}
      template(v-if="prefix && !previsite")
        span.cr_visite {{ t('client.planning-store-visits.bamodal.cr_visite_prefix') }}
      span {{title}}
    .ba-infos-content(ref="ba_infos_content", v-cloak)