include ../../../../../views/mixins/loading.pug

div
    +loading()
        div(v-if="commande")
            .field
                label {{ label('client.commande.id') }}
                .value {{ commande.identifiant }}
            .field
                label {{ label('client.commande.date') }}
                .value {{ commande.date }}
            .field
                label {{ label('client.commande.statut') }}
                .value {{ t(statutCommande) }}
            table(v-if="details")
                thead
                    tr
                        th {{ label('client.commande.ligne.service.titre') }}
                        th {{ label('client.commande.ligne.service.description') }}
                        th {{ label('client.commande.ligne.prix_unitaire') }}
                        th {{ label('client.commande.ligne.quantite') }}
                        th {{ label('client.commande.ligne.total') }}
                tbody
                    template(v-for="detail in details")
                        ligne-detail(:detail="detail")
                tfoot
                    tr
                        td(colspan="3")
                        td {{ const_filters.amount.read(totalCommande, 2) }}
            