.OseliaRunGraphWidgetComponent
    // Le bouton + pour afficher/cacher le AddPanel
    button.add-button(
        v-if="showPlusButton"
        @click="showAddPanel = !showAddPanel"
    ) +
    template(v-if='has_agent')
       
        // On insère le Canvas
        CanvasDiagram(
            :items="items"
            :links="links"
            :hidden_links="hidden_links"
            :selectedItem.sync="selectedItem"
            :selectedLink.sync="selectedLink"
            :updatedItem="updatedItem"
            :reDraw="reDraw"
            :isRunVo="is_single_run_found"
            @select_item="selectItem"
            @select_link="selectLink"
        )
    template(v-else)
        h1 Vous n'avez pas d'agent
        p Vous devez ajouter un agent pour pouvoir utiliser ce widget

    
        
    // Panel de sélection d'item
    SelectionPanel(
        v-if="selectedItem"
        :items="items"
        :selectedItem="selectedItem"
        :removeItemFn="removeItem"
        :editItemFn="editSelectItem"
        @switchHidden="onSwitchHidden"
    )

    // Panel de lien
    LinkPanel(
        v-if="selectedLink"
        :selectedLink="selectedLink"
        :hidden_links="hidden_links"
        @switchHidden="onSwitchHidden"
    )

    // Panel d'ajout
    AddPanel(
        v-if="showAddPanel"
        :items="choices_of_item"
        :addItemFn="addItem"
    )

