.cms_config
   Tablesgraphcomponent(
      :is_cms_config='is_cms_config'
      @add_api_type_id='add_api_type_id' 
      @del_api_type_id='del_api_type_id'
      @update_discarded_field_paths='update_discarded_field_paths'
   )