.page_switch_widget_icon(v-tooltip.top='tooltip')
    template(v-if='!widget')
    template(v-else)
        span.fa-stack.fa-lg.fa-fw(aria-hidden='true')
            i.fa.fa-file.fa-stack-2x
            i.fa.fa-external-link-square.fa-stack-1x