.page_switch_widget_icon {

    .fa.fa-external-link-square.fa-stack-1x {
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: auto;
        height: auto;
        color: dodgerblue;
        background: white;
        padding: 1px 3px;
        margin: 0;
        line-height: 1.1em;
    }
}
