.table_widget_icon
    template(v-if='!widget')
    template(v-else)
        template(v-if='widget.name == "datatable"')
            .fa-stack.fa-lg.fa-fw(aria-hidden='true')
                i.fa-solid.fa-table.fa-stack-2x
                i.fa-solid.fa-pencil-square.fa-stack-1x
        template(v-else)
            .fa-stack.fa-lg.fa-fw(aria-hidden='true')
                i.fa-solid.fa-table.fa-stack-2x
                i.fa-solid.fa-bar-chart.fa-stack-1x