.multiple_select_filter {

    .text_cliquable {
        display:inline-block;
        color:#555 !important;
        text-decoration: underline;
        cursor: pointer;
        font-size: 0.8em;
    }
}