.supervision_dashboard_item {

    border-radius: 6px;
    font-size: small;
    text-align: center;
    color: white;
    margin: 0.1em 0.3em;
    opacity: 0.5;
    cursor: pointer;
    padding: 0.5em 0em;

    &:hover,
    &.noclick{
        opacity: 1;
    }

    &.STATE_ERROR{
        background-color: red;
    }

    &.STATE_ERROR_READ{
        background-color: orangered;
    }

    &.STATE_WARN{
        background-color: orange;
    }

    &.STATE_WARN_READ{
        background-color: #ffd400;
    }

    &.STATE_OK{
        background-color: green;
    }

    &.STATE_PAUSED{
        background-color: blue;
    }

    &.STATE_UNKOWN{
        background-color: grey;
    }
}