@import 'skin-variables.scss';

.page_oselia {
    font-family: 'quicksand', sans-serif;
    font-weight: 500;
}

/**
 * SCSS par Fred Bernard
 */
$padding-popup: 20px;
$padding-0: 0;
$font-color-main: #000;
$font-color-secondary: #4e4e4e;
$button-background: $button_primary_bg_color;
$background-popup-user: lighten($button-background, 40%);
$background-popup: lighten(desaturate($button-background, 80%), 46%);
$button-border: $button-background;
$button-shadow: rgba($button-background, .38);
$button-hover-shadow: none;

.OseliaDBComponent {

    .vue-grid-layout {
        .widget_component_wrapper {
            background: $background-popup !important;
            padding: $padding-popup;
            display: flex;
            align-items: flex-end;

            .oselia_thread_widget_component {
                box-sizing: border-box;
                height: auto !important;

                .thread_container {
                    padding: $padding-0 !important;

                    .thread_messages {

                        // CSS pour le message de l'utilisateur
                        .thread_message.thread_message_self {
                            position: relative;

                            .thread_message_header {
                                flex-direction: column;
                                align-items: flex-end;
                                padding-right: 5px;

                                .thread_message_header_left_username {
                                    font-size: .9em;
                                }

                                .thread_message_header_left_avatar {
                                    display: none;
                                }
                            }

                            .thread_message_body {
                                position: relative;

                                .thread_message_body_content {
                                    display: flex;
                                    align-items: end;
                                    flex-direction: column;

                                    .thread_message_body_text {
                                        margin-bottom: 5px;
                                        padding-right: 30px;

                                        p {
                                            margin-bottom: 0;
                                        }
                                    }

                                    .thread_message_footer_actions {
                                        .thread_message_footer_action {
                                            position: absolute;
                                            top: 0;
                                            right: 5px;

                                            .thread_message_copy_button {
                                                i {
                                                    font-size: 14px;
                                                    color: $button-background;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .thread_message_header_right_date {
                                font-size: .9em;
                                color: $font-color-secondary;
                            }
                        }

                        // CSS pour le message d'Oselia
                        .thread_message.thread_message_assistant {
                            position: relative;

                            .thread_message_header {
                                flex-direction: column;
                                align-items: flex-end;
                                padding-right: 5px;

                                .thread_message_header_left {
                                    padding-left: .3em;

                                    .thread_message_header_left_username {
                                        font-size: .9em;
                                    }

                                    .thread_message_header_left_avatar {
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                    }
                                }
                            }

                            .thread_message_body {
                                position: relative;

                                .thread_message_body_content {
                                    display: flex;
                                    align-items: end;
                                    flex-direction: column;

                                    .thread_message_body_text {
                                        margin-bottom: 5px;
                                        padding-right: 30px;

                                        p {
                                            margin-bottom: 0;
                                        }
                                    }

                                    .thread_message_footer_actions {
                                        .thread_message_footer_action {
                                            position: absolute;
                                            top: 0;
                                            right: 5px;

                                            .thread_message_copy_button {
                                                i {
                                                    font-size: 14px;
                                                    color: $button-background;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .thread_message_header_right_date {
                                font-size: .9em;
                                color: $font-color-secondary;
                            }
                        }
                    }

                    .thread_message_input {
                        margin-left: auto;

                        .thread_message_input_textarea {
                            textarea {
                                padding: 10px 15px;

                                &:focus-visible {
                                    border-color: $button-border !important;
                                    outline: none !important;
                                }
                            }
                        }

                        .thread_message_input_send {
                            text-align: center;

                            button {
                                background-color: $button-background !important;
                                border-color: $button-border !important;
                                border-radius: 50px;
                                padding: 10px 25px;
                                box-shadow: 0 4px 4px 0 $button-shadow;
                                transition: box-shadow .3s ease-in-out;

                                img {
                                    margin-left: .8em;
                                }

                                &:hover,
                                &:focus,
                                &:focus-visible {
                                    box-shadow: $button-hover-shadow !important;
                                    outline: none !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}