@import 'skin-variables.scss';
@import '../module/module.scss';
@import '../feedback/feedback.scss';

.page-animation,
.page-animation_module,
.page-animation_module_feedback {
    background: $animation_orange;

    .logo {
        display: none;
    }

    .home_responsive {
        text-align: center;
        max-width: 600px;
        margin: 0 auto;

        .image_home img {
            max-width: 100%;
        }

        h1:hover {
            background: $animation_vert;
        }
    }

    .wrapper {
        background-color: $animation_background;
    }

    .main-footer {
        background-color: $animation_orange;
    }

    .main-header {

        .logo,
        .navbar {
            background-color: $animation_orange;
        }
    }

    .sidebar-menu li a {
        background-color: $animation_orange !important;
        color: white;
    }

    .sidebar-menu li ul li a {
        background-color: transparent !important;
        color: $animation_orange !important;
        border-color: $animation_orange !important;
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover {

        &>a>span:not(.pull-right),
        .treeview-menu {
            background-color: $animation_orange;
        }
    }

    h1 {
        text-align: center;
        color: white;
        background: $animation_orange;
        padding: 15px 10px;
        font-size: 24px;
        margin-top: 0;
        border-radius: 15px;
        margin-bottom: 50px;
        font-weight: bold;
    }

    .validation {
        margin-top: 30px;

        .btn-container {
            display: inline-block;
            border: 3px solid white;
            border-radius: 15px;
            border: 0;

            .btn {
                background: $animation_vert;
                color: white;
                border-radius: 10px;
                margin: 3px;

                &:hover {
                    background: $animation_orange;
                }
            }
        }

        .explication {
            margin: 30px 0;
        }
    }
}

// FRONT
.animation {
    padding: 1rem 10rem;

    @media (max-width:500px) {
        padding: 0;
    }

    .theme,
    .document {
        background: white;
        padding: 15px;
        border-radius: 15px;
        text-align: center;
        position: relative;
        margin-bottom: 40px;
        box-shadow: 0px 0px 20px -15px black;

        .index_theme {
            display: inline-block;
            background: $animation_rouge;
            color: white;
            padding: 0px 28px;
            border-radius: 28px;
            font-size: 24px;
            top: -34px;
            position: relative;
            font-weight: bold;
            border: 2px solid white;
            box-shadow: 0px 4px 20px -10px black;
        }

        .description {
            margin-top: -22px;
            font-size: 18px;
            color: $main_box_title_color;
            font-weight: bold;
            margin-bottom: 20px;

            p {
                margin-bottom: 0;
            }
        }

        .prct_avancement {
            margin-bottom: 20px;
            position: relative;

            .barre {
                height: 8px;
                background: $main_header_bg_color;
                border-radius: 10px;
                position: relative;
                width: 0;
            }

            .barre-total {
                height: 2px;
                background: lightgray;
                position: absolute;
                width: 100%;
                top: 3px;
            }

            .indicateur {
                font-size: 22px;
            }
        }

        .documentation,
        .prct_avancement_module {
            float: left;
            padding: 2px 6px 1px 4px;
            margin-bottom: 0;
            margin-right: 10px;
            border-radius: 5px;
            width: 33px;
            text-align: center;
            min-height: 34px;

            &.main {
                background: $animation_background;

                &:hover {
                    background: $animation_orange;
                }
            }

            &.success {
                background: $animation_vert;
            }

            &.warning {
                background: $animation_orange;
            }

            &.en_cours {
                background: linear-gradient(-45deg,
                        $animation_orange 20%,
                        $animation_vert 20%,
                        $animation_vert 40%,
                        $animation_orange 40%,
                        $animation_orange 60%,
                        $animation_vert 60%,
                        $animation_vert 80%,
                        $animation_orange 80%,
                        $animation_orange 100%) !important;
            }

            i {
                color: white;
                font-size: 24px;
                line-height: 28px;

                &:before {
                    margin-right: 0;
                }
            }
        }
    }

    .documents {
        h1 {
            margin-bottom: 20px;
        }
    }

    .document {
        margin-bottom: 20px;

        .description {
            margin-top: 0;
        }

        a {
            color: $animation_orange;

            &:hover {
                text-decoration: none;
                color: $animation_vert;
            }
        }
    }

    .modules {
        .module {
            cursor: pointer;
            margin-bottom: 15px;

            .fa-plus {
                font-size: 32px;
                color: white;
                background: $table_header_bg_color;
                line-height: 1em;
                padding: 2px 4px 0px 4px;
                float: left;
                margin-right: 10px;
                border-radius: 5px;

                &:before {
                    margin-right: 0;
                }
            }

            &:hover {
                .fa-plus {
                    background: $main_header_bg_color;
                }
            }

            .module_infos {
                line-height: 1em;
            }

            .theme_name {
                margin-bottom: 6px;
            }

            .module_name {
                font-weight: bold;
            }
        }
    }
}