@import 'skin-variables.scss';

$background_animation: #3e3678;
$orange_animation: #ea911b;
$rouge_animation: #b7013d;
$vert_animation: #b6c209;

@import '../module/module.scss';
@import '../feedback/feedback.scss';

.page-animation,
.page-animation_module,
.page-animation_module_feedback {
    background: $orange_animation;

    .logo {
        display: none;
    }

    .home_responsive {
        text-align: center;

        .image_home img {
            max-width: 100%;
        }

        h1:hover {
            background: $vert_animation;
        }
    }

    .wrapper {
        background-color: $background_animation;
    }

    .main-footer {
        background-color: $orange_animation;
    }

    .main-header {

        .logo,
        .navbar {
            background-color: $orange_animation;
        }
    }

    .sidebar-menu li a {
        background-color: $orange_animation !important;
        color: white;
    }

    .sidebar-menu li ul li a {
        background-color: transparent !important;
        color: $orange_animation !important;
        border-color: $orange_animation !important;
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover {

        &>a>span:not(.pull-right),
        .treeview-menu {
            background-color: $orange_animation;
        }
    }

    h1 {
        text-align: center;
        color: white;
        background: $orange_animation;
        padding: 15px 10px;
        font-size: 24px;
        margin-top: 0;
        border-radius: 15px;
        margin-bottom: 50px;
        font-weight: bold;
    }

    .validation {
        margin-top: 30px;

        .btn-container {
            display: inline-block;
            border: 3px solid white;
            border-radius: 15px;
            border: 0;

            .btn {
                background: $vert_animation;
                color: white;
                border-radius: 10px;
                margin: 3px;

                &:hover {
                    background: $orange_animation;
                }
            }
        }

        .explication {
            margin: 30px 0;
        }
    }
}

// FRONT
.animation {
    padding: 1em 10em;

    .theme {
        background: white;
        padding: 15px;
        border-radius: 15px;
        text-align: center;
        position: relative;
        margin-bottom: 50px;
        box-shadow: 0px 0px 20px -15px black;

        .index_theme {
            display: inline-block;
            background: $rouge_animation;
            color: white;
            padding: 0px 28px;
            border-radius: 28px;
            font-size: 24px;
            top: -34px;
            position: relative;
            font-weight: bold;
            border: 2px solid white;
            box-shadow: 0px 4px 20px -10px black;
        }

        .description {
            margin-top: -22px;
            font-size: 18px;
            color: $main_box_title_color;
            font-weight: bold;
            margin-bottom: 20px;

            p {
                margin-bottom: 0;
            }
        }

        .prct_avancement {
            margin-bottom: 20px;
            position: relative;

            .barre {
                height: 8px;
                background: $main_header_bg_color;
                border-radius: 10px;
                position: relative;
                width: 0;
            }

            .barre-total {
                height: 2px;
                background: lightgray;
                position: absolute;
                width: 100%;
                top: 3px;
            }

            .indicateur {
                font-size: 22px;
            }
        }

        .prct_avancement_module {
            float: left;
            padding: 2px 6px 1px 4px;
            margin-bottom: 0;
            margin-right: 10px;
            border-radius: 5px;
            width: 33px;
            text-align: center;
            min-height: 34px;

            &.success {
                background: $vert_animation;
            }

            &.warning {
                background: $orange_animation;
            }
        }
    }

    .modules {
        .module {
            cursor: pointer;
            margin-bottom: 15px;

            .fa-plus {
                font-size: 32px;
                color: white;
                background: $table_header_bg_color;
                line-height: 1em;
                padding: 2px 4px 0px 4px;
                float: left;
                margin-right: 10px;
                border-radius: 5px;

                &:before {
                    margin-right: 0;
                }
            }

            &:hover {
                .fa-plus {
                    background: $main_header_bg_color;
                }
            }

            .module_infos {
                line-height: 1em;
            }

            .theme_name {
                margin-bottom: 6px;
            }

            .module_name {
                font-weight: bold;
            }
        }
    }
}