
.rootElt.animation
    h1 {{ label('animation.titre') }}
    template(v-if="themes && themes.length > 0")
        .row.themes
            template(v-for="theme in ordered_themes")
                .theme.col-md-3
                    .name {{ theme.name }}
                    .description(v-if="theme.description", v-html="theme.description")
                    .link
                        router-link(tag="a", :to="get_route_theme(theme)") {{ label('animation.link') }}
