
.rootElt.animation
    h1 {{ label('animation.titre') }}
    template(v-if="themes && themes.length > 0")
        .row.themes
            template(v-for="(theme, index) in ordered_themes")
                .col-md-3.col-sm-6
                    Animationtheme(:theme="theme", :index_theme="(index + 1)", :modules="modules_by_themes[theme.id]")
