include ../../../views/mixins/loading.pug

.rootElt#program-plan
    +loading()
        program-plan-component-impression(:slot_interval='program_plan_controller.slot_interval')

        .row(v-if="!!custom_filter_component")
            .col-md-12
                .custom_filter_component(:is="custom_filter_component" @filter_changed="filter_changed" @filter_ready="filter_ready")

        .row(v-if="!!custom_overview_program_plan_component")
            .col-md-12
                .custom_overview_program_plan_component(:is="custom_overview_program_plan_component" @select_rdv="select_rdv" :valid_targets='valid_targets' :segment='fcSegment')


        program-plan-component-target-listing.hidden-print(
            :program_plan_shared_module='program_plan_shared_module'
            :program_plan_controller='program_plan_controller'
            v-show='show_targets && show_targets_pp' v-if="can_edit_any")

        template(v-if="show_calendar")
            .row.hidden-print(v-show='can_see_fc')
                input#pplan_date_input(type='date' v-model='calendar_date')

            full-calendar.fullcalendar_pplan(
                v-show='can_see_fc'
                ref="calendar"
                :key="calendar_key"

                :events="fcEvents"
                :config="fcConfig"

                @view-render='onFCViewRender'
                @event-drop="onFCEventDrop"
                @event-resize="onFCEventResize"
                @event-receive="onFCEventReceive"
                @event-selected="onFCEventSelected"
                @event-render="onFCEventRender"

                :class="{'hidden-print': use_print_component}"
            )

        #rdv_modal.modal.fade.in(ref="rdv_modal", tabindex='-1', role='dialog')
            .modal-dialog.modal-lg(role='document')
                .modal-content(v-if="selected_rdv && getTargetsByIds && getTargetsByIds[selected_rdv.target_id]")
                    .modal-header(v-if="!is_facilitator_specific")
                        h4.modal-title {{ getTargetsByIds[selected_rdv.target_id].name }}
                        router-link.btn.close(:to="route_path") &times;

                    .modal-body
                        program-plan-component-modal(
                            :program_plan_shared_module='program_plan_shared_module'
                            :program_plan_controller='program_plan_controller'
                            :key='selected_rdv.id')

                    .modal-footer
                        button.btn.btn-danger(type='button', @click="deleteSelectedEvent", v-if="can_edit_any") {{ label('programplan.rdv_modal.delete_rdv') }}
                        router-link.btn.btn-default(:to="route_path") {{ label('programplan.rdv_modal.close') }}