#program-plan {
    .fc-timeline-event .fc-content {
        padding-left: 5px;

        >i, >.fc-title{
            vertical-align: middle;
        }

        i.fa.fa-circle:before {
            margin: 0;
            padding: 0;
        }

        i.fa.fa-circle {
            border: solid 3px white;
            border-radius: 30px;
            margin: 0;
            padding: 0;
            margin-right: 2px;
        }

        .rdv-state-bg {
            color: white;
        }

        .rdv-state-confirmed {
            color: orange;
        }

        .rdv-state-crok {
            color: green;
        }

        .rdv-state-prepok {
            color: yellow;
        }
        
        .rdv-state-created {
            color: red;
        }
    }
}