.var_desc_explain_dep {
    border: solid 1px #DDD;
    border-radius: 4px;
    padding: 1em;
    margin: 2px;

    .dep_name {
        text-transform: uppercase;
        text-align: right;
        cursor: pointer;
    }

    .var_controller_label_wrapper {
        text-align: right;
    }
    .var_controller_label {
        margin: 0;
    }

    .var_data_ref {
        background: whitesmoke;
    }

    .param_wrapper {
        background: rgba(0,0,0,.3);
        padding: 1em;
        margin-top: 1em;
    }

    .dep_code {
        font-size: x-small;
        padding: 3px;
        color: #888;
        cursor: pointer;
        text-align: right;
    }
}
