.terminate_maintenance_component
    template(v-if='is_planned')
        button.btn.btn-sm.btn-primary.m-1(@click='terminate')
            i.fa-solid.fa-podcast.fa-lg.btn_icon(aria-hidden="true")
            | {{ label('maintenance.actions.terminate') }}