include ../../../mixins/loading.pug

.fileinput
    +loading()
        .row
            input.form-control(v-if="!readonly", type="file", size="10", v-model="datafile", id="file_import_input", @input="importFile")
            span(v-if="(filevo != null) && filevo.id") {{ filevo.path }}