.root_elt
    template(v-if="user_tags && user_tags.length")
        .nfcconnect_user_tag_list
            .row
                .col-md-12
                    .center.nfc_header
                        i.fa.fa-wifi.fa-fw.btn_icon(aria-hidden="true")
                            | {{ label('nfcconnect_user_tag_list.nfc_header') }}
            
            template(v-for="user_tag in user_tags")
                .row.user_tag
                    .col-md-10
                        .user_tag_name {{ user_tag.name }}
                    .col-md-2
                        button.btn.btn-danger.btn-flat(@click="delete_user_tag(user_tag)")
                            i.fa.fa-trash.fa-fw.btn_icon(aria-hidden="true")
            .row.nfc_footer
                .col-md-12 
                    .center
                        button.btn.btn-primary.btn-block.btn-flat(@click="update_list")
                            i.fa.fa-refresh.fa-fw.btn_icon(aria-hidden="true")
                            | {{ label('nfcconnect_user_tag_list.update_list') }}