.UserNotifsMarkerComponent {

    .marker {

        position: relative;
        float: right;
        margin-top: -26px;
        background: red;
        border-radius: 30px;
        padding: 2px;
        font-size: xx-small;
        color: white;
        margin-right: -1px;
    }
}

