.UserNotifsMarkerComponent {

    .user_notif_wrapper .marker {

        position: relative;
        float: right;
        margin-top: -26px;
        background: red;
        border-radius: 30px;
        padding: 2px;
        font-size: xx-small;
        color: white;
        margin-right: -1px;
    }

    .UserNotifsViewerComponent{
        display: block;
        position: fixed;
        top: 5em;
        right: 1em;
        background: #EEE;
        padding: 2em;
        border-radius: 2px;
        box-shadow: 2px 2px 10px -3px #000;
    }
}

