li.dropdown.notification-list.UserNotifsMarkerComponent
    a.nav-link.dropdown-toggle.arrow-none(data-bs-toggle="dropdown" href="#" id="topbar-notifydrop" role="button" aria-haspopup="true" aria-expanded="false")
        .main_icon
            i.fa.fa-bell-o.fa-fw(aria-hidden="true")
        .marker(v-if='get_nb_unread && (get_nb_unread > 0)') {{ get_nb_unread }}      

    Usernotifsviewercomponent()