.selection-panel
    h3 Lien
    label
        input(
            type="checkbox"
            :checked="!discarded_field_paths[selectedLink.table]?.[selectedLink.field]"
            @change="switch_discarded_field(selectedLink.table, selectedLink.field)"
        )
        | {{ selectedLink.table }}.{{ selectedLink.field }} => {{ selectedLink.target_table }}

