.db_var_datatable_field
    .var_data
        var-data(
            :var_param="var_param"
            :filter='var_filter'
            :filter_additional_params='var_filter_additional_params'
        )