.db_var_datatable_field
    .var_data
        template(v-if='!!var_param')
            var-data(
                :var_param="var_param"
                :filter='var_filter'
                :filter_additional_params='var_filter_additional_params'
            )
        template(v-else-if='isLoading')
            i.fa.fa-spinner.fa-spin
