.cms_crud_buttons_widget_icon
    template(v-if='!widget')
    template(v-else)
        .fa-stack.fa-lg.fa-fw(aria-hidden='true')
            i.fa-solid.fa-database.fa-stack-2x
            i.fa-solid.fa-trash.fa-stack-1x
            i.fa-solid.fa-pen.fa-stack-1x