.cms_crud_buttons_widget_icon {

    i.fa-solid.fa-trash.fa-stack-1x {
        position: absolute;
        left: 18px;
        bottom: -5px;
        width: auto;
        height: auto;
        color: dodgerblue;
        background: transparent;
        padding: 1px 3px;
        margin: 0;
        line-height: 1.1em;
    }
    
    i.fa-solid.fa-pen.fa-stack-1x {
        position: absolute;
        left: 18px;
        bottom: 15px;
        width: auto;
        height: auto;
        color: dodgerblue;
        background: transparent;
        padding: 1px 3px;
        margin: 0;
        line-height: 1.1em;
    }

}