.dashboard_builder_widgets
    .dashboard_builder_widgets_wrapper
        .header
            //- .hide_show_switch 
            .title {{ label('dashboard_builder_widgets.title') }}

        .widget_tags 
            template(v-for="(tag, tag_i) in filtered_dashboard_widget_tags")
                .widget_tag(@click="switch_select_widget_tag(tag)" :class="{ selected: tag.id == selected_widget_tag?.id }")
                    //- icon_classname on utilise ce champs du tag pour préfixer une icone
                    template(v-if="tag.icon_classname")
                        .widget_tag_icon_classname
                            i(:class="tag.icon_classname + ' fa-fw'")
                    .widget_tag_name {{ tag.name }}


        .widgets 
            template(v-for="(widget_, widget_i) in tagged_widgets")

                //- .widget(@click="add_widget_to_page(widget_)" v-tooltip.top="label('dashboards.widgets.icons_tooltips.' + widget_.name)")
                //-     template(v-if='widget_.icon_html')
                //-         .widget_icone(v-html="widget_.icon_html")
                //-     template(v-else)
                //-         .widget_icone(:is="widget_.icon_component" :widget='widget_')
                //- Refonte, on veut afficher un bloc pour chaque widget avec le icon_component ou icon_html, en dessous le nom du widget (label)
                //- Au clic droit sur le widget, on veut ouvrir la modale de crud pour modifier le widget

                .widget(:class="getWidgetFamilyClass(widget_)" @click="add_widget_to_page(widget_)" @contextmenu.prevent="onWidgetRightClick(widget_, $event)" :key="widget_.id")
                    .widget_icon
                        template(v-if='widget_.icon_html')
                            .widget_icon_html(v-html="widget_.icon_html")
                        template(v-else)
                            .widget_icon_component(:is="widget_.icon_component" :widget='widget_')

                    .widget_name {{ widget_.label ? t(widget_.label) : null }}

        .widget_options_wrapper
            template(v-if="!get_selected_widget")
                .first_select_a_widget {{ label('dashboard_builder_widgets.first_select_a_widget') }}
                
            template(v-else)
                template(v-if="!selected_widget_type")
                    i.fa-solid.fa-refresh.fa-spin.fa-fw(aria-hidden="true")
                template(v-else) 
                    .widget_options_header
                        .widget_options_header_title {{ label('dashboard_builder_widgets.widget_options_header_title') }}: {{ this.selected_widget_type.label ? t(this.selected_widget_type.label) : null }}
                        .widget_options_header_close(@click="close_widget_options") 
                            i.fa-solid.fa-times.fa-fw.pull-right(aria-hidden="true")
                    .widget_options(
                        :is="selected_widget_type.options_component" 
                        :page_widget='get_selected_widget' 
                    )
