.dashboard_builder_widgets {

    padding: 1em;
    box-shadow: 1px 1px 10px grey;
    background: #F5F5F5;
    margin-bottom: 1em;
    overflow-y: auto;

    .dashboard_builder_widgets_wrapper {

        >.header {
            >.title {

                font-size: 1.3em;
                margin-bottom: 0.5em;
            }
        }

        .widget {
            width: 3em;
            height: 2.5em;
            vertical-align: middle;
            text-align: center;
            padding: .5em;
            margin: 0.1em;
            background: #999;
            font-size: 2em;
            display: inline-block;
            cursor: pointer;
            color: white;
            box-shadow: 1px 1px 1px black;

            .fa-stack {
                font-size: 0.6em;
            }
        }

        .widget_options_wrapper {
            margin-top: 1em;
            border-top: solid 1px lightgrey;
            padding-top: 0.6em;
        }
    }
}