.dashboard_builder_widgets
    .dashboard_builder_widgets_wrapper
        .header
            //- .hide_show_switch 
            .title {{ label('dashboard_builder_widgets.title') }}

        .widgets 
            template(v-for="(widget_, widget_i) in widgets")
                .widget(@click="add_widget_to_page(widget_)" v-tooltip.top="label('dashboards.widgets.icons_tooltips.' + widget_.name)")
                    .widget_icone(:is="widget_.icon_component" :widget='widget_')

        .widget_options_wrapper
            template(v-if="!selected_widget")
                .first_select_a_widget {{ label('dashboard_builder_widgets.first_select_a_widget') }}
            template(v-else)
                template(v-if="!selected_widget_type")
                    i.fa.fa-refresh.fa-spin.fa-fw(aria-hidden="true")
                template(v-else)
                    .widget_options(
                        :is="selected_widget_type.options_component" 
                        :page_widget='selected_widget' 
                        :dashboard='dashboard' 
                        :dashboard_pages="dashboard_pages" 
                        :dashboard_page="dashboard_page"
                        
                        @update_layout_widget='update_layout_widget'
                        )
