include ../../../../../views/mixins/loading.pug

.crud_update_form
    +loading()
        form(v-on:submit.prevent="updateVO")
            .crud_update_form_header
                a.btn.close.f-r(@click="cancel") &times;
                .title.d-ib {{ label('crud.update.modal.title') }}

            .crud_update_form_body
                .alert.alert-danger(v-if="is_only_readable") {{ label('crud.update.modal.readonly') }}
                template(v-if="selected_vo && editableVO")

                    template(v-if='POLICY_CAN_EDIT_REMOVED_CRUD_FIELDS')
                        .edit_removed_crud_fields
                            .btn.btn-primary.btn-block.btn-flat(@click="crud_field_remover_conf_edit = true" v-if='!crud_field_remover_conf_edit') {{ label('crud_update_form_body.edit_removed_crud_fields') }}
                            .btn.btn-primary.btn-block.btn-flat(@click="crud_field_remover_conf_edit = false" v-if='!!crud_field_remover_conf_edit') {{ label('crud_update_form_body.donot_edit_removed_crud_fields') }}

                        template(v-if='crud_field_remover_conf_edit && crud_field_remover_conf && crud_field_remover_conf.module_table_field_ids && (crud_field_remover_conf.module_table_field_ids.length > 0)')
                            template(v-for='(module_table_field_id, edit_removed_crud_field_i) in crud_field_remover_conf.module_table_field_ids')
                                .delete_removed_crud_field_id
                                    .btn.btn-warning.btn-block.btn-flat(@click="delete_removed_crud_field_id(module_table_field_id)") {{ label('crud_update_form_body.delete_removed_crud_field_id', {field_id: module_table_field_id}) }}

                    template(v-for="field in crud.updateDatatable.fields")
                        Crudcomponentfield(
                            v-show="!field.hidden",
                            :key="editableVO._type + '_updateDatatable_' + field.datatable_field_uid + '_' + crud_updateDatatable_key + '_' + editableVO.id",
                            :field="field",
                            :vo="editableVO",
                            :datatable="crud.updateDatatable",
                            :auto_update_field_value="true",
                            :show_placeholder="show_placeholder",
                            @uploadedfile="uploadedFile_",
                            @onchangevo="onChangeVO",
                            :show_insert_or_update_target='show_insert_or_update_target'
                            :is_dashboard_builder="true"
                        )
                        template(v-if='POLICY_CAN_EDIT_REMOVED_CRUD_FIELDS && crud_field_remover_conf_edit')
                            .add_removed_crud_field_id
                                .btn.btn-danger.btn-block.btn-flat(@click="add_removed_crud_field_id(field.module_table_field_id)") {{ label('crud_update_form_body.add_removed_crud_field_id', {field_id: field.module_table_field_id}) }}


                template(v-else)
                    p {{ label('crud.update.modal.content.selection_failure') }}

            .crud_update_form_footer
                template(v-if="selected_vo && editableVO && !updating_vo && !is_only_readable && show_delete_button")
                    a.btn.btn-danger.mr-1(@click="deleteVO") {{ label('crud.update.modal.delete') }}
                a.btn.btn-default.mr-1(v-if="!updating_vo", @click="cancel") {{ label('crud.update.modal.cancel') }}
                template(v-if="selected_vo && editableVO && !updating_vo && !is_only_readable")
                    input.btn.btn-primary(type="submit" :value="label('crud.update.modal.save')")