.advanced_date_filter_widget_component {
    height: -webkit-fill-available;

    .vo_field_ref_label {
        font-size: 1.2em;
        margin-bottom: 0.4em;
        line-height: 1em;
    }

    .ts_range_input {
        .vdp-datepicker.form-control {

            padding: 0 !important;

            input {
                padding: 6px 12px;
                vertical-align: middle;
                width: -webkit-fill-available !important;
                background: transparent;
            }

            .vdp-datepicker__clear-button {
                padding: 6px 0px;
                font-size: larger;
            }
        }
    }
}