include ../../../../views/mixins/loading.pug

.data-import.col-md-12
    +loading()
        include ../base/DataImportHeader.pug

        template(v-if="hasValidOptions")
            .row.justify-content-between
                .col-md-1
                    button.btn.btn-primary.pull-left(@click="previous_segments")
                        i.fa.fa-arrow-left(aria-hidden="true")
                .col-md-1
                    button.btn.btn-primary.pull-right(@click="next_segments")
                        i.fa.fa-arrow-right(aria-hidden="true")
            .row.justify-content-between.segments_overviews
                template(v-for='segment in getsegments')
                    template(v-if="segment_states && segment && segment_states[segment.dateIndex]")
                        .col-sm.border-top.rounded-top.border-dark.data_import_segment_overview(v-if='segment_states[segment.dateIndex] == state_unavail' :class='{"is_not_selected_segment": is_selected_segment[segment.dateIndex] != true}')

                            .segment_date_index(v-if='getsegment_type == segment_type_year') {{ formatDate_Fullyear(segment.dateIndex) }}
                            .segment_date_index(v-if='getsegment_type == segment_type_month') {{ formatDate_FullyearMonth(segment.dateIndex) }}
                            .segment_date_index(v-if='getsegment_type == segment_type_day') {{ formatDate_FullyearMonthDay(segment.dateIndex) }}

                        .col-sm.border-top.rounded-top.data_import_segment_overview(v-else, 
                            :class='{"is_not_selected_segment": is_selected_segment[segment.dateIndex] != true, "border-success": segment_states[segment.dateIndex] == state_ok, "border-danger": segment_states[segment.dateIndex] == state_ko, "border-secondary": segment_states[segment.dateIndex] == state_none, "border-warning": segment_states[segment.dateIndex] == state_warn, "border-primary": segment_states[segment.dateIndex] == state_info}')

                            .segment_date_index(v-if='getsegment_type == segment_type_year') {{ formatDate_Fullyear(segment.dateIndex) }}
                            .segment_date_index(v-if='getsegment_type == segment_type_month') {{ formatDate_FullyearMonth(segment.dateIndex) }}
                            .segment_date_index(v-if='getsegment_type == segment_type_day') {{ formatDate_FullyearMonthDay(segment.dateIndex) }}

                            .row
                                .col-sm
                                    i.fa.fa-info-circle.fa-5x(aria-hidden="true" @click='openModal(segment)')
                            .row
                                .col-sm
                                    i.fa.fa-step-backward.fa-2x(aria-hidden="true" @click='is_valid_lower[segment.dateIndex] ? define_lower_selection(segment) : {}' :class='{"invalid_selection": !is_valid_lower[segment.dateIndex], "valid_selection": is_valid_lower[segment.dateIndex]}')
                                .col-sm
                                    i.fa.fa-step-forward.fa-2x(aria-hidden="true" @click='is_valid_upper[segment.dateIndex] ? define_upper_selection(segment) : {}' :class='{"invalid_selection": !is_valid_upper[segment.dateIndex], "valid_selection": is_valid_upper[segment.dateIndex]}')
                            .row
                                .col-sm
                                    i.fa.fa-refresh(aria-hidden="true" @click='planif_reimport(segment)' class="valid_selection")

                            fileinput(:key="'fileinput_'+segment.dateIndex" :muted="true" :options="dropzoneOptions[segment.dateIndex]" @uploaded="uploadedFile(segment.dateIndex, ...arguments)")
            .row.justify-content-between.multiple_segments
                .col-md-4.multiple_segments_block
                    .row
                        .col-sm.multiple_segments_header {{ label('import.multiple_segments') }}
                    .row
                        .col-sm.multiple_segments_input_lower
                            input(type='date' v-model='lower_selected_date_index')
                        .col-sm.multiple_segments_input_upper
                            input(type='date' v-model='upper_selected_date_index')
                    .row
                        .col-sm.multiple_segments_input_file
                            fileinput(key="fileinput_multiple" :muted="true" :options="dropzoneOptions_multiple" @uploaded="uploadedFile(null, ...arguments)")
        
        #import_modal.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header(v-if="selected_segment")
                        h4.modal-title {{ selected_segment.dateIndex }}
                        router-link.btn.close(:to="route_path") &times;
                    .modal-body(v-if="selected_segment && (!import_historics[selected_segment.dateIndex])")
                        span {{ label('import.modal.no_hisotoric') }}
                    .modal-body(v-if="selected_segment && import_historics[selected_segment.dateIndex]")
                        include ../base/DataImportModal.pug