include ../../../../views/mixins/loading.pug

.data-import.col-md-12
    +loading()
        .row
            .col-md-12
                button.btn.btn-sm.btn-secondary.pull-right(@click='reload_datas()')
                    i.fa.fa-refresh.fa-lg.btn_icon(aria-hidden="true")
                    | {{ label('crud.actions.refresh') }}
                h2.imports_page_title {{ title }}
        .row(v-if='import_overview_component')
            .col-sm
                component(:is="import_overview_component")

        .row(v-if='import_param_component')
            .col-sm
                component(:is="import_param_component")

        template(v-if="hasValidOptions")
            .row.justify-content-between
                .col-md-1
                    button.btn.btn-primary.pull-left(@click="previous_segments")
                        i.fa.fa-arrow-left(aria-hidden="true")
                .col-md-1
                    button.btn.btn-primary.pull-right(@click="next_segments")
                        i.fa.fa-arrow-right(aria-hidden="true")
            .row.justify-content-between.segments_overviews
                template(v-for='segment in getsegments')
                    template(v-if="segment_states && segment && segment_states[segment.dateIndex]")
                        .col-sm.border-top.rounded-top.border-secondary.data_import_segment_overview(v-if='segment_states[segment.dateIndex] == state_unavail')

                            .segment_date_index(v-if='getsegment_type == segment_type_year') {{ formatDate_Fullyear(segment.dateIndex) }}
                            .segment_date_index(v-if='getsegment_type == segment_type_month') {{ formatDate_FullyearMonth(segment.dateIndex) }}
                            .segment_date_index(v-if='getsegment_type == segment_type_day') {{ formatDate_FullyearMonthDay(segment.dateIndex) }}

                        .col-sm.border-top.rounded-top.data_import_segment_overview(v-else, 
                            :class='{"border-success": segment_states[segment.dateIndex] == state_ok, "border-danger": segment_states[segment.dateIndex] == state_ko, "border-warning": segment_states[segment.dateIndex] == state_warn, "border-primary": segment_states[segment.dateIndex] == state_info}')

                            .segment_date_index(v-if='getsegment_type == segment_type_year') {{ formatDate_Fullyear(segment.dateIndex) }}
                            .segment_date_index(v-if='getsegment_type == segment_type_month') {{ formatDate_FullyearMonth(segment.dateIndex) }}
                            .segment_date_index(v-if='getsegment_type == segment_type_day') {{ formatDate_FullyearMonthDay(segment.dateIndex) }}

                            i.fa.fa-info-circle.fa-5x(aria-hidden="true" @click='openModal(segment)')
                            fileinput(:muted="true" :options="dropzoneOptions[segment.dateIndex]" @uploaded="uploadedFile(segment.dateIndex, ...arguments)")
        
        #import_modal.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header(v-if="selected_segment")
                        h4.modal-title {{ selected_segment.dateIndex }}
                        router-link.btn.close(:to="route_path") &times;
                    .modal-body(v-if="selected_segment && (!import_historics[selected_segment.dateIndex])")
                        span {{ label('import.modal.no_hisotoric') }}
                    .modal-body(v-if="selected_segment && import_historics[selected_segment.dateIndex]")
                        .row.imported_file_link
                            .col-md-12
                                span {{ label('import.modal.imported_file_link') }}
                                fileinput.pull-right(:readonly="true" :filevo='imported_files[selected_segment.dateIndex]')
                        .row(v-for='api_type_id in valid_api_type_ids')
                            .jumbotron.col-md-12
                                router-link.btn.btn-sm.btn-primary.pull-right(:to="logs_path[selected_segment.dateIndex][api_type_id]" target="_blank")
                                    i.fa.fa-info-circle.fa-lg.btn_icon(aria-hidden="true")
                                    | {{ label('import.modal.see_logs') }}
                                    
                                p.lead.import_title {{ selected_segment_labels[api_type_id] }}
                                hr
                                p.justify-content-between.align-items-left
                                    span.badge.badge-success.badge-spill.pull-right(v-if='selected_segment_format_validated[api_type_id]')
                                        i.fa.fa-check.fa-2x.fa-fw(aria-hidden="true")
                                    span.badge.badge-danger.badge-spill.pull-right(v-if='selected_segment_format_invalidated[api_type_id]')
                                        i.fa.fa-times.fa-2x.fa-fw(aria-hidden="true")
                                    span.badge.badge-primary.badge-spill.pull-right(v-if='selected_segment_formatting[api_type_id]')
                                        i.fa.fa-cog.fa-spin.fa-fw.fa-2x(aria-hidden="true")
                                    p {{ label('import.format.modal.title') }}
                                ul.raw_datas_stats.list-group(v-if="selected_segment_has_formatted_datas[api_type_id]")
                                    i.fa.fa-spinner.fa-spin(v-if="!selected_segment_nb_validated_format_elements")
                                    router-link.list-group-item.list-group-item-action.d-flex.justify-content-between.align-items-center(:to="raw_datas_path[selected_segment.dateIndex][api_type_id]" target="_blank" v-if="selected_segment_nb_validated_format_elements")
                                        i.fa.fa-table(aria-hidden="true")
                                        span {{ label('import.format.modal.selected_segment_nb_validated_format_elements') }}
                                        span.badge.badge-success.badge-spill {{ selected_segment_nb_validated_format_elements[api_type_id] }}
                                    i.fa.fa-spinner.fa-spin(v-if="!selected_segment_nb_unvalidated_format_elements")
                                    router-link.list-group-item.list-group-item-action.d-flex.justify-content-between.align-items-center(:to="raw_datas_path[selected_segment.dateIndex][api_type_id]" target="_blank" v-if="selected_segment_nb_unvalidated_format_elements")
                                        i.fa.fa-table(aria-hidden="true")
                                        span {{ label('import.format.modal.selected_segment_nb_unvalidated_format_elements') }}
                                        span.badge.badge-danger.badge-spill {{ selected_segment_nb_unvalidated_format_elements[api_type_id] }}
                                template(v-if='selected_segment_needs_format_validation[api_type_id]')
                                    .btn-group
                                        button.btn.btn-primary(@click="selected_segment_continue_importation(api_type_id)")
                                            i.fa.fa-check.fa-lg.btn_icon(aria-hidden="true")
                                            | {{ label('import.format.modal.continue') }}
                                            
                                        button.btn.btn-secondary(@click="selected_segment_cancel_importation(api_type_id)")
                                            i.fa.fa-check.fa-lg.btn_icon(aria-hidden="true")                               
                                            | {{ label('import.format.modal.cancel') }}             

                                hr
                                p.justify-content-between.align-items-left
                                    span.badge.badge-danger.badge-spill.pull-right(v-if='selected_segment_import_failed[api_type_id]')
                                        i.fa.fa-times.fa-2x.fa-fw(aria-hidden="true")
                                    span.badge.badge-success.badge-spill.pull-right(v-if='selected_segment_imported[api_type_id]')
                                        i.fa.fa-check.fa-2x.fa-fw(aria-hidden="true")
                                    span.badge.badge-primary.badge-spill.pull-right(v-if='selected_segment_importing[api_type_id]')
                                        i.fa.fa-cog.fa-spin.fa-fw.fa-2x(aria-hidden="true")
                                    p {{ label('import.import.modal.title') }}
                                    
                                hr
                                p.justify-content-between.align-items-left
                                    span.badge.badge-success.badge-spill.pull-right(v-if='selected_segment_posttreated[api_type_id]')
                                        i.fa.fa-check.fa-2x.fa-fw(aria-hidden="true")
                                    span.badge.badge-danger.badge-spill.pull-right(v-if='selected_segment_posttreat_failed[api_type_id]')
                                        i.fa.fa-times.fa-2x.fa-fw(aria-hidden="true")
                                    span.badge.badge-primary.badge-spill.pull-right(v-if='selected_segment_posttreating[api_type_id]')
                                        i.fa.fa-cog.fa-spin.fa-fw.fa-2x(aria-hidden="true")
                                    p {{ label('import.posttreat.modal.title') }}
                                    