.table_widget_kanban_component {
    height: -webkit-fill-available;

    .is_busy {
        float: left;
        margin: 0 0.5em;
    }

    .crud_actions {
        float: right;
    }

    >.row {
        height: -webkit-fill-available;

        >.col-sm-12 {
            height: -webkit-fill-available;

            >div {
                height: -webkit-fill-available;

                >.kanban_wrapper {
                    overflow-x: auto;
                    height: calc(100% - 2em);
                    clear: both;

                    .kanban_columns_wrapper {
                        width: max-content;
                        display: flex;
                        flex-flow: row;
                        height: -webkit-fill-available;

                        .kanban_column {
                            width: 320px;
                            display: inline-block;
                            height: -webkit-fill-available;
                            margin: 1em;
                            padding: 1em;
                            background: #EEE;
                            border-radius: 5px;
                            vertical-align: top;
                            overflow: hidden;

                            .kanban_column_header {
                                .kanban_column_header_title {

                                    text-align: center;
                                    margin-bottom: 0.5em;
                                    text-transform: uppercase;

                                    &.clickable {
                                        cursor: pointer;
                                    }

                                    &.is_not_enum {
                                        background: none;
                                        border-radius: 4px;
                                        padding: 0.3em;
                                        font-weight: bold;
                                    }

                                    .field.is_enum.field_type_enum {
                                        border-radius: 4px !important;
                                        padding: 0.3em !important;
                                        font-weight: bold !important;
                                    }

                                    form input[type="text"] {
                                        width: -webkit-fill-available;
                                        border: none;
                                        background: white;
                                        border-radius: 4px;
                                        padding: 0.3em;
                                        font-weight: bold;
                                        text-transform: uppercase;
                                        text-align: center;
                                    }
                                }

                                .kanban_column_header_count {
                                    float: right;
                                    margin-top: -1em;
                                    background: #555;
                                    color: white;
                                    margin-right: -1em;
                                    padding: 0em 0.5em;
                                }
                            }

                            .kanban_column_content {
                                overflow-y: auto;
                                height: -webkit-fill-available;
                                margin-bottom: 3em;
                                overflow-x: hidden;

                                &::-webkit-scrollbar-track {
                                    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
                                    border-radius: 10px;
                                    background-color: #F5F5F5;
                                }

                                &::-webkit-scrollbar {
                                    width: 6px;
                                    background-color: #F5F5F5;
                                }

                                &::-webkit-scrollbar-thumb {
                                    border-radius: 5px;
                                    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .2);
                                    background-color: #555;
                                }

                                .kanban_column_receiver {

                                    height: -webkit-fill-available;

                                    .card.kanban_row {

                                        overflow: hidden;
                                        margin-bottom: 1em;
                                        margin-right: .3em;
                                        border: none;

                                        .card-body {
                                            cursor: pointer;
                                            transition: all 0.2s ease-in-out;
                                            overflow-x: auto;

                                            .kanban_row_column_field {
                                                margin-bottom: 0.6em;
                                                border-bottom: solid 1px #F5F5F5;

                                                .kanban_row_column_field_label {
                                                    font-weight: bold;
                                                    color: #333;
                                                }

                                                .kanban_row_column_field_value {
                                                    font-size: smaller;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .is_enum {
                        padding: 2px 4px;
                        border-radius: 4px;
                        text-align: center;
                    }
                }
            }
        }
    }

    .span_dismiss_export_banner_alert {
        display: inline-flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .btn_dismiss_export_banner_alert {
            background-color: transparent;
            border-color: transparent;

            i::after {
                opacity: 1 !important;
            }
        }
    }
}

.dashboard_builder_board .grid_item_wrapper.widget_name__datatable .vue-grid-item {
    overflow-y: hidden !important;
}