@import 'skin-variables.scss';

.var_charts_scales_options_component {
    .open-icon {
        position: relative;
        left: 50%;
        font-size: xx-large;
        color: $success_color;
        cursor: pointer;
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.1);
        }
    }

    .scale_section {
        .section {
            border: $table_border;
            border-radius: 6px;
            margin-bottom: 1.5rem;
            background-color: $input_editable_bg_color;

            .section-header {
                cursor: pointer;
                padding: 0.75rem 1rem;
                background-color: $button_primary_bg_color;
                color: $button_text_color;
                border-radius: 6px 6px 0 0;
                display: flex;
                align-items: center;
                position: relative;

                i.icon {
                    margin-left: 2rem;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                .scale-title {
                    flex-grow: 1;
                    font-size: 1rem;
                }

                .edit-icon,
                .delete-icon {
                    margin-left: 0.75rem;
                    font-size: 1.1rem;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                .delete-icon {
                    color: $danger_color;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            .section-content {
                padding: 1rem;
                background-color: $input_editable_bg_color;
                border-radius: 0 0 6px 6px;
            }
        }
    }
}