include ../../../../../views/mixins/loading.pug

.reset_filters_widget_component
    button(@click="reset") 
        i.fa-solid.fa-spin.fa-spinner.mr-2(v-if="start_update")
        span {{ label('dashboard_viewer.block_widgets_reset') }}
