.reset_filters_widget_component {

    height: 100%;

    button {
        height: 100%;
        width: 100%;
        background-color: dodgerblue;
        color: white;
        border: dodgerblue;
        border-radius: 2%;
    }
}