.row(v-if="!modal_historics")
    span.col-md-12 {{ label('import.modal.no_hisotoric') }}
    include ./DataImportNewImport.pug
.row(v-else)
    include ./DataImportImportedFileLink.pug
    include ./DataImportNewImport.pug
    include ./DataImportApiTypeId.pug