.row.import_header
    .col-sm-12
        button.btn.btn-sm.btn-secondary.pull-right(@click='reload_datas()')
            i.fa.fa-refresh.fa-lg.btn_icon(aria-hidden="true")
            | {{ label('crud.actions.refresh') }}
        toggle-button.pull-left(
            v-if='show_autovalidate'
            v-model="autovalidate"
            :width="100"
            :labels="{checked: 'Auto', unchecked:'Normal'}"
            :disabled="false")
        toggle-button.pull-left(
            v-if='import_overview_component'
            v-model="show_overview"
            :width="100"
            :labels="{checked: 'Vue complète', unchecked:'Allégé'}"
            :disabled="false" )

        h2.imports_page_title {{ title }}
.row(v-if='import_overview_component && show_overview')
    .col-sm
        component(:is="import_overview_component", :accordion_elements="accordion_elements")

.row(v-if='import_param_component')
    .col-sm
        component(:is="import_param_component", :accordion_elements="accordion_elements")
