.col-sm-12.new_import.mb-3.mt-3
    button.btn.btn-primary.btn-sm.btn-block.mb-1(v-show="modal_historics", v-on:click="toggleShowNewImport") {{ label('import.modal.new_import') }}
    fileinput(v-show="show_new_import", :key="modal_dropzone_key", :muted="true", :options="modal_dropzone_options", @uploaded="uploadedFile(selected_segment.index, ...arguments)")