.data-import {

    .import_header {
        .vue-js-switch {

            margin-right: 6px;
            margin-top: 1em;
        }
    }

    .dropzone {
        padding: 0px 20px;
    }

    .dropzone .dz-preview {
        display: none;
    }

    .dropzone.dz-started .dz-message {
        display: block;
    }

    .imported_file_link {
        
        margin-bottom: 10px;

        span{
            font-weight: bold;
            vertical-align: -webkit-baseline-middle;
            vertical-align: sub;
        }
    }

    .jumbotron{
        ul.raw_datas_stats {
            margin-bottom: 10px;
        }
    }

    .data_import_segment_overview{
        text-align: CENTER;
        border-width: 10px !important;
        /* margin: 10px; */
        border-bottom: 1px solid #DDD !important;
        padding-bottom: 10px;
        border-left: 1px solid #DDD !important;
        border-right: 1px solid #DDD !important;

        i.fa.fa-info-circle.fa-5x {
            cursor: pointer;
            opacity: 0.5;
        }

        i.fa.fa-info-circle.fa-5x:hover {
            opacity: 0.8;
        }

        .segment_date_index {
            font-size: 1.4em;
            font-weight: 700;
            text-align: center;
            line-height: 2em;
            margin-top: 10px;
            opacity: 0.8;
        }
    }

    .segments_overviews {

        margin: 20px;
    }
}

