.menu_organizer {

    .options_wrapper {
        z-index: 2;
        position: fixed;
        right: 0;
        width: 600px;
        top: 124px;
        max-height: 80%;
        overflow-y: auto;
        padding: 0;
        box-shadow: 1px 1px 10px;
        background: white; 
        overflow-x: hidden;
        transition: width 0.5s ease-out;

        &.collapsed{
            width: 0px;
        }
    
        .collapsible_component_wrapper {
            width: 600px;
        }
    }
    
    .collapse_options_wrapper {
        padding: 0.2em;
        margin: 0em;
        position: fixed;
        right: 0;
        background: #F5F5F5;
        font-size: 2em;
        cursor: pointer;
        color: #555;
        box-shadow: 1px 1px 5px grey;
        top: 66px;
    }

    .app_name_title {
        font-size: 1.2em;
        margin-bottom: 0.3em;
        text-align: center;
        background: #555;
        color: white;
        border-radius: 10px;
        width: fit-content;
        margin: auto;
        padding: 0.4em 1em;
        text-transform: uppercase;
        margin-bottom: 1em;
        box-shadow: 1px 1px 1px black;
    }

    .selected_item_wrapper,
    .select_app_wrapper,
    .update_cancel_menu_wrapper,
    .add_menu_wrapper {
        padding: 1em;
        background: #F5F5F5;
    }

    .selected_item_wrapper,
    .select_app_wrapper,
    .update_cancel_menu_wrapper {
        margin-top: 1em;
    }

    .selected_item_wrapper {

        .unselect {
            float: right;
            background: white;
            padding: 0.3em;
            color: #555;
            cursor: pointer;
        }

        input[type="text"] {
            width: 100%;
            padding: 0.3em;
            border: solid 1px #BBB;
            border-radius: 2px;

            &.multiselect__input {
                border:none;
            }
        }

        .row {
            margin-bottom: 0.6em;
            clear: both;

            .label {
                font-size: small;
                color: darkslategrey;
            }

            .explaination {
                font-size: smaller;
                color: #888;
            }
        }
    }



    .select_app_name {

        .label {
            display: inline-block;
            margin-bottom: 0.2em;
            font-weight: bold;
        }

        .input_wrapper {
            select {
                padding: 0.4em 1em;
                cursor: pointer;
                text-transform: uppercase;
            }
        }
    }

    .nestable {
        padding: 1em;
        background: #F5F5F5;
        border-radius: 2px;
        max-width: 1280px;
    }

    .save, .cancel, .add {

        text-align: center;
        vertical-align: middle;
        height: 2em;
        width: 100%;
        padding: 0.3em;
        color: white;
        cursor: pointer;
        border-radius: 2px;
        display: inline-block;
        font-size: 1.2em;
        margin-bottom: 0.4em;

        i {
            font-size: 1.3em;
            vertical-align: middle;
            margin-right: 0.2em;
        }
    }

    .add {
        background: green;
    }

    .save {
        background: #0d6efd;
    }

    .cancel {
        background: indianred;
    }

    .nestable-item-content {
        padding: 0.1em;

        .item_content {
            display: inline-block;
            margin-left: 0.5em;
            cursor: pointer;
            
            &.hidden {
                opacity: 0.5;
            }

            &.has_focus {
                font-weight: bold;
                color: white;
                background: #555;
                padding: 0.2em 1em;
            }

            .menu_name {
                display: inline-block;
            }

            .menu_target {
                display: inline-block;
                margin-left: 0.3em;
                font-size: small;
                color: darkgrey;

                &::before {
                    content: ' - ';
                }
            }
        }
    }
}

/*
* Style for nestable
*/
.nestable {
    position: relative;
}
.nestable-rtl {
    direction: rtl;
}
.nestable .nestable-list {
    margin: 0;
    padding: 0 0 0 40px;
    list-style-type: none;
}
.nestable-rtl .nestable-list {
    padding: 0 40px 0 0;
}
.nestable > .nestable-list {
    padding: 0;
}
.nestable-item,
.nestable-item-copy {
    margin: 10px 0 0;
}
.nestable-item:first-child,
.nestable-item-copy:first-child {
    margin-top: 0;
}
.nestable-item .nestable-list,
.nestable-item-copy .nestable-list {
    margin-top: 10px;
}
.nestable-item {
    position: relative;
}
.nestable-item.is-dragging .nestable-list {
    pointer-events: none;
}
.nestable-item.is-dragging * {
    opacity: 0;
    filter: alpha(opacity=0);
}
.nestable-item.is-dragging:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(106, 127, 233, 0.274);
    border: 1px dashed rgb(73, 100, 241);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.nestable-drag-layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
}
.nestable-rtl .nestable-drag-layer {
    left: auto;
    right: 0;
}
.nestable-drag-layer > .nestable-list {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    background-color: rgba(106, 127, 233, 0.274);
}
.nestable-rtl .nestable-drag-layer > .nestable-list {
    padding: 0;
}
.nestable [draggable="true"] {
    cursor: move;
}
.nestable-handle {
    display: inline;
}