include ../../../../../../views/mixins/loading.pug

.show_favorites_filters_widget_component
    template(v-if='vo_field_ref')
        .favorites_filters_select_label.vo_field_ref_label {{ vo_field_ref_label }}
    template
        .favorites_filters_select
            multiselect(
                :options="favorites_filters_visible_options"
                :multiple="can_select_multiple"
                :preselect-first="false"
                :close-on-select="false"
                :show-labels="false"
                :placeholder="label('favorites_filters_select.multiselect_placeholder')"

                v-model="tmp_active_favorites_filters_option"
                autocomplete="off"
                track-by="id"
                label="name"

                :internal-search="false"
                :hide-selected="false"
                :searchable="false"

                :key="'show_favorites_filters_widget_component_' + vo_field_ref.api_type_id + '__' + vo_field_ref.field_id"
                
                :deselect-group-label='label("multiselect.deselectGroupLabel")'
                :select-group-label='label("multiselect.selectGroupLabel")'
                :selected-label='label("multiselect.selectedLabel")'
                :deselect-label='label("multiselect.deselectLabel")'
                :select-label='label("multiselect.selectLabel")'

                @search-change="query_update_visible_options"
            )
                
                span(slot="noOptions") -

                template(slot="option", slot-scope="props")
                    template(v-if='is_translatable_type')
                        span.option__title {{ label(props.option.name) }}
                    template(v-else)
                        span.option__title {{ props.option.name }}
                        a.btn.btn-sm.btn-success.pull-right.option__edit(@click='handle_edit_favorites_filters(props.option)')
                            i.fa-duotone.fa-pencil-alt

                template(slot="tag", slot-scope="props")
                    .pill_wrapper.bg-success
                        template(v-if='is_translatable_type')
                            span.option__tag {{ label(props.option.name) }}
                        template(v-else)
                            span.option__tag {{ props.option.name }}
                        i.fa-duotone.fa-times(@click='props.remove(props.option)')

