.tables_graph
    .row(v-if='("", " ").indexOf(label("dashboard_builder.tables_graph.message.error")) == -1')
        .col-sm-12
            .message.error {{ label('dashboard_builder.tables_graph.message.error') }}
    .row(v-if='("", " ").indexOf(label("dashboard_builder.tables_graph.message.warning")) == -1')
        .col-sm-12
            .message.warning {{ label('dashboard_builder.tables_graph.message.warning') }}
    .row(v-if='("", " ").indexOf(label("dashboard_builder.tables_graph.message.info")) == -1')
        .col-sm-12
            .message.info {{ label('dashboard_builder.tables_graph.message.info') }}

    .row
        .col-sm-9.container_wrapper
            .container(ref="container")
    
        .col-sm-3.fields_wrapper
            .sidebar(ref="sidebar")
                Tablesgrapheditformcomponent(
                    :maxgraph="maxgraph"
                    :current_cell_mapper ="current_cell_mapper"
                    @remap="throttle_init_or_update_graph"
                    :dashboard='dashboard'
                    :graph_mapper='graph_mapper'
                    @delete_cell="delete_cell")
            Droppablevoscomponent(ref="droppables")