.tables_graph {

    padding: 1em;
    border: solid 2px #EEE;
    border-radius: 3px;
    box-shadow: 1px 1px 1px grey;

    .sidebar {
        margin-bottom: 1em;
    }

    .tables_graph_item.table_name {
        color: white;
        font-size: 1.2em;
    }
}