.tables_graph
    .row 
        .col-md-9.container_wrapper
            .container(ref="container")
    
        .col-md-3.fields_wrapper 
            .sidebar(ref="sidebar")
                Tablesgrapheditformcomponent(
                    ref="form" 
                    @delete_cell="delete_cell" 
                    @toggle_check="toggle_check"
                    :cell-data="current_cell"
                    :toggle ="toggle" )
            Droppablevoscomponent(ref="droppables")