.row.filtre.list(v-if="all_values")
    .col-md-6.filter-col
        v-select.v-select-multiple(:placeholder="label('client.reporting.filtre.placeholder.' + name)", v-model="values", multiple, :options="all_values")
            span(slot="no-options") -
            template(slot="option", slot-scope="option")
                i.fa.fa-object-group(aria-hidden='true')
                span {{ option.label }}
    div
        button.selectall.action-button.float-left(@click="select_all")
            i.fa.fa-list(aria-hidden="true")
        button.deselectall.action-button.float-left(@click="deselect_all")
            i.fa.fa-trash(aria-hidden="true")