// DiagramBlock.pug
.diagram-block(:style="blockStyle"
              :class="{ selected: isSelected, ghost: ghost }")
    .diagram-block-text 
        .diagram-block-text.time(v-if="displayText.time") {{ displayText.time }}
        .diagram-block-text.function {{ displayText.function }}
    .diagram-block-icon {{ iconInfo.icon }}
