.supervision_item_modal
    #supervision_item_modal.modal.fade.in(ref="supervision_item_modal", tabindex='-1', role='dialog')
        .modal-dialog.modal-lg(role='document')
            .modal-content(v-if="selected_item")
                .modal-header
                    a.btn.close(@click="closemodal") &times;
                    h4.modal-title(v-if="!!split_char"  v-html="get_split_name()")
                    h4.modal-title(v-else) {{ selected_item.name }}

                .modal-body
                    Superviseditemcomponent(
                        :supervised_item_id='selected_item.id'
                        :supervised_item_vo_type='selected_item._type'
                        :has_access_pause='has_access_pause'
                        :split_char='split_char'
                        :noclick="true"
                    )

                .modal-footer
                    .btn.btn-info(@click="closemodal") {{ label('supervision.supervision_item_modal.close') }}