.var_desc_explain_imports
    .row(v-for='aggregated_var_data in aggregated_var_datas')
        .col-sm-12.imported_var_data_wrapper
            Vardescexplaindepparamcomponent(:param='aggregated_var_data')
