.dashboard_builder_board_item(@click='select_widget' :class="{'selected':is_selected}")
    template(v-if='widget && page_widget')
        template(v-if='is_edit_mode && is_selected')
            .delete_button
                i.fa.fa-trash.fa-fw.btn_icon(aria-hidden="true" @click="delete_widget")  
            .copy_widget 
               button.btn.btn-sm.btn-secondary(@click="copy_widget")     
        .widget_component_wrapper
            .widget_component(
                :is='widget.widget_component' 
                :page_widget='page_widget'
                :all_page_widget='all_page_widget'
                :dashboard_page='dashboard_page'
                :dashboard_pages='dashboard_pages'
                :dashboard='dashboard'
                @select_page='select_page'
            )