.dashboard_builder_board_item {
    height: -webkit-fill-available;

    .widget_component_wrapper {
        height: -webkit-fill-available;

        .field_value_filter_widget_component {
            height: -webkit-fill-available;
        }
    }

    .widget_component {
        padding: 1em;
    }

    .delete_button {
        position: absolute;
        top: 0;
        right: 0;
        background: indianred;
        color: white;
        font-size: 1.2em;
        padding: 0.2em;
        width: 1.8em;
        height: 1.8em;
        z-index: 1;
        cursor: cursor;
    }

    .copy_widget {
        position: absolute;
        right: 1.7em;
        width: 1.8em;
        height: 1.8em;
        background: #007bff;
        padding: 0.2em;
        margin-right: 0.5em;
        color: white;
        cursor: pointer;
        text-align: center;
        font-size: 1.2em;
        z-index: 1;
    }
}