.dashboard_builder_board_item {


    .widget_component {
        padding: 1em;
    }

    .delete_button {
        position: absolute;
        top: 0;
        right: 0;
        background: indianred;
        color: white;
        font-size: 1.2em;
        padding: 0.2em;
        width: 1.8em;
        height: 1.8em;
        z-index: 1;
        cursor: cursor;
    }
}