.supervision_item_modal
    #supervision_item_modal.modal.fade.in(ref="supervision_item_modal", tabindex='-1', role='dialog')
        .modal-dialog.modal-lg(role='document')
            .modal-content(v-if="get_selected_item")
                .modal-header
                    h4.modal-title(v-if="!!split_char"  v-html="get_split_name()")
                    h4.modal-title(v-else) {{ get_selected_item.name }}
                    a.btn.close(@click="closemodal") &times;
                .modal-body
                    Superviseditemcomponent(
                        :supervised_item_id='get_selected_item.id'
                        :supervised_item_vo_type='get_selected_item._type'
                        :has_access_pause='get_has_access_pause'
                        :split_char='split_char'
                        :noclick ="noclick"
                    )
                .modal-footer
                    a.btn.btn-secondary(@click="closemodal") {{ label('supervision.item_modal.close') }}