.supervision_type_widget_component {
    .category_label {
        border-top: 1px solid #888;
        padding: 0.5rem 0 0.1rem 0;
        margin: 0.5rem 0 0.2rem 0;
    }

    .probe_label {
        padding: 0.3rem 0 0.1rem 0.3rem;
        margin: 0.5rem 0 0 1rem;
        font-size: 1rem;
        border-left: 1px solid #888;
    }

    .button_opacity {
        opacity: 0.4;

        &:hover,
        &.active {
            opacity: 1;
        }
    }

    .sup_cnt.btn.btn-sm {
        font-size: larger;
        font-weight: bold;
        color: white;
        min-width: 4rem;
        max-width: 4rem;
        max-height: 1.5rem;
        padding: 0;
        line-height: 1.4;

        opacity: 0.25;

        &:hover,
        &.active,
        &.opacity_1 {
            opacity: 1;
        }

        &:hover,
        &.active &.selected {
            box-shadow: 3px 3px 3px -2px #888
        }

        &.selected {
            border: 2px solid #888;
        }

        &.STATE_0 {
            background-color: red;
        }

        &.STATE_1 {
            background-color: orangered;
        }

        &.STATE_2 {
            background-color: orange;
        }

        &.STATE_3 {
            background-color: #ffd400;
        }

        &.STATE_4 {
            background-color: green;
        }

        &.STATE_5 {
            background-color: blue;
        }

        &.STATE_6 {
            background-color: grey;
        }
    }
}