.supervision_type_widget_component {
    .separator {
        border-top: 1px solid #888;
        margin: 0.5rem 0 0.2rem 0;
    }

    .category_label {
        font-weight: bold;

        p {
            padding: 0.5rem 0 0.1rem 0;
            display: inline-block;
            margin: 0;
        }

        .btn-sm.fa {
            margin: 0.4rem 0 0 0;

        }

        .btn-sm.fa::before {
            margin: 0;
        }
    }

    .probe_label {
        padding: 0 0 0 0.3rem;
        margin: 0.4rem 0 -0.1rem 1rem;
        // font-size: 1rem; // ; ok si html 14px
        font-size: 14px;
        border-left: 1px solid #888;
    }

    .button_opacity {
        opacity: 0.4;

        &:hover,
        &.active {
            opacity: 1;
        }
    }

    .sup_cnt.btn.btn-sm {
        font-weight: bold;
        color: white;
        // min-height: 1.1rem; ok si html 14px
        // max-height: 1.1rem; ok si html 14px
        min-height: 16px;
        max-height: 16px;


        padding: 0;

        &.tt_states_6 {
            width: 15%;
        }

        &.tt_states_5 {
            width: 18.5%;
        }

        &.tt_states_4 {
            width: 23%;
        }

        &.tt_states_3 {
            width: 31.5%;
        }

        &.tt_states_2 {
            width: 48%;
        }

        &.tt_states_1 {
            width: 100%;
        }

        // line-height: 0.9rem; ok si html 14px
        line-height: 14px;
        // font-size: 0.9rem; ok si html 14px
        font-size: 14px;

        opacity: 0.25;

        &.opacity_1 {
            opacity: 0.8;
        }

        &:hover,
        &.active {
            opacity: 1;
        }

        &:hover,
        &.active &.selected {
            box-shadow: 3px 3px 3px -2px #888
        }

        &.selected {
            opacity: 1;
            border: 2px solid #888;
            line-height: 13px;
        }

        &.STATE_0 {
            background-color: red;
        }

        &.STATE_1 {
            background-color: orangered;
        }

        &.STATE_2 {
            background-color: orange;
        }

        &.STATE_3 {
            background-color: #ffd400;
        }

        &.STATE_4 {
            background-color: green;
        }

        &.STATE_5 {
            background-color: blue;
        }

        &.STATE_6 {
            background-color: grey;
        }
    }

    .sup_cnt.btn.btn-sm.caption {
        min-height: 20px;
        max-height: 20px;
        line-height: 18px;
        font-weight: normal;

        &.selected {
            line-height: 16px;
        }
    }

    .accordion-panel-heading {
        cursor: pointer;

        .sup_cnt.btn.btn-sm {
            background-color: white;
            min-height: 18px;
            max-height: 18px;
            line-height: 15px;

            &.STATE_0 {
                color: red;
                border: 2px solid red;
            }

            &.STATE_1 {
                color: orangered;
                border: 2px solid orangered;
            }

            &.STATE_2 {
                color: orange;
                border: 2px solid orange;
            }

            &.STATE_3 {
                color: #ffd400;
                border: 2px solid #ffd400;
            }

            &.STATE_4 {
                color: green;
                border: 2px solid green;
            }

            &.STATE_5 {
                color: blue;
                border: 2px solid blue;
            }

            &.STATE_6 {
                color: grey;
                border: 2px solid grey;
            }
        }
    }

    .component_header .pull-right {
        margin-top: -0.5rem;
    }
}