.supervision_type_widget_component
    label(v-if="title_name_code_text") {{ t(title_name_code_text) }}
    .available_api_type_ids(v-if="available_api_type_ids && (available_api_type_ids.length > 0)")

        template(v-if="order_by_categories")
            template(v-for="cat in categories_ordered")
                template(v-if="!!available_api_type_ids_by_cat_ids[cat.id]")

                    p.category_label {{ cat.name }}
                    //- template(v-if="show_counter")
                    //-     template(v-for="state in all_states")
                    //-         var-data.sup_cnt.btn.btn-sm.mr-1(
                    //-             v-var-directive="get_var_param_directive(state, null, cat.id)",
                    //-             :var_param="probe_param_by_cat[cat.id][state]",
                    //-             :class="'STATE_' + state"
                    //-         )

                    template(v-for="api_type_id in available_api_type_ids_by_cat_ids[cat.id]")
                        template(v-if="show_counter")
                            p.probe_label {{ label('supervision_widget_component.' + api_type_id)}}
                            template(v-if="!!probe_param_by_sup_api_type_id && !!probe_param_by_sup_api_type_id[api_type_id]")
                                template(v-for="state in all_states")
                                    .sup_cnt.btn.btn-sm.mr-1(
                                        @click="handle_select_api_type_id_and_state(api_type_id, state)"
                                        :class="['STATE_' + state, { selected: selectedApitypeState === api_type_id + '_' + state, opacity_1:opacityApitypeState[api_type_id + '_' + state] || selectedApitypeState === api_type_id + '_' + state}]"
                                    )
                                        var-data(
                                            :v-if="!!probe_param_by_sup_api_type_id[api_type_id][state]",
                                            v-var-directive="get_var_param_directive(state, api_type_id)",
                                            :var_param="probe_param_by_sup_api_type_id[api_type_id][state]",
                                        )

                        template(v-else)
                            .btn.btn-info.button_opacity.mr-1.mb-1(
                                @click="handle_select_api_type_id(api_type_id)"
                                :class="{'active': selected_api_type_id == api_type_id}"
                            ) {{ label('supervision_widget_component.' + api_type_id) }}

        //- endOf if (order_by_categories)
        template(v-else)
            template(v-if="show_counter")
                template(v-for="api_type_id in available_api_type_ids")
                    p.probe_label {{ label('supervision_widget_component.' + api_type_id)}}
                    template(v-if="!!probe_param_by_sup_api_type_id && !!probe_param_by_sup_api_type_id[api_type_id]")
                        template(v-for="state in all_states")
                            .sup_cnt.btn.btn-sm.mr-1(
                                @click="handle_select_api_type_id_and_state(api_type_id, state)"
                                :class="['STATE_' + state, { selected: selectedApitypeState === api_type_id + '_' + state, opacity_1:opacityApitypeState[api_type_id + '_' + state] || selectedApitypeState === api_type_id + '_' + state}]"
                            )
                                var-data(
                                    :v-if="!!probe_param_by_sup_api_type_id[api_type_id][state]",
                                    v-var-directive="get_var_param_directive(state, api_type_id)",
                                    :var_param="probe_param_by_sup_api_type_id[api_type_id][state]",
                                )

            template(v-else)
                template
                    .btn.btn-info.button_opacity.mr-1.mb-1(
                        @click="handle_select_api_type_id(null)"
                        :class="{'active': is_all_selected()}"
                    ) {{ label('supervision_widget_component.all') }}
                template(v-for="api_type_id in available_api_type_ids")
                    .btn.btn-info.button_opacity.mr-1.mb-1(
                        @click="handle_select_api_type_id(api_type_id)"
                        :class="{'active': selected_api_type_id == api_type_id}"
                    ) {{ label('supervision_widget_component.' + api_type_id) }}