.dashboard_builder_board {

    width: 1280px;
    height: 720px;
    border: dashed 1px #AAA;
    border-radius: 2px;

    .grid_item_wrapper {

        .vue-grid-item {
            padding: 1em;
        }

        &.selected {
         
            .vue-grid-item {
                z-index: 10000;
                box-shadow: 1px 1px 1px #888;
            }
        } 
    }
}