.dashboard_builder_board
    .grid_wrapper
        template(v-if='!editable_dashboard_page')
            i.fa.fa-refresh.fa-spin.fa-fw(aria-hidden="true")
        template(v-else)
            Gridlayout(
                :layout.sync="editable_dashboard_page.layout"
                :col-num="12"
                :row-height="elt_height"
                :max-rows="max_rows"
                :auto-size="false"
                :is-draggable="draggable"
                :is-resizable="resizable"
                :responsive="false"
                :vertical-compact="false"
                :prevent-collision="true"
                :use-css-transforms="true"
                :margin="[0, 0]"
            )
                .grid_item_wrapper(
                    v-for="item in editable_dashboard_page.layout"
                    @click="select_widget(item)"
                    :class="{'selected': selected_widget && (item.i == selected_widget.i)}"
                )
                    Griditem(
                        :static="item.static"
                        :x="item.x"
                        :y="item.y"
                        :w="item.w"
                        :h="item.h"
                        :i="item.i"
                        @resized="resizedEvent"
                        @moved="movedEvent"
                        :style="'background:' + item.background"
                    )
                        Dashboardbuilderboarditemcomponent(
                            :dashboard_page='dashboard_page'
                            :dashboard='dashboard'
                            :page_widget='item'
                            :is_selected='selected_widget && (item.i == selected_widget.i)'
                            @delete_widget='delete_widget'
                            @select_widget='select_widget'
                        )
                    