.dashboard_builder_board

    Crudupdatemodalcomponent(ref='Crudupdatemodalcomponent')
    Crudcreatemodalcomponent(ref='Crudcreatemodalcomponent')
    Checklistitemmodalcomponent(ref='Checklistitemmodalcomponent')

    //- (@click="(event) => select_widget_and_stop(event, null)")
    .grid_wrapper
        template(v-if='!editable_dashboard_page')
            i.fa.fa-refresh.fa-spin.fa-fw(aria-hidden="true")
        template(v-else)
            Gridlayout(
                :layout.sync="editable_dashboard_page.layout"
                :row-height="elt_height"
                :auto-size="true"
                :is-draggable="draggable"
                :is-resizable="resizable"
                :responsive="true"
                :vertical-compact="true"
                :prevent-collision="false"
                :use-css-transforms="true"
                :margin="[10, 10]"
                :key="'Gridlayout__' + dashboard_page.id"
            )
                template(v-for="item in editable_dashboard_page.layout")
                    template(v-if='!item.hide')
                        //- @click="(event) => select_widget_and_stop(event, item)"
                        .grid_item_wrapper(
                            @click="select_widget(item)"
                            :class="{'selected': selected_widget && (item.i == selected_widget.i), ['widget_name__' + widgets_by_id[item.widget_id].name]: true, ['item__' + item.id]: true }"
                        )
                            Griditem(
                                :static="(!editable) || item.static"
                                :x="item.x"
                                :y="item.y"
                                :w="item.w"
                                :h="item.h"
                                :i="item.i"
                                @resized="resizedEvent"
                                @moved="movedEvent"
                                :style="'background:' + item.background"
                                :key="'Griditem__' + item.id"
                            )
                                Dashboardbuilderboarditemcomponent(
                                    :dashboard_page='dashboard_page'
                                    :dashboard_pages='dashboard_pages'
                                    :dashboard='dashboard'
                                    :page_widget='item'
                                    :is_edit_mode='editable'
                                    :is_selected='selected_widget && (item.i == selected_widget.i)'
                                    :key="'Dashboardbuilderboarditemcomponent__' + item.id + '__' + item_key[item.id]"

                                    @delete_widget='delete_widget'
                                    @select_widget='select_widget'
                                    @select_page='select_page'
                                )
                        