.dashboard_builder_board

    Savefavoritesfiltersmodalcomponent(ref='Savefavoritesfiltersmodalcomponent')
    Crudupdatemodalcomponent(ref='Crudupdatemodalcomponent')
    Crudcreatemodalcomponent(ref='Crudcreatemodalcomponent')
    Dashboardcopywidgetcomponent(
        ref='Dashboardcopywidgetcomponent'
        @delete_widget='delete_widget'
        @reload_widgets='reload_widgets'
    )
    Checklistitemmodalcomponent(ref='Checklistitemmodalcomponent')
    Supervisionitemmodal(ref='Supervisionitemmodal')

    //- (@click="(event) => select_widget_and_stop(event, null)")
    .grid_wrapper(:class="{ filter_plie: (dashboard_page.group_filters && !is_filtres_deplie) }")
        template(v-if='!editable_dashboard_page')
            i.fa-solid.fa-refresh.fa-spin.fa-fw(aria-hidden="true")
        template(v-else)
            Gridlayout(
                :layout.sync="editable_dashboard_page.layout"
                :row-height="elt_height"
                :auto-size="true"
                :is-draggable="draggable"
                :is-resizable="resizable"
                :responsive="true"
                :vertical-compact="false"
                :prevent-collision="true"
                :use-css-transforms="true"
                :margin="[10, 10]"
                :key="'Gridlayout__' + dashboard_page.id"
            )
                template(v-if="dashboard_page.group_filters")
                    .filters-bloc.mt-3
                        .row.header-filters-bloc.clickable(@click="change_is_filtres_deplie")
                            .col.text-center.mb-2
                                Inlinetranslatabletext(:code_text="dashboard_page.translatable_group_filters_code_text" :is_editable="editable" default_translation="Filtres")
                            .text-right.chevron
                                template(v-if="is_filtres_deplie")
                                    i.fa-solid.fa-chevron-up
                                template(v-else)
                                    i.fa-solid.fa-chevron-down

                        .row.body-filters-bloc(v-show="is_filtres_deplie")
                            template(v-for="item in editable_dashboard_page.layout")
                                template(v-if='!item.hide')
                                    template(v-if='widgets_by_id[item.widget_id].is_filter')
                                        include ./grid_item.pug

                    .datatable-bloc
                        template(v-for="item in editable_dashboard_page.layout")
                            template(v-if='!item.hide')
                                template(v-if='!widgets_by_id[item.widget_id].is_filter')
                                    include ./grid_item.pug
                
                template(v-else)
                    template(v-for="item in editable_dashboard_page.layout")
                        template(v-if='!item.hide')
                            include ./grid_item.pug
                        