.dashboard_builder_board



    Dashboardcopywidgetcomponent(
        ref='Dashboardcopywidgetcomponent'
    )

    template(v-if='get_dashboard_page && grid_breakpoints && grid_cols')

        //- (@click="(event) => select_widget_and_stop(event, null)")
        .grid_wrapper(:class="{ filter_plie: (get_dashboard_page.group_filters && !is_filtres_deplie) }")
            Gridlayout(
                :layout="dashboard_viewport_page_widgets"
                :row-height="10"
                :auto-size="true"
                :is-draggable="draggable"
                :is-resizable="resizable"
                :vertical-compact="false"
                :prevent-collision="true"
                :use-css-transforms="true"
                :margin="[10, 10]"
                :style="style_gridlayout"
                :key="'Gridlayout__' + get_dashboard_page.id"  
                :breakpoints='grid_breakpoints'
                :cols='grid_cols'
                :responsive="true"
                @breakpoint-changed="breakpoint_changed_event"
            )
                //- :responsive="true"
                //- :col-num="nb_columns"

                template(v-if="get_dashboard_page.group_filters")
                    .filters-bloc.mt-3
                        .header-filters-bloc.clickable(@click="change_is_filtres_deplie")
                            .text-center.mb-2
                                Inlinetranslatabletext(:code_text="get_dashboard_page.titre_groupe_filtres" :is_editable="editable" default_translation="Filtres")
                            .text-right.chevron
                                template(v-if="is_filtres_deplie")
                                    i.fa-solid.fa-chevron-up
                                template(v-else)
                                    i.fa-solid.fa-chevron-down

                        .row.body-filters-bloc(v-show="is_filtres_deplie")
                            template(v-for="item in dashboard_viewport_page_widgets")
                                template(v-if='!item.hide')
                                    template(v-if='get_widgets_by_id[selected_page_page_widgets_by_id[item.page_widget_id]?.widget_id]?.is_filter')
                                        include ./grid_item.pug

                    .datatable-bloc
                        template(v-for="item in dashboard_viewport_page_widgets")
                            template(v-if='!item.hide')
                                template(v-if='!get_widgets_by_id[selected_page_page_widgets_by_id[item.page_widget_id]?.widget_id]?.is_filter')
                                    include ./grid_item.pug

                template(v-else)
                    template(v-for="item in dashboard_viewport_page_widgets")
                        template(v-if='!item.hide')
                            include ./grid_item.pug


    template(v-else)
        .row.no_page_wrapper
            .col-sm-12
                .is_loading
                    i.fa-duotone.fa-refresh.fa-spin.fa-fw(aria-hidden="true")
