.grid_item_wrapper(
    :class="{'selected': get_selected_widget && (item.i == get_selected_widget.i), ['widget_name__' + widgets_by_id[item.widget_id].name]: true, ['item__' + item.id]: true, hide: isHide(item) && !editable, shaded: isHide(item) && editable}" 
)
    Griditem(
        :static="(!editable) || item.static"
        :x="item.x"
        :y="item.y"
        :w="item.w"
        :h="item.h"
        :i="item.i"
        @resized="resized_event"
        @moved="moved_event"
        :style="'background:' + item.background"
        :key="'Griditem__' + item.id"
    )
        Dashboardbuilderboarditemcomponent(
            :dashboard_page='dashboard_page'
            :dashboard_pages='dashboard_pages'
            :dashboard='dashboard'
            :page_widget='item'
            :all_page_widget='editable_dashboard_page.layout'
            :is_edit_mode='editable'
            :is_selected='get_selected_widget && (item.i == get_selected_widget.i)'
            :key="'Dashboardbuilderboarditemcomponent__' + item.id + '__' + item_key[item.id]"
        )