.rootElt
    vue-draggable-resizable.row#external-events(:w="width" :h="height" :minh="115" :minw="250" :x="20" :y="10" :z="10000" dragHandle="#external_events_drag_handle" v-on:resizing="onResize")
        .col-md-12
            .row#external_events_drag_handle
                .col-md-12  
                    i.fa.fa-arrows.fa-fw.pull-right(aria-hidden="true")
            .row.filter
                .col-md-12.no-padding
                    input.form-input#filtre_etablissement(ref="filtre_etablissement" v-model="filtre_etablissement" placeholder="Filtrer")        
            .droppable_targets(ref="droppable_targets")
                .row(v-for="(target, i) in filtered_ordered_targets")
                    .col-md-12
                        program-plan-component-rdv(:target="target", :enseigne="getEnseigneForTarget(target)", :key="target.id")