@import 'skin-variables.scss';

#external-events{

    background: $main_box_body_bg_color;
    border: solid 1px #CCC;

    .no-padding {
        padding: 0;
    }

    .filter{
        margin: 5px 0px;

        .btn {
            vertical-align: middle;
            margin: 0;
            padding: 0;

            i {
                padding: 0px;
            }
        }

        input {
            vertical-align: middle;
            color: initial;
        }
    }
    
    #external_events_drag_handle {
        background: $main_menu_bg_color;
        color: $main_menu_text_color;

        .btn {
            margin: 0px -10px 5px 0px;

            i {
                padding: 0px;
                margin-top: 4px;
                margin-right: -16px;
            }
        }
    }

    .fc-event {
        margin: 1px 0;
        font-size: 1em;
        padding: 10px 10px;
        cursor: pointer;
        border: none;
        border-radius: 0;
        text-align: center;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}