.rootElt
    vue-draggable-resizable.row#external-events(:w="width" :h="height" :minh="115" :minw="250" :x="initialx" :y="10" :z="10000" dragHandle="#external_events_drag_handle" v-on:resizing="onResize")
        .col-md-12
            .row#external_events_drag_handle
                .col-md-12  
                    i.fa.fa-arrows.fa-fw.pull-right(aria-hidden="true")
            .row.filter
                .col-md-12.no-padding
                    input.form-input#filtre_etablissement(ref="filtre_etablissement" v-model="filtre_etablissement" placeholder="Filtrer")        
            .droppable_targets(ref="droppable_targets")
                template(v-if='use_targets')
                    .row(v-for="(target, i) in filtered_ordered_targets")
                        .col-md-12
                            program-plan-component-rdv(:event_type="target._type", :event_name="target.name", :event_id="target.id", :key="target.id")
                template(v-else)
                    .row(v-for="(t_ou_tt, i) in filtered_ordered_tasks_or_tasks_types")
                        .col-md-12
                            program-plan-component-rdv(:event_type="t_ou_tt._type", :event_name="t_ou_tt.name", :event_id="t_ou_tt.id", :key="t_ou_tt.id")
                