.rootElt
    div(id="external-events", :class="isOpen?'opened':''")
      div.icons
        i(class="fa fa-chevron-right" aria-hidden="true", v-show="!isOpen", @click="isOpen = true")
        i(class="fa fa-chevron-left" aria-hidden="true", v-show="isOpen", @click="isOpen = false")
      div.filter(v-show="isOpen")
        i(class="fa fa-filter" aria-hidden="true" onclick="$('#filtre_boutiques').focus()")
        input(id="filtre_boutiques" v-model="filtre_boutiques" placeholder="Filtrer")        
      div(v-for="(target, i) in filtered_ordered_targets", v-show="isOpen")
        program-plan-component-rdv(:target="target", :enseigne="getEnseigneForTarget(target)", :key="target.id")