.action-form
    .actions(v-if='!importing')
        a.btn.btn-default(@click="send()") Upload
        a.btn.btn-default(@click="refreshlogs()") Refresh Logs
            i.fa.fa-refresh.d-print-none(aria-hidden="true")

    .actions(v-else)
        i.fa.fa-spinner.fa-spin.d-print-none(aria-hidden="true")
