button.btn.btn-default(type='button', @click="custom_update_cr") {{ label('programplan.rdv_modal.update_cr.form_submit') }}
button.btn.btn-default(type='button', @click="custom_cancel_edition") {{ label('programplan.rdv_modal.create_cr.cancel') }}