button.btn.btn-default(type='button', @click="update_cr(cr)") {{ label('programplan.rdv_modal.update_cr.form_submit') }}
button.btn.btn-default(type='button', @click="cancel_edition(cr)") {{ label('programplan.rdv_modal.create_cr.cancel') }}