.root
    .modal-body

        template(v-if="!is_facilitator_specific")
            ul.nav.nav-pills.nav-fill(role="tablist")
                li(:class="{'active': active_view == 'rdv_target_infos'}")
                    a#rdv_target_infos_pill.nav-item.nav-link.active(@click="set_active_view('rdv_target_infos')") {{ label('programplan.rdv_modal.pills.target_infos') }}
                li(:class="{'active': active_view == 'rdv_prep'}" v-if='has_prep')
                    a#rdv_prep_pill.nav-item.nav-link(@click="set_active_view('rdv_prep')") {{ label('programplan.rdv_modal.pills.prep') }}
                li(:class="{'active': active_view == 'rdv_cr'}")
                    a#rdv_cr_pill.nav-item.nav-link(@click="set_active_view('rdv_cr')") {{ label('programplan.rdv_modal.pills.cr') }}
                li(v-if="program_plan_shared_module.show_rdv_historic" :class="{'active': active_view == 'rdv_historic'}")
                    a#rdv_historic_pill.nav-item.nav-link(@click="set_active_view('rdv_historic')") {{ label('programplan.rdv_modal.pills.historic') }}

            .tab-content
                #rdv_target_infos(v-show="active_view == 'rdv_target_infos'")
                    Programplancomponentmodaltargetinfos(
                        :program_plan_shared_module='program_plan_shared_module'
                        :program_plan_controller='program_plan_controller'
                    )
                #rdv_prep(v-show="active_view == 'rdv_prep'")
                    Programplancomponentmodalprep(
                        :program_plan_shared_module='program_plan_shared_module'
                        :program_plan_controller='program_plan_controller'
                        :selected_rdv='selected_rdv')
                #rdv_cr(v-show="active_view == 'rdv_cr'")
                    Programplancomponentmodalcr(
                        :program_plan_shared_module='program_plan_shared_module'
                        :program_plan_controller='program_plan_controller'
                        :selected_rdv='selected_rdv')
                #rdv_historic(v-show="active_view == 'rdv_historic'")
                    Programplancomponentmodalhistoric(
                        :program_plan_shared_module='program_plan_shared_module'
                        :program_plan_controller='program_plan_controller'
                    )

        template(v-else)
            .admin_task_modal_content {{ label('programplan.rdv_modal.admin_task_modal_content') }}