@import 'skin-variables.scss';

#rdv_modal {

    .nav-pills>li{
        cursor:pointer;
        margin-bottom: 2px;
    }
    
    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
        color: #fff;
        background-color: $button_primary_bg_color;
    }
    .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
        border-top-color: $button_primary_bg_color;
    }
}