.AccessPolicyMySubsComponent {
    background: white !important;
    box-shadow: 1px 1px 5px #aaa;
    border-radius: 10px;
    padding: 2em;

    h3 {
        margin-top: 0;
        margin-bottom: 1em;
    }
}