.rootElt.ajax-cache-command-panel.hide-print(v-if="module_ajax_cache.actif")
    label {{t('client.ajax-cache-command-panel.disable.label')}}
        input(type="checkbox", v-model="module_ajax_cache.disableCache")