.filtre
    .col-md-6.filter-col
        v-select.v-select-multiple(
            :placeholder="t(filter.placeholder_select)",
            v-model="filters_values",
            multiple,
            :options="filter.options"
        )
            span(slot="no-options") -
            template(slot="option", slot-scope="option")
                .selected_filter_option(v-if="option.select_state == filter_state_selected", :disabled="option.disabled_state_selected")
                    i.fa.fa-object-group(aria-hidden='true')
                    span {{ option.label }}
                .selectable_filter_option(v-if="option.select_state == filter_state_selectable", :disabled="option.disabled_state_selectable")
                    i.fa.fa-object-group(aria-hidden='true')
                    span {{ option.label }}
                .unselectable_filter_option(v-if="option.select_state == filter_state_unselectable", :disabled="option.disabled_state_unselectable")
                    i.fa.fa-object-group(aria-hidden='true')
                    span {{ option.label }}
    .col-md-1
        button.selectall.action-button(@click="select_all")
            i.fa.fa-list(aria-hidden="true")
    .col-md-1
        button.deselectall.action-button(@click="deselect_all")
            i.fa.fa-trash(aria-hidden="true")