.cms_like_button_widget_component {

    .row {

        display: flex;
        justify-content: center;
    
        button {
            height: 60px;
            width: 60px;
    
            .fa-solid {
                font-weight: 300 !important;
                font-size: 25px;
            }
        }
        
        .col-md-3 {
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
        }
    }
}