.cms_like_button_widget_component {

    button {
        height: 80px;
        width: 80px;

        .fa-solid {
            font-weight: 300 !important;
            font-size: 30px;
        }
    }
    
    .col-md-3 {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
}