.ts_range_input
    template(v-if='is_segmentation_year')
        Datepicker(v-model="tsrange_start" :monday-first='true' :language="languages[language]" :placeholder="label('ts_range_input.placeholder.date_debut')"  :required="required" :disabled="disabled" :format="format_datepicker_year" :minimum-view="'year'" :maximum-view="'year'" class="form-control tsrange_start_input" @input="emitInput")
        Datepicker(v-model="tsrange_end" :monday-first='true' :language="languages[language]" :placeholder="label('ts_range_input.placeholder.date_fin')" :required="required" :disabled="disabled" :format="format_datepicker_year" :minimum-view="'year'" :maximum-view="'year'" class="form-control tsrange_end_input" @input="emitInput")
    template(v-if='is_segmentation_mois')
        Datepicker(v-model="tsrange_start" :monday-first='true' :language="languages[language]" :placeholder="label('ts_range_input.placeholder.date_debut')"  :required="required" :disabled="disabled" :format="format_datepicker_month" :minimum-view="'month'" :maximum-view="'month'" class="form-control tsrange_start_input" @input="emitInput")
        Datepicker(v-model="tsrange_end" :monday-first='true' :language="languages[language]" :placeholder="label('ts_range_input.placeholder.date_fin')" :required="required" :disabled="disabled" :format="format_datepicker_month" :minimum-view="'month'" :maximum-view="'month'" class="form-control tsrange_end_input" @input="emitInput")
    template(v-if='is_segmentation_day')
        Datepicker(v-model="tsrange_start" :monday-first='true' :language="languages[language]" :placeholder="label('ts_range_input.placeholder.date_debut')" :required="required" :disabled="disabled" :format="format_datepicker_day" class="form-control tsrange_start_input" @input="emitInput")
        Datepicker(v-model="tsrange_end" :monday-first='true' :language="languages[language]" :placeholder="label('ts_range_input.placeholder.date_fin')" :required="required" :disabled="disabled" :format="format_datepicker_day" class="form-control tsrange_end_input" @input="emitInput")
    template(v-if='is_segmentation_minute')
        .row
            .col-sm-6
                Datepicker(v-model="tsrange_start" :monday-first='true' :language="languages[language]" :placeholder="label('ts_range_input.placeholder.date_debut')" :required="required" :disabled="disabled" :format="format_datepicker_day" class="form-control tsrange_start_input" @input="emitInput")
            .col-sm-6
                input.form-control.max-width(v-model="tsrange_start_time", type="time", id="tsrange_start_time" :disabled="disabled")
        .row
            .col-sm-6
                Datepicker(v-model="tsrange_end" :monday-first='true' :language="languages[language]" :placeholder="label('ts_range_input.placeholder.date_fin')" :required="required" :disabled="disabled" :format="format_datepicker_day" class="form-control tsrange_end_input" @input="emitInput")
            .col-sm-6
                input.form-control.max-width(v-model="tsrange_end_time", type="time", id="tsrange_end_time" :disabled="disabled")