.selection-panel
    h3 Table : {{ selectedTable }}
    button.btn.btn-danger(@click="onRemoveSelectedTable") Retirer cette table
    hr
    h4(v-if='has_foreignKeyFieldsFROMSelectedTable') {{ selectedTable }} => X
    template(v-for="(fieldVO, fName) in foreignKeyFieldsFROMSelectedTable")
        label(:key="selectedTable + '_' + fName")
            input(
                type="checkbox"
                :checked="!discarded_field_paths[selectedTable]?.[fName]"
                @change="switch_discarded_field(selectedTable, fName)"
            )
            | {{ fieldVO.module_table_vo_type }}.{{ fName }} => {{ fieldVO.foreign_ref_vo_type }}
    h4(v-if='has_foreignKeyFieldsTOSelectedTable') X => {{ selectedTable }}
    template(v-for="(fieldVO, target_table_fName) in foreignKeyFieldsTOSelectedTable")
        label(:key="target_table_fName")
            input(
                type="checkbox"
                :checked="!discarded_field_paths[fieldVO.module_table_vo_type]?.[fieldVO.field_id]"
                @change="switch_discarded_field(fieldVO.module_table_vo_type, fieldVO.field_id)"
            )
            | {{ fieldVO.module_table_vo_type }}.{{ fieldVO.field_id }} => {{ fieldVO.foreign_ref_vo_type }}
