.year_filter_widget_component
    template
        Yearfilterinputcomponent(
            :years='years' 
            :selected_years='selected_years' 
            :can_select_all='can_select_all' 
            :is_all_years_selected='is_all_years_selected' 
            :is_vo_field_ref='is_vo_field_ref' 
            :custom_filter_name='custom_filter_name' 
            :input_label='vo_field_ref_label' 
            @onchange_selected_year='handle_selected_year_change' 
            @onchange_all_years_selected='handle_all_years_selected_change'
        )