.year_filter_widget_component {

    .label,
    .vo_field_ref_label,
    .custom_filter_name {
        font-size: 1.2em;
        margin-bottom: 0.4em;
        line-height: 1em;
        color: inherit;
        font-weight: inherit;
    }

    .years {
        text-align: center;

        .all_years {
            padding: 0.5em;
            background: white;
            margin: 0.2em;
            display: inline-block;
            cursor: pointer;
            transition: all 0.5s ease-out;

            &:hover,
            &.selected {
                background: #555;
                color: white;
            }
        }

        .year {
            padding: 0.5em;
            background: white;
            margin: 0.2em;
            display: inline-block;
            cursor: pointer;
            transition: all 0.5s ease-out;

            &:hover,
            &.selected {
                background: #555;
                color: white;
            }
        }
    }
}