.sidebarmenucomponent.position-sticky

    ul.nav.flex-column

        template(v-for="menuElement in menuElements")
            template(v-if='app_name && (!menuElement.hidden) && (menuElement.app_name.toLowerCase() == app_name.toLowerCase()) && ((!menuElement.access_policy_name) || access_by_name[menuElement.access_policy_name])')
                li.nav-item(:title='t(menuElement.translatable_title)')
                    //Composants récursif ???? : menu_element(:menu-element="menuElement", :lvl="1")
                    template(v-if='(!childrenElementsById[menuElement.id]) || (childrenElementsById[menuElement.id].length <= 0)')
                        template(v-if='menuElement.target && menuElement.target_is_routename')
                            router-link.nav-link(:to="{ name: menuElement.target, params: menuElement.target_route_params ? JSON.parse(menuElement.target_route_params) : undefined }")
                                font-awesome-icon(:icon="'fa-light ' + menuElement.fa_class")
                                span.nav-link-text {{t(menuElement.translatable_title)}}
                        template(v-else-if='menuElement.target && !menuElement.target_is_routename')
                            a.nav-link(:href='menuElement.target')
                                font-awesome-icon(:icon="'fa-light ' + menuElement.fa_class")
                                span.nav-link-text {{t(menuElement.translatable_title)}}
                    template(v-else)
                        a.nav-link.nav-link-collapse.collapsed(data-bs-toggle='collapse', :href="'#'+menuElement.name", :data-bs-target='menuElement.name', :id="'sidebarmenu_'+menuElement.name")
                            font-awesome-icon(:icon="'fa-light ' + menuElement.fa_class")
                            span.nav-link-text
                                | {{t(menuElement.translatable_title)}}
                        ul.nav-second-level.collapse(v-if='childrenElementsById[menuElement.id] && (childrenElementsById[menuElement.id].length > 0)', :id="menuElement.name")
                            li(v-for='child in childrenElementsById[menuElement.id]')
                                template(v-if='!child.hidden && (!child.access_policy_name || access_by_name[child.access_policy_name])')
                                    template(v-if='(!childrenElementsById[child.id]) || (childrenElementsById[child.id].length <= 0)')
                                        template(v-if='child.target && child.target_is_routename')
                                            router-link(:to="{ name: child.target, params: child.target_route_params ? JSON.parse(child.target_route_params) : undefined }")
                                                font-awesome-icon(:icon="'fa-light ' + child.fa_class")
                                                span.nav-link-text {{t(child.translatable_title)}}
                                        template(v-else-if="child.target && !child.target_is_routename")
                                            a(:href='child.target')
                                                font-awesome-icon(:icon="'fa-light ' + child.fa_class")
                                                span.nav-link-text {{t(child.translatable_title)}}
                                    template(v-else)
                                        a.nav-link-collapse.collapsed(data-bs-toggle='collapse', :href="'#'+child.name", :data-bs-target="child.name", :id="'sidebarmenu_2_'+child.name")
                                            font-awesome-icon(:icon="'fa-light ' + child.fa_class")
                                            span.nav-link-text
                                                | {{t(child.translatable_title)}}
                                        ul.sidenav-third-level.collapse(v-if='childrenElementsById[child.id] && (childrenElementsById[child.id].length > 0)', :id="child.name")
                                            li(v-for='child2 in childrenElementsById[child.id]')
                                                template(v-if='!child2.hidden && (!child2.access_policy_name || access_by_name[child2.access_policy_name])')
                                                    template(v-if='(!childrenElementsById[child2.id]) || (childrenElementsById[child2.id].length <= 0)')
                                                        template(v-if="child2.target && child2.target_is_routename")
                                                            router-link(:to="{ name: child2.target, params: child2.target_route_params ? JSON.parse(child2.target_route_params) : undefined }")
                                                                font-awesome-icon(:icon="'fa-light ' + child2.fa_class")
                                                                span.nav-link-text {{t(child2.translatable_title)}}
                                                        template(v-else-if="child2.target && !child2.target_is_routename")
                                                            a(:href='child2.target')
                                                                font-awesome-icon(:icon="'fa-light ' + child2.fa_class")
                                                                span.nav-link-text {{t(child2.translatable_title)}}
                                                    template(v-else)
                                                        a.nav-link-collapse.collapsed(:href="'#'+child2.name")
                                                            font-awesome-icon(:icon="'fa-light ' + child2.fa_class")
                                                            span.nav-link-text
                                                                | {{t(child2.translatable_title)}}