.DashboardViewportConfComponent
    .row
        .col-md-4 
            .db_viewport_conf
                DashboardAllViewportsConfComponent
                DashboardSelectedViewportConfComponent
        .col-md-8(v-if='get_selected_viewport')
            .db_previsualization_wrapper(@click='onClickPrevisualization')
                DashboardViewerComponent(
                    :dashboard_id='dashboard.id'
                    :viewport_id='get_selected_viewport.id'
                )
                .edit_overlay
                    i.fa-solid.fa-pen-to-square
