include ../../../../../views/mixins/loading.pug

.show_favorites_filters_widget_component
    button.btn-primary(@click="handle_validate") 
        i.fa-solid.fa-spin.fa-spinner.mr-2(v-if="start_update")
        span {{ label('dashboard_viewer.block_widgets_updates') }}
