.selection-panel
    h3 Lien
    label
        input(
            type="checkbox"
            :checked="isHidden"
            @change="onSwitchHidden()"
        )
        | {{ selectedLink.from}} => {{ selectedLink.to }}

