v-client-table(
        :data="datatable_data",
        :columns="datatable_columns",
        :options="datatable_options"
    )

    div(slot="filter____multiselect_column__")
        input.form-control(type="checkbox" v-model="allselected_chck" @click.prevent="selectAll()")
    
    div(slot="__multiselect_column__" slot-scope="props")
        input.form-control(type="checkbox" v-model="selected_datas[props.row.id]")

    div(slot="__actions_column__" slot-scope="props")
        .btn-group
            a.btn.btn-outline-primary(role="button" href="#updateData" data-toggle="modal" @click="selectVO(props.row.id)")
                i.fa.fa-pencil(data-toggle="tooltip" title="Edit")
            a.btn.btn-outline-danger(role="button" href="#deleteData" data-toggle="modal" @click="selectVO(props.row.id)")
                i.fa.fa-trash(data-toggle="tooltip" title="Delete")
