@import "skin-variables.scss";

ul.multi-input {
    padding: 0 0 0 15px;
    margin: 0;
}

.many-router-links {
    margin: 1px;
}

.VueTables__table {
    overflow: inherit !important;
}

.multiselect__content-wrapper {
    min-width: 100%;
}

@media print
{
    .d-print-none, .d-print-none *,
    .VueTables__sort-icon, .VueTables__sort-icon *
    {
        display: none !important;
    }
}
