@import "skin-variables.scss";

ul.multi-input {
    padding: 0 0 0 15px;
    margin: 0;
}

.many-router-links {
    margin: 1px;
}

@media print
{    
    .d-print-none, .d-print-none *
    {
        display: none !important;
    }
}
