.var_ds_controller.var_ds_ref {
    border-radius: 4px;
    background-color: rgb(255, 179, 149);
    color: white;
    cursor: pointer;
    padding: 2px 1em;
    display: inline-block;
    margin: 2px;
    font-weight: bold;
}