.droppable_vos {

    padding: 1em;
    box-shadow: 1px 1px 1px grey;
    background: #F5F5F5;
    max-height: 720px;

    .filters {
        padding-bottom: 0.4em;
        border-bottom: solid 1px lightgrey;

        input {
            
            border: none;
            padding: 0.5em;
            width: 100%;
        }
    }

    .droppable_vos_wrapper>.header>.title {
        font-size: 1.3em;
        margin-bottom: 0.5em;
    }

    .api_type_ids {
        max-height: 430px;
        overflow-y: auto;
        margin-top: 0.3em;

        .api_type_id_type {
            vertical-align: middle;
            float: left;
            margin-right: 0.2em;
        }

        .api_type_id {

            cursor: pointer;

            .header {

                text-transform: uppercase;
                margin-top: 0.3em;
            }
        }
    }
}