.field_value_filter_widget_component
    template(v-if='is_type_string')
        Fieldvaluefilterstringwidgetcomponent(
            :page_widget="page_widget"
            :dashboard="dashboard"
            :dashboard_page="dashboard_page"
        )