.field_value_filter_widget_component(:style='widget_options ? {background: widget_options.bg_color ? widget_options.bg_color : "inherit", color: widget_options.fg_color_text ? widget_options.fg_color_text : "inherit"} : {}')
    template(v-if='is_type_string')
        Fieldvaluefilterstringwidgetcomponent(
            :page_widget="page_widget"
            :all_page_widget="all_page_widget"
            :dashboard="dashboard"
            :dashboard_page="dashboard_page"
        )

    template(v-else-if='is_type_ref_field')
        Fieldvaluefilterreffieldwidgetcomponent(
            :page_widget="page_widget"
            :all_page_widget="all_page_widget"
            :dashboard="dashboard"
            :dashboard_page="dashboard_page"
        )

    template(v-else-if='is_type_number')
        Fieldvaluefilternumberwidgetcomponent(
            :page_widget="page_widget"
            :all_page_widget="all_page_widget"
            :dashboard="dashboard"
            :dashboard_page="dashboard_page"
        )

    template(v-else-if='is_type_boolean')
        Fieldvaluefilterbooleanwidgetcomponent(
            :page_widget="page_widget"
            :all_page_widget="all_page_widget"
            :dashboard="dashboard"
            :dashboard_page="dashboard_page"
        )

    template(v-else-if='is_type_enum')
        Fieldvaluefilterenumwidgetcomponent(
            :page_widget="page_widget"
            :all_page_widget="all_page_widget"
            :dashboard="dashboard"
            :dashboard_page="dashboard_page"
        )

    template(v-else-if='is_type_date')
        Fieldvaluefilterdatewidgetcomponent(
            :page_widget="page_widget"
            :all_page_widget="all_page_widget"
            :dashboard="dashboard"
            :dashboard_page="dashboard_page"
        )
    