@import 'skin-variables.scss';

.vars_manager {

    .icons {
        position: fixed;
        left: 10px;
        background: white;
        z-index: 5000;
        bottom: 10px;
        padding: 2px 3px 2px 3px;
        border-radius: 20px;
        box-shadow: -1px 3px 10px -3px black;
        font-size: x-large;

        i.fa-solid,
        i.fa-duotone,
        i.fa {
            margin-right: 0 !important;

            &.active {
                color: royalblue;
            }
        }
    }

    i {
        cursor: pointer;
    }

    .desc_window {
        position: fixed;
        top: 10px;
        left: 10px;
        min-width: 580px;
        min-height: 50px;
        background: white;
        border-radius: 10px;
        box-shadow: 1px 1px 10px black;
        z-index: 100000;
        max-height: 850px;
        overflow-y: scroll;
    }
}

#var_desc_dragsize {

    background: rgba(255, 255, 255, 1);
    border: solid 1px #CCC;
    z-index: 10000;
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: -1px 1px 3px #888;

    .var_desc_dragsize_content {
        padding-top: 2.8em;
    }

    .no-padding {
        padding: 0;
    }

    #var_desc_dragsize_handle {
        background: $main_menu_bg_color;
        color: $main_menu_text_color;

        position: fixed;
        z-index: 100000;
        top: auto;
        left: auto;
        width: 429px;
        opacity: .95;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        i {
            cursor: pointer;
            font-size: 1.3em;
            padding: 12px;
            padding-bottom: 6px;
        }

        i.fa-undo.disabled,
        i.fa-repeat.disabled {
            cursor: not-allowed;
            opacity: 0.3;
        }
    }

    &.opened #var_desc_dragsize_handle {
        border-bottom-left-radius: 0px;
    }
}