.vars_manager.hidden-print(:class="{'desc_mode': isDescMode}")

    .icons
        template(v-if='isDescMode')
            i.fa.fa-2x.fa-search-plus.fa-fw(aria-hidden="true" v-if='!isDescOpened' @click='setDescOpened(!isDescOpened)')
            i.fa.fa-2x.fa-search-minus.fa-fw(aria-hidden="true" v-if='isDescOpened' @click='setDescOpened(!isDescOpened)')
            
            i.fa.fa-2x.fa-list-alt.fa-fw(aria-hidden="true" @click='setDescRegistrationsOpened(!isDescRegistrationsOpened)')

            i.fa.fa-2x.fa-clock-o.fa-fw(aria-hidden="true" @click='setDescFuncStatsOpened(!isDescFuncStatsOpened)')
            
                    
        i.fa.fa-check-circle.fa-fw(aria-hidden="true" :class="{'fa-2x': isDescMode}" @click='switchDescMode')

    .desc_window(v-show='isDescMode && isDescOpened')
        template(v-show='!!getDescSelectedVarParam')
            var-desc(:var_param='getDescSelectedVarParam')

    .desc_window(v-show='isDescMode && isDescRegistrationsOpened')
        var-desc-registrations

    //- .desc_window(v-if='isDescMode && isDescFuncStatsOpened')
    //-     perfmon-funcstats