.vars_manager.hidden-print(v-if="has_access_desc_mode" :class="{'desc_mode': isDescMode}")

    .icons
        i.fa.fa-check-circle.fa-fw(aria-hidden="true" :class="{'active': isDescMode}" @click='switchDescMode')
        i.fa.fa-question-circle.fa-fw(aria-hidden="true" :class="{'active': is_show_public_tooltip}" @click='switch_public_explaination')

    template(v-if='isDescMode')
        Draggablewindowcomponent(
            :initial_width="448"
            :initial_height="840"
            :minh="115"
            :minw="448"
            :initial_x="70"
            :initial_y="56"
            :initial_opened="true"
            :opened_width="448"
            :opened_height="840"
            :closed_width="448"
            :closed_height="37"
            :unusable_height="37"
            :opened_minh="115"
            :opened_minw="448"
            :closed_minh="37"
            :closed_minw="448"
        )
            .slot_header(slot='icons')
                i.fa.fa-repeat.fa-fw.pull-right(aria-hidden="true" :class="{'disabled':!can_redo}" @click='redo')
                i.fa.fa-undo.fa-fw.pull-right(aria-hidden="true" :class="{'disabled':!can_undo}" @click='undo')

            var-desc(:var_param='getDescSelectedVarParam')

        Draggablewindowcomponent(
            :initial_width="448"
            :initial_height="840"
            :minh="115"
            :minw="448"
            :initial_x="70 + 448 + 50"
            :initial_y="56"
            :initial_opened="true"
            :opened_width="448"
            :opened_height="840"
            :closed_width="448"
            :closed_height="37"
            :unusable_height="37"
            :opened_minh="115"
            :opened_minw="448"
            :closed_minh="37"
            :closed_minw="448"
        )
            Varsdatasexplorercomponent