.month_filter_widget_options_button_setter_component {
    padding: 0.5em;

    .widget_title {
        font-size: 1.2em;
        margin-bottom: 0.4em;
        line-height: 1em;

        .custom_filter_name,
        .label {
            display: inline;
        }
    }

    .toggle_input_group {
        .input_wrapper,
        .input_label {
            margin-right: 10px;
            display: inline;
        }
    }

    .month_filter_input_wrapper {
        background: rgb(245, 245, 245);
        padding: 0.5em;
    }
}
