.var_desc
    template(v-if='var_param')
        .var_desc_header
            .var_controller_label {{ label('var_desc.var_controller_label') }}
                Vardesccontrollercomponent(:var_id='var_id')

        .var_desc_body
            p.var_controller_desc.card-text(v-if='var_description && (var_description.length > 1)') {{ var_description }}

            .var_data_label {{ label('var_desc.var_data_label') }}
                var-data(:var_param='var_param')
                i.update_var_data.fa.fa-refresh(aria-hidden="true" @click='update_var_data')
                i.update_var_data.fa.fa-sitemap(aria-hidden="true" @click='update_var_data_and_parents')
                i.update_var_data.fa.fa-filter(aria-hidden="true" @click='filter_on_this_param')

            .var_data_last_update(v-if='var_data_has_valid_value && show_last_update') {{ label('var_desc.var_data_last_update', { last_update: var_data_last_update }) }}
            .var_data_is_import(v-if='var_data_has_valid_value && show_imports')
                .var_data_is_import_label {{ label('var_desc.var_data_is_import') }}
                toggle-button(
                    :value="var_data_is_import" 
                    :sync="true"
                    :width="60"
                    :labels="{checked: label('crud.field.boolean.true'), unchecked: label('crud.field.boolean.false')}"
                    :disabled="true")
            
            Vardescparamfieldscomponent(:var_param='var_param')
            Vardescexplaincomponent(:var_param='var_param' v-if='show_deps')