.var_desc
    .card
        .card-header {{ var_name }}
            i.fa.fa-eye-slash.fa-fw(aria-hidden="true" v-if='!is_selected_var' @click='select_var')
            i.fa.fa-eye.fa-fw(aria-hidden="true" v-if='is_selected_var' @click='un_select_var')
        .card-body
            h5.card-title {{ label('var.desc_mode.var_description') }}
            p.card-text {{ var_description }}
            h5.card-title {{ label('var.desc_mode.var_params') }}
            p.card-text {{ var_params_desc }}
            h5.card-title {{ label('var.desc_mode.var_markers') }}
            //- p.card-text {{ var_markers_json }}
            ul
                li(v-for='(marker_name, marker_value) in var_markers')
                    b {{ marker_value + ' : ' }}
                    | {{ marker_name }}
            h5.card-title {{ label('var.desc_mode.var_data') }}
            var-data(:var_param='var_param')
    
            .row
                .col-md-12
                    svg(width=400 height=300)

