.var_desc {

    .var_desc_header {
        background: #2c3e50;
        text-align: right;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
        padding: 3px 0px;
    }

    .var_desc_body {
        border: solid 1px #2c3e50;
        padding: 1em;
    }

    .var_data_ref {
        display: inline-block;
        padding: 2px 1em;
        margin: 2px;
    }

    padding: 10px;
    max-width: 32em;
    word-break: break-all;

    .var_controller_ref {
        border-radius: 4px;
        background-color: lightsteelblue;
        color: white;
        cursor: pointer;
        padding: 2px 1em;
        display: inline-block;
        margin: 2px;
        font-weight: bold;
    }

    .var_controller_desc_wrapper {
        padding: 15px;
        font-size: 1em;
        line-height: 1.3;
        color: #fff;
        background-color: #2c3e50;
        -webkit-border-radius: 0px 0px 6px 6px;
        -moz-border-radius: 0px 0px 6px 6px;
        border-radius: 0px 0px 6px 6px;
        margin-bottom: 10px;

        .var_controller_desc {

            white-space: pre-wrap;
            color: whitesmoke;
            background: none;

            input,
            textarea {
                color: black;
                width: 100%;
            }

            margin-bottom: .6em;
            word-break: break-word;
        }
    }

    .var_param_field_title {
        color: #999;
        margin: 2px;
        font-size: smaller;
        margin-top: .3em;
        margin-bottom: -3px;
    }

    .var_data_is_import,
    .var_desc_explaination_label,
    .var_controller_label,
    .var_data_label {
        color: #999;
        margin: 2px;
        font-size: smaller;
        margin-top: .3em;
        margin-right: 5px;
        display: inline-block;
    }

    .var_data_last_update {
        color: #999;
        margin: 2px;
        font-size: smaller;
        margin-top: .3em;
    }

    .var-data--intersector-wrapper {
        display: inline-block;
    }

    i.update_var_data {
        cursor: pointer;
        margin: 0px 2px;
        padding: 5px 0px 4px 5px;
        background: #aaa;
        border-radius: 4px;
        color: white;
    }
}