.tstz_input
    .row
        div(:class="(segmentation_time ? 'col-sm-6' : 'col-sm-12')")
            Datepicker.form-control(v-model="date_value" :clear-button="!required && !disabled" :monday-first='true' :language="languages[language]" :placeholder="label('tstz_input.placeholder.date_debut')"  :required="required" :disabled="disabled" :format="format_datepicker" :minimum-view="datepicker_view" maximum-view="year" @input="emitInput")

        template(v-if="segmentation_time")
            .col-sm-6
                input.form-control(type="time" v-model="time_value" :required="required" :disabled="disabled" :id="field.datatable_field_uid + '_time'" @input="emitInput")