.password-validation-component(v-if='show_validation')
    .password-strength-bar
        .strength-meter(:class='strength_class')
            .strength-fill(:style='{width: strength_score + "%"}')
        .strength-text {{ strength_text }}
    
    .password-criteria-list
        .criterion(v-for='criterion in criteria' :key='criterion.key' :class='{valid: criterion.isValid, invalid: !criterion.isValid}')
            .criterion-icon
                i.fa.fa-check(v-if='criterion.isValid')
                i.fa.fa-times(v-else)
            .criterion-text {{ criterion.label }}
