// SelectionPanel.pug
.selection-panel
    template(v-if="!hasSelectedCall")
        h3  {{ currentItem ? currentItem.name : 'Aucun' }}
        hr
        .buttons
            .edit_button
                button.btn.btn-primary(@click="onEditSelectItem") Modifier 
            .remove_button
                button.btn.btn-danger(@click="onRemoveSelectedItem") Retirer
        hr
    template(v-else)
        .function_call_name
            h3 {{ 'Rejouer :' }}
            i(@click='replay_from_id(currentItem.id)').fa-duotone.fa-play-circle

        .scrollable-content
            .label Paramètres
            vue-json-pretty.function_call_function_call_parameters_initial(
                :data='try_parse_json(currentItem.function_call_parameters_initial)', 
                :deep='1'
                :editable="true"
            )
            input(type="text" v-model="parameters")
            
            .label Résultat
            vue-json-pretty.function_call_result(
                :data='try_parse_json(currentItem.result)', 
                :deep='1'
            )

        .buttons
            .edit_button
                button.btn.btn-primary(@click="onEditSelectItem") Modifier 
            .remove_button
                button.btn.btn-danger(@click="onRemoveSelectedItem") Retirer
        hr

