// SelectionPanel.pug
.selection-panel
    h3 Sélection : {{ currentItem ? currentItem.name : 'Aucun' }}

    button(@click="onRemoveSelectedItem") Supprimer l'Item

    if currentItem
        p run_type = {{ currentItem.run_type }}
