.selection-panel {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 1em;

    h3 {
        margin-top: 0;
    }

    button {
        margin: 0.5em 0;
        background-color: #f44336;
        color: #fff;
        border: none;
        padding: 0.5em 1em;
        cursor: pointer;
    }

    ul {
        list-style: none;
        padding-left: 0;

        li {
            margin: 0.2em 0;
        }
    }
}