// SelectionPanel.pug
.selection-panel
    h3  {{ currentItem ? currentItem.name : 'Aucun' }}
    hr
    .buttons
        .edit_button
            button.btn.btn-primary(@click="onEditSelectItem") Modifier 
        .remove_button
            button.btn.btn-danger(@click="onRemoveSelectedItem") Retirer
    hr

