// SelectionPanel.pug
.selection-panel
    h3 Sélection : {{ currentItem ? currentItem.name : 'Aucun' }}
    button.btn.btn-danger(@click="onRemoveSelectedItem") Retirer
    hr

    h4(v-if='currentItem') {{ currentItem.parent_run_id ? 'Run' : 'Sélection' }}
