.thread_message_input_realtime
    button.btn.btn-primary(
        @mousedown="startVAD",
        @mouseup="stop_realtime",
        @touchstart.prevent="startVAD",
        @touchend.prevent="stop_realtime"
        v-tooltip='label("oselia_thread_widget_component.thread_message_input_voice.tooltip")'
    )
        template(v-if='realtime_is_recording')
            .icon 
                i.fa-solid.fa-microphone.fa-beat.text-danger
            .text {{ label('oselia_thread_widget_component.thread_message_input_voice.listening') }}

        template(v-else-if='realtime_is_sending')
            .icon 
                i.fa-duotone.fa-spinner-third.fa-spin
            .text {{ label('oselia_thread_widget_component.thread_message_input_voice.transcribing') }}

        template(v-else)
            .icon 
                i.fa-duotone.fa-solid.fa-microphone
            .text {{ label('oselia_thread_widget_component.thread_message_input_voice.talk') }}