include ../../../../../views/mixins/loading.pug

.commandes
    h1 {{ label('client.commandes') }}
    +loading()
        table(v-if="commandes && commandes.length > 0")
            thead
                tr
                    th {{ label('client.commandes.commande.id') }}
                    th {{ label('client.commandes.commande.date') }}
                    th {{ label('client.commandes.commande.statut') }}
                    th 
            tbody
                template(v-for="commande in commandes")
                    ligne-commande(:commande="commande")

        div(v-else) {{ label('client.commandes.no') }}