tr.checklistitem
    td.item_name
        .item_name_wrapper(@click='openmodal' v-tooltip.top='item_description')
            .item_name {{ checklist_item.name }}
            .item_explaination {{ checklist_item.explaination }}

    td.step(v-for='checkpoint in ordered_checkpoints')
        .step_wrapper(:class='{disabled:state_steps[checkpoint.shortname] == STATE_DISABLED}' @click='openmodal(checkpoint.shortname, checkpoint.id)' v-tooltip.top='checkpoint_descriptions[checkpoint.id]')
            template(v-if='state_steps[checkpoint.shortname] == STATE_DISABLED')
                i.text-muted.fa.fa-check-circle.fa-fw(aria-hidden="true")
            template(v-if='state_steps[checkpoint.shortname] == STATE_TODO')
                i.text-default.fa.fa-check-circle.fa-fw(aria-hidden="true")
            template(v-if='state_steps[checkpoint.shortname] == STATE_ERROR')
                i.text-danger.fa.fa-check-circle.fa-fw(aria-hidden="true")
            template(v-if='state_steps[checkpoint.shortname] == STATE_WARN')
                i.text-warning.fa.fa-check-circle.fa-fw(aria-hidden="true")
            template(v-if='state_steps[checkpoint.shortname] == STATE_OK')
                i.text-success.fa.fa-check-circle.fa-fw(aria-hidden="true")
