.save_favorites_filters_widget_icon
    template(v-if='!widget')
    template(v-else)
        .fa-stack.fa-lg.fa-fw(aria-hidden='true')
            i.fa-solid.fa-filter.fa-stack-2x
            i.fa-solid.fa-save.fa-stack-1x