.alert_view_component.row
    .col-md-12
        .type_icon_wrapper
            template(v-if='is_error')
                i.fa.fa-exclamation-triangle.fa-fw.alert_component_error(aria-hidden="true")
            template(v-if='is_warn')
                i.fa.fa-exclamation-triangle.fa-fw.alert_component_warn(aria-hidden="true")
            template(v-if='is_info')
                i.fa.fa-exclamation-circle.fa-fw.alert_component_info(aria-hidden="true")
            template(v-if='is_debug')
                i.fa.fa-exclamation-circle.fa-fw.alert_component_debug(aria-hidden="true")

        template(v-if="show_alert_date")
            .alert_date {{ date_alert }}

        template(v-if="show_alert_content")
            .alert_content {{ label(alert.translatable_code, alert.translation_params) }}