.alert_component_content
    template(v-if='is_error')
        i.fa-solid.fa-exclamation-triangle.fa-fw.alert_component_error(aria-hidden="true")
    template(v-if='is_warn')
        i.fa-solid.fa-exclamation-triangle.fa-fw.alert_component_warn(aria-hidden="true")
    template(v-if='is_info')
        i.fa-solid.fa-exclamation-circle.fa-fw.alert_component_info(aria-hidden="true")
    template(v-if='is_debug')
        i.fa-solid.fa-exclamation-circle.fa-fw.alert_component_debug(aria-hidden="true")