.alert_component
    template(v-if="!show_popover")
        include ./AlertComponentContent.pug

    template(v-else)
        VTooltip(:id='v_pop_id' :distance='offset' :placement='tooltip_direction' :triggers="tooltip_triggers" :autoHide="true" )
            include ./AlertComponentContent.pug

            template(slot="popper")
                template(v-for='alert in alerts')
                    Alertviewcomponent(:alert='alert', :show_alert_icon="alert.show_alert_icon", :show_alert_date="show_alert_date", :show_alert_content="show_alert_content")