.alert_component
    template(v-if="!show_popover")
        include ./AlertComponentContent.pug

    template(v-else)
        v-popover(:offset='offset' :placement='tooltip_placement')
            include ./AlertComponentContent.pug

            template(slot="popover")
                template(v-for='alert in alerts')
                    Alertviewcomponent(:alert='alert', :show_alert_date="show_alert_date", :show_alert_content="show_alert_content")