@import '../../../scss/base/skin.scss';

.alert_view_component {

    padding-top: 0.3rem;
    padding-bottom: 0.3rem;

    .type_icon_wrapper {

        i.fa {
            float: left;
            font-size: 1.2rem;
            margin: 0px;
            margin-right: 0.8rem;
        }

        .alert_component_error {
            color: $danger_color;
        }

        .alert_component_warn {
            color: $button_warning_color;
        }

        .alert_component_info {
            color: royalblue;
        }

        .alert_component_debug {
            color: grey;
        }
    }

    .alert_content {
        background: white;
        padding: 0.3rem 1rem;
        border-radius: 3px;
        font-size: 1.2rem;
        text-align: justify;
    }

    .alert_date {
        font-size: x-small;
        color: #555;
    }
}