.alerts_list_content(v-if="!!has_alert")
    span.alerts_list_content_title(v-if="!!has_title") {{ label(title_translatable_code, title_translation_params) }}
    template(v-for='alert in alerts')
        Alertviewcomponent(v-if='!alert.not_in_list' :alert='alert', :show_alert_date="show_alert_date", :show_alert_content="true", :show_alert_icon="show_alert_icon")
