.root_elt
    .session_share(v-if="!!url")
        .row.qr_code_holder(v-show="!hidden")
            .col-md-12
                .center
                    canvas(id="session_share_qr_code")

        .row.send_email(v-show="!hidden")
            .col-md-12
                input(type="text" v-model="email" :placeholder="label('session_share.email')")
                button.btn.btn-primary.btn-flat(@click="send_mail")
                    i.fa.fa-envelope.fa-fw.btn_icon(aria-hidden="true")

        .row.send_sms(v-show="!hidden")
            .col-md-12
                input(type="text" v-model="phone" :placeholder="label('session_share.phone')")
                button.btn.btn-primary.btn-flat(@click="send_sms")
                    i.fa.fa-mobile.fa-fw.btn_icon(aria-hidden="true")

        .row.raw_url(v-show="!hidden")
            .col-md-12 
                div {{ url }}

        template(v-if="hidden")
            .row.open_show
                .col-md-12 
                    button.btn.btn-primary.btn-flat(@click="open_show")
                        i.fa.fa-qrcode.fa-fw.btn_icon(aria-hidden="true")
                        | {{ label('session_share.open_show') }}
