.root_elt
    .session_share(v-if="!!session_share_url")
        .row.qr_code_holder(v-show="!hidden")
            .col-sm-12
                .center
                    canvas(id="session_share_qr_code")

        .row.send_email(v-show="(!hidden) && can_use_navigator_share")
            .col-sm-12
                button.btn.btn-primary.btn-flat(@click="navigator_share")
                    i.fa.fa-share-alt.fa-fw.btn_icon(aria-hidden="true")
                    | {{ label('session_share.navigator_share') }}
                
        .row.send_email(v-show="!hidden")
            .col-sm-12
                form(v-on:submit.prevent="send_mail")
                    input(type="text" v-model="email" :placeholder="label('session_share.email')")
                    button.btn.btn-primary.btn-flat(type="submit")
                        i.fa.fa-envelope.fa-fw.btn_icon(aria-hidden="true")

        .row.send_sms(v-show="!hidden")
            .col-sm-12
                form(v-on:submit.prevent="send_sms")
                    input(type="tel" name="phone" v-model="phone" :placeholder="label('session_share.phone')")
                    button.btn.btn-primary.btn-flat(type="submit")
                        i.fa.fa-phone.fa-fw.btn_icon(aria-hidden="true")

        .row.raw_url(v-show="!hidden")
            .col-sm-12 
                a(:href="session_share_url" target="_blank" id="session_share_url") {{ session_share_url }}
        .row.copy_url(v-show="!hidden")
            .col-sm-12 
                button.btn.btn-primary.btn-flat(@click="docopy")
                    i.fa.fa-clipboard.fa-fw.btn_icon(aria-hidden="true")
                    | {{ label('session_share.copy_url') }}

        template(v-if="hidden")
            .row.open_show
                .col-sm-12 
                    button.btn.btn-primary.btn-flat(@click="open_show")
                        i.fa.fa-qrcode.fa-fw.btn_icon(aria-hidden="true")
                        | {{ label('session_share.open_show') }}

        template(v-if="!hidden")
            .row.delete_session
                .col-sm-12 
                    button.btn.btn-danger.btn-flat(@click="delete_session")
                        i.fa.fa-trash.fa-fw.btn_icon(aria-hidden="true")
                        | {{ label('session_share.delete_session') }}