.document_handler_component
    .tag-groups(v-if='hasMoreThanOneTag')
        template(v-for='dtg in dtgs_by_weight')
            template(v-if='hasMoreThanOneGroup')
                .tag-group(v-tooltip.top='dt.description') {{ dtg.name }}
            .tags
                button.tag.btn(@click='unfilter' :class="{'is-checked': !filter_tag_id}") {{ label('document_handler.tags.tous') }}
                template(v-for='dt in dts_by_weight')
                    button.tag.btn(@click='filter_tag(dt)' v-tooltip.top='dt.description' :class="{'is-checked':dt.id == filter_tag_id}") {{ dt.name }}

    template(v-if='loaded')
        template(v-if="(list?.length > 0)")
            isotope.documents_wrapper(ref="isotope" :options='options' :list="list")
                Documentcomponent(
                    v-for="d in list"
                    :document='d'
                    :key='d.id'
                )

        template(v-else)
            h2.text-center {{ label('document_handler_component.no_document') }}