.login-page
    .login-box
        .login-box-body
            .login-logo(v-if='logo_url')
            h1.text-center(v-if='!logo_url') {{ label('login.title') }}
            h2.text-center.sub_title {{ label('login.sub_title') }}
            p.login-box-msg {{ label('login.msg') }}
            p.server-answer(v-if='message') {{ message }}

            form(v-on:submit.prevent="login")
                .form-group.has-feedback
                    input.form-control(type='text', v-model='email', :placeholder='label("login.email_placeholder")')
                    i.fa.fa-id-card.pull-right.fa-fw(aria-hidden="true")
                .form-group.has-feedback
                    input.form-control(:type="show_password ? 'text' : 'password'", v-model='password' :placeholder='label("login.password_placeholder")')
                    i.fa.fa-eye.pull-right.fa-fw.c-p(v-if="!show_password" @click="set_show_password(true)")
                    i.fa.fa-eye-slash.pull-right.fa-fw.c-p(v-if="show_password" @click="set_show_password(false)")
                    //- i.fa.fa-lock.pull-right.fa-fw(aria-hidden="true")
                .center
                    button.btn.btn-primary.btn-block.btn-flat(type="submit") {{ label('login.signIn') }}
            .mt-2.actions
                template(v-if="signin_allowed")
                    a(@click="signin_action" href="#" target="_blank") {{ label('signin.title') }}

                a(@click="recover_action" href="#" target="_blank") {{ label('login.recoverlink') }}

            .mt-4.text-center.infos_cgu
                template(v-if="pdf_info")
                    a.btn.btn-primary.infos(:href="pdf_info" target="_blank")
                        i.fa.fa-info
                        span {{ label('signin.informations') }}

                template(v-if="pdf_cgu")
                    a.btn.btn-primary.cgu(:href="pdf_cgu" target="_blank") {{ label('signin.cgu') }}

    Nfcconnectlogincomponent()
    Sessionsharecomponent()