.login-page
    .login-box
        .login-box-body
            .login-logo(v-if='logo_url')
            h1.text-center(v-if='!logo_url') {{ label('login.title') }}
            h2.text-center {{ label('login.sub_title') }}
            p.login-box-msg {{ label('login.msg') }}
            p.server-answer(v-if='message') {{ message }}

            form(v-on:submit.prevent="login")
                .form-group.has-feedback
                    input.form-control(type='text', v-model='email', :placeholder='label("login.email_placeholder")')
                    i.fa.fa-id-card.pull-right.fa-fw(aria-hidden="true")
                .form-group.has-feedback
                    input.form-control(type='password', v-model='password' :placeholder='label("login.password_placeholder")')
                    i.fa.fa-lock.pull-right.fa-fw(aria-hidden="true")
                .center
                    button.btn.btn-primary.btn-block.btn-flat(type="submit") {{ label('login.signIn') }}
            router-link(v-if="signin_allowed" :to="{ name: 'signin' }" ) {{ label('signin.title') }}
            router-link(:to="{ name: 'recover' }") {{ label('login.recoverlink') }}

    Nfcconnectlogincomponent()
    Sessionsharecomponent()