
.rootElt.theme
    .description(v-if="theme.description", v-html="theme.description")
    .prct_avancement
        .barre-total
        .barre(:style="style_barre_avancement")
        .indicateur.text-center
            var-data(
                :var_param="prct_atteinte_seuil_theme_param",
                :filter='const_filters.percent.read',
                :filter_additional_params='[]',
                :var_value_callback="prct_atteinte_seuil_theme_value_callback",
            )
    template(v-if="ordered_modules && ordered_modules.length > 0 && is_ready")
        .modules
            template(v-for="anim_module in ordered_modules")
                .row.module
                    .col-md-12
                        .text-left.module_infos
                            .documentation.main(:class="{no_doc: !document_by_module_id[anim_module.id]}")
                                template(v-if="document_by_module_id[anim_module.id]")
                                    a(:href="document_by_module_id[anim_module.id].document_url", target="_blank")
                                        i.fa.fa-book

                            .theme_container(@click="go_to_route_module(anim_module)")
                                .prct_avancement_module(:class="{success: (prct_atteinte_seuil_module[anim_module.id] == 1), warning: (prct_atteinte_seuil_module[anim_module.id] == 0), en_cours: um_by_module_id[anim_module.id] && !um_by_module_id[anim_module.id].end_date}")
                                .module_name
                                    span {{ anim_module.name }}
                                    template(v-if="um_by_module_id[anim_module.id] && !um_by_module_id[anim_module.id].end_date")
                                        span.en_cours_message {{ label('animation.module.en_cours') }}
