.var_widget_component {

    .var_data {
        text-align: center;
        font-size: 3em;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .var_label {
        text-align: center;
        color: #888;
        font-size: smaller;
    }
}