.perf_report_graph_widget_component
    #tooltip(style="position: absolute; visibility: hidden; background: lightgray; padding: 5px; border-radius: 5px; font-size: 12px;")
    .d3_perf_report_graph_widget_graph(ref="d3_perf_report_graph_widget_graph")