.dashboard_builder_board .grid_item_wrapper .widget_component.cms_bloc_text_widget_component {
    padding: 0 10px;

    .ql-editor {
        padding: 0;
        text-align: justify;
        height: auto;
    }
}