.var_desc_explain

    template(v-if='var_conf != null')
        .var_desc_explain_title(@click='opened_public=!opened_public') {{ label('var_desc.public') }}
        .var_desc_explain_content(v-show='opened_public')
            .row 
                .col-sm-12 
                    toggle-button(
                        @change="switch_show_help_tooltip" 
                        :value="show_help_tooltip" 
                        :sync="true"
                        :width="100"
                        :labels="{checked: label('var_desc_explain.show_help_tooltip.visible'), unchecked: label('var_desc_explain.show_help_tooltip.hidden')}")

            template(v-if='show_help_tooltip')
                .row(v-if='has_public_explaination')
                    .col-sm-12        
                        pre.var_desc_explaination {{ public_explaination }}
                .row
                    .col-sm-12        
                        .var_desc_explaination 
                            Inlinetranslatabletext(
                                :code_text="public_explaination_code_text" :is_editable="true" :textarea="true")
                            
    template(v-if='has_explaination || has_deps_params || ds_values_jsoned || is_aggregator')
        .var_desc_explain_title(@click='opened=!opened') {{ label('var_desc.explaination') }}
        .var_desc_explain_content(v-show='opened')
            .row(v-if='has_explaination')
                .col-sm-12        
                    pre.var_desc_explaination {{ explaination }}
            .row
                .col-sm-12        
                    .var_desc_explaination 
                        Inlinetranslatabletext(
                            :code_text="explaination_code_text" :is_editable="true" 
                            :translation_params="explaination_sample_param" :textarea="true")

            .row.aggregated_var_datas(v-if='is_aggregator')
                .col-sm-12        
                    .aggregated_var_datas_label {{ label('var_desc.aggregated_var_datas') }}
                .col-sm-12
                    Vardescexplainimportscomponent(:aggregated_var_datas="aggregated_var_datas")
            .row(v-else)
                .row(v-if='ds_values_jsoned && !deps_loading')
                    .col-sm-12
                        template(v-for='(ds_value_jsoned, ds_name) in ds_values_jsoned')
                            Vardescexplaindscomponent(:ds_name="ds_name" :ds_data_jsoned="ds_value_jsoned")
                .row(v-if='deps_params_loaded')
                    .col-sm-12
                        template(v-for='(var_dep, dep_id) in shown_vars_deps')
                            Vardescexplaindepcomponent(:dep_id="dep_id" :var_id="var_id_from_name(var_dep)" :params="params_from_var_dep_id[dep_id]")
                        template(v-if='vars_deps_has_mode_than_10_elts && limit_10_var_deps')
                            .var_controller_label(@click='limit_10_var_deps = false') {{ label('var_desc_explain_dep.limit_10') }}