.current_user_filter_widget_options_component
    .page_widget_options(:id="'page_widget_options_' + page_widget.id" :key="'page_widget_options_' + page_widget.id")
        
        .field_placeholder
            .input_label {{ label('current_user_filter_widget_options_component.placeholder_name_code_text') }}
            .input_wrapper
                Inlinetranslatabletext(
                    v-if='get_widget_options() && get_widget_options().get_placeholder_name_code_text(page_widget.id)'
                    :code_text="get_widget_options().get_placeholder_name_code_text(page_widget.id)" 
                    :is_editable="true"
                    :default_translation="default_placeholder_translation"
                )

        .field_ref 
            .input_label {{ label('current_user_filter_widget_options_component.vo_field_ref') }}
            .input_wrapper
                Singlevofieldrefholdercomponent(
                    @remove_field_ref="handle_remove_field_ref"
                    @add_field_ref="handle_add_field_ref"
                    :page_widget_id='page_widget ? page_widget.id : null'
                    :vo_field_ref="vo_field_ref"
                )
    