.UserNotifsViewerComponent

    .dropdown-menu.dropdown-menu-end.dropdown-menu-animated.dropdown-lg(aria-labelledby="topbar-notifydrop" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(-10px, 72px);" data-popper-placement="bottom-end")

        .dropdown-item.noti-title
            h5.m-0
                span.float-end
                    i.fa.fa-trash.fa-fw.push-right(aria-hidden="true"  @click='read_all')
                    .text-dark(@click='read_all') {{ label('UserNotifsViewerComponent.read_all') }}

                | {{ label('UserNotifsViewerComponent.title') }}

        template(v-if='get_nb_unread > 0')

            div(style="max-height: 230px;" data-simplebar="init")
                div.simplebar-wrapper(style="margin: 0px;")
                    div.simplebar-height-auto-observer-wrapper
                        div.simplebar-height-auto-observer
                    div.simplebar-mask
                        div.simplebar-offset(style="right: 0px; bottom: 0px;")
                            div.simplebar-content-wrapper(tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: hidden scroll;")
                                div.simplebar-content(style="padding: 0px;")

                                    template(v-for='notif in notifs_by_priority')
                                        Usernotifcomponent(:notification='notif')

                    .simplebar-placeholder(style="width: auto; height: 390px;")

                .simplebar-track.simplebar-horizontal(style="visibility: hidden;")
                    .simplebar-scrollbar(style="width: 0px; display: none;")

                .simplebar-track.simplebar-vertical(style="visibility: visible;")
                    .simplebar-scrollbar(style="height: 135px; display: block; transform: translate3d(0px, 0px, 0px);")

        a.dropdown-item.text-center.text-primary.notify-item.notify-all(href="javascript:void(0);") {{ label('UserNotifsViewerComponent.view_all') }}