.draggable_window
    vue-draggable-resizable.row.dragsize(
        :id='"dragsize_" + uid' 
        :resizable="false" 
        ref="dragsize" 
        :w="width" 
        :h="height" 
        :minh="minh" 
        :minw="minw" 
        :x="x" 
        :y="y" 
        :z="10000" 
        :drag-handle="'#dragsize_handle_' + uid" 
        :class="{'opened':opened}")

        .col-md-12
            .row.dragsize_handle(:id='"dragsize_handle_" + uid')
                .col-md-12  
                    i.fa.fa-minus.fa-fw.pull-right(aria-hidden="true" v-show="opened" @click="opened = !opened")
                    i.fa.fa-plus.fa-fw.pull-right(aria-hidden="true" v-show="!opened" @click="opened = !opened")
                    i.fa.fa-arrows.fa-fw.pull-right(aria-hidden="true")

                    slot(name="icons")
            .row.dragsize_content
                .col-md-12.no-padding
                    .slot_wrapper(ref="wrapper")
                        slot