@import 'skin-variables.scss';

.dragsize{

    background: rgba(255,255,255,1);
    border: solid 1px #CCC;
    z-index: 10000;
    overflow: auto;
    overflow-y: scroll;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: -1px 1px 3px #888;

    &.vdr.row.draggable{
        position: fixed;
    }

    .dragsize_content {
        margin-top: 2.8em;
    }

    .no-padding {
        padding: 0;
    }
    
    .dragsize_handle {
        background: $main_menu_bg_color;
        color: $main_menu_text_color;

        position: fixed;
        z-index: 100000;
        top: auto;
        left: auto;
        width: 429px;
        opacity: .95;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        i{
            cursor: pointer;
            font-size: 1.3em;
            padding: 12px;
            padding-bottom: 6px;
        }
    }

    &.opened .dragsize_handle {
        border-bottom-left-radius: 0px;
    }
}
