.field_value_filter_enum_widget_component {
    .vo_field_ref_label {
        font-size: 1.2em;
        margin-bottom: 0.4em;
        line-height: 1em;
    }

    .multiselect__content-wrapper {
        z-index: 0;
    }

    .multiselect {
        .multiselect__option {
            padding: 0;

            .option__title {
                padding: 12px;
            }
        }
    }

    .text_cliquable {
        display: inline-block;
        // color: #555;
        text-decoration: underline;
        cursor: pointer;
        font-size: 0.8em;
    }

    .inter_text {
        display: inline-block;
        font-size: 0.8em;
        margin: 0em 0.2em;
    }
}