include ../../../../../views/mixins/loading.pug

.widget.list_object_card_widget 
    template(v-if="widget_options")
        template(v-if="widget_options.display_orientation == 'Vertical'")
            .list_object_widget_component
                template(v-for="i in max_range_nb")
                    .object
                        .first_row
                            template(v-if="images && (images.length > 0) && images[i]")
                                .image 
                                    img(:src='images[i].path' alt="")
                            .title_and_sub
                                template(v-if="titles && (titles.length > 0) && titles[i]")
                                    .title {{ titles[i] }}
                                template(v-if="subtitles && (subtitles.length > 0) && subtitles[i]")
                                    .subtitle {{ subtitles[i]}}
                        .second_row
                            template(v-if="numbers && (numbers.length > 0) && numbers[i]")
                                .number {{ numbers[i] }}
                            .arrow 
                                template(v-if="widget_options.button_elements && (urls.length>0) && urls[i]")
                                    a.fa-solid.fa-arrow-right(:href="urls[i]" :target="widget_options.blank ?  '_blank' : '' ")
        template(v-else-if="widget_options.display_orientation == 'Horizontal'")
            .list_card_widget_component
                template(v-for="i in max_range_nb")
                    .card 
                        template(v-if="images && (images.length > 0) && images[i]")
                            .image 
                                img(:src='images[i].path' alt="")
                        .card_content 
                            template(v-if="titles && (titles.length > 0) && titles[i]")
                                .title {{ titles[i] }}
                            template(v-if="subtitles && (subtitles.length > 0) && subtitles[i]")
                                .subtitle {{ subtitles[i]}}
                            .card_footer
                                template(v-if="numbers && (numbers.length > 0) && numbers[i]")
                                    .number {{ numbers[i] }}
                                .arrow 
                                    template(v-if="widget_options.button_elements && (urls.length>0) && urls[i]")
                                        a.fa-solid.fa-arrow-right(:href="urls[i]" :target="widget_options.blank ?  '_blank' : '' ")