.login-page
    .login-box
        .login-box-body
            .login-logo(v-if='logo_url')
            h1.text-center(v-if='!logo_url') {{ label('login.recover.title') }}
            h2.text-center {{ label('login.recover.sub_title') }}
            
            p.server-answer(v-if='message') {{ message }}
            p.login-box-msg(v-if='!message') {{ label('login.recover.desc') }}
            
            form(v-on:submit.prevent="")
                .form-group.has-feedback(v-on:submit.prevent="")
                    input.form-control(type='text', v-model='email', :placeholder='label("login.email_placeholder")')
                    i.fa-solid.fa-id-card.pull-right.fa-fw(aria-hidden="true")

                .center
                    button.btn.btn-primary.btn-block.btn-flat(@click="recover") {{ label('login.recover.submit') }}
                .center(v-if='has_sms_activation')
                    button.btn.btn-light.btn-block.btn-flat(@click="recoversms") {{ label('login.recover.sms') }}

    template(v-if="footer_component")
        div(:is="footer_component") 